<div id="main-load-content">
    <section class="content">
        <div class="container">
            <div class="message-section">
                <ul>
                    <li class="paginationclass" ng-class="{'viewed': message.viewed}" ng-repeat="message in results = (messages | orderBy:'id':true) track by message.id">
                        <p>{{ message.message }}</p>

                        <div class="accept-wrap" ng-if="message.type == 'guardian.request.to_guardian'" ng-show="message.type == 'guardian.request.to_guardian'">
                            <a href="" ng-click="acceptGuardian(message.payload.id, message.id);" accept-guardian-request templateUrl="partials/guardian/templates/acceptGuardian.html" class="btn btn-theme" i18n="common.accept"></a>
                            <a href="" decline-guardian-request templateUrl="partials/guardian/templates/declineGuardian.html" class="btn btn-white" i18n="common.decline"></a>
                        </div>

                        <div class="accept-wrap" ng-if="message.type == 'contact.request.to_contact'" ng-show="message.type == 'contact.request.to_contact'">
                            <a href="" ng-click="acceptContact(message.payload.id, message.id);" accept-contact-request templateUrl="partials/contact/templates/acceptContact.html" class="btn btn-theme" i18n="common.accept"></a>
                            <a href="" decline-contact-request templateUrl="partials/contact/templates/declineContact.html" class="btn btn-white" i18n="common.decline"></a>
                        </div>

                        <div class="accept-wrap" ng-if="message.type == 'sync.request'" ng-show="message.type == 'sync.request'">
                            <a href="" ng-click="acceptSync(message.payload.uuid, message.id);" accept-sync-request templateUrl="partials/panic/templates/acceptSync.html" class="btn btn-theme" i18n="common.accept"></a>
                            <a href="" decline-sync-request templateUrl="partials/panic/templates/declineSync.html" class="btn btn-white" i18n="common.decline"></a>
                        </div>

                        <div class="message-time">
                            <span ng-bind="message.created_at | timeAgo"></span>
                        </div>
                        <div class="cl"></div>
                    </li>
                </ul>
                <div class="text-center">
                    <a class="btn btn-theme btn-150" href="javascript:void(0);" ng-click="loadMore()" i18n="common.loadMoreMessages" ng-disabled="!more_messages"></a>
                </div>
            </div>

        </div>
    </section>
</div>
