<div ng-if="account==null">
    <div class="alert alert-info empty_account_loader container">          
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i> 
        <span i18n="common.pleaseWait"></span>
    </div>
</div>
<div ng-if="account!=null">
    <div id="main-load-content" class="view-member">
        <section class="content">
            <div class="container no-padding">
                <div class="title">
                    <h3 i18n="common.accountHolderInfo"></h3>
                </div>
                <div class="section-wrap holder member-box account_holder_info">
                    <div class="clearfix">
                        <div class="section holder">
                            <div class="row pb-15">
                                <div class="col-sm-4 col-xs-4 user_photo_box">
                                    <ia-avatar avatar="{{ account.photo }}" badge="'icon-account_holder_icon'"></ia-avatar>
                                </div>
                                <div class="col-sm-8 col-xs-8">
                                    <h3 class="name-account" person-name email="{{ account.email }}" first-name="{{ account.first_name }}" middle-name="{{ account.middle_name }}" last-name="{{ account.last_name }}"></h3>
                                    <member-id model="account"><span i18n="common.memberId"></span></member-id>
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <div class="editbuton"><a ui-sref="account.edit" class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a>
                            </div>
                        </div>
                        <div class="box-view-pro">
                            <div class="col-md-12 setting_box">
                                <ul>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-6 title-pro" i18n="common.nationality"></div>
                                            <div class="col-xs-6 name-pro">{{account.nationality | countryFilter:'name'}}
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-6 title-pro" i18n="common.gender"></div>
                                            <div class="col-xs-6 name-pro">{{account.gender | settingsFilter:'genders':'name'}}</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-6 title-pro" i18n="common.accountLanguage"></div>
                                            <div class="col-xs-6 name-pro">{{account.language | languageFilter:'value'}}</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-6 title-pro" i18n="common.dateOfBirth"></div>
                                            <div class="col-xs-6 name-pro">
                                                <span full-date year="account.birth_date.year" month="account.birth_date.month" day="account.birth_date.day"> </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-6 title-pro" i18n="common.cellPhone"></div>
                                            <div class="col-xs-6 name-pro" full-phone-number phonecode="account.phone.code" phonenumber="account.phone.number"></div>
                                        </div>
                                    </li>
                                    <!--emergency_channels.emergency_channel1 = Primary Email -->
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-6 title-pro" i18n="common.emergencyChannel1"></div>
                                            <div class="col-xs-6 name-pro">{{account.email}}</div>
                                        </div>
                                    </li>
                                    <!--Srart-->
                                    <!-- emergency_channels.emergency_channel3 for Secondary Email  -->
                                    <li ng-if="account.emergency_channels.emergency_channel3" >
                                        <div class="row">
                                            <div class="col-xs-6 title-pro" i18n="common.emergencyChannel4"></div>
                                            <div class="col-xs-6 name-pro">
                                                <span>
                                                    {{account.emergency_channels.emergency_channel3.value}}
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <!--End-->
                                </ul>
                            </div>                       
                        </div>                   
                    </div>
                </div>
                <div class="section-wrap holder member-box account_holder_info">
                    <div class="clearfix">
                        <div class="box-view-pro">
                            <div class="col-md-6">
                                <ul>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-8 title-pro"><span i18n="common.emailText"></span>: {{account.email}}</div>
                                            <div class="col-xs-4 name-pro ng-binding">
                                                <div>
                                                 <div class="editbuton">
                                                    <a size="sm" controller="ChangeEmailModal" section="email" account-password templateUrl="partials/modal/account-password.html" class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-8 title-pro"><span i18n="common.password"></span>: ************</div>
                                            <div class="col-xs-4 name-pro ng-binding">
                                                <div>
                                                 <div class="editbuton">
                                                    <a change-password size="sm" templateurl="partials/modal/change-password.html" class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix " >
                        <div class="box-view-pro">
                            <div class="col-md-6">
                                <ul>
                                    <li>
                                        <div class="row"> 
                                            <div class="col-xs-8 title-pro"><span i18n="common.securityInfo"></span>:
                                                <span ng-if= "account.security_question_1 && account.security_question_2" i18n="common.on"></span>
                                                <span ng-if= "!account.security_question_1 && !account.security_question_2" i18n="common.off"></span>
                                            </div>
                                            <div class="col-xs-4 name-pro ng-binding">
                                                <div>
                                                 <div class="editbuton">
                                                    <a size="sm" ng-click= "redirectLocation()"
                                                    class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Show Api Key For Partner -->
                            <div class="col-md-6 api_key" ng-if="account.is_partner===1">
                                <ul>
                                    <li>

                                        <div class="row">

                                            <div class="row" ng-if="account.subscribed">
                                              <div class="row">

                                                <div class="col-md-8 col-xs-7  title-pro">
                                                    <span i18n="common.apiKey"></span>:
                                                    <input class="form-control" readonly 
                                                    type="{{inputType?'text':'password'}}"
                                                    name="password" ng-model="apiKey"
                                                    data-i18n-attr="{placeholder: 'common.displayPassword'}" required> 
                                                </div>
                                                <div class="col-md-4 col-xs-5 name-pro ng-binding">

                                                    

                                                  <div class="display-section">
                                                    <p class="display-password">
                                                        <label class="eye_pointer">
                                                            <input type="checkbox" ng-model="inputType" ng-checked="false" class="checkBoxEye" >
                                                            <i ng-class="inputType?'fa fa-eye': 'fa fa-eye-slash'" aria-hidden="true" ></i>
                                                            <label>
                                                              <input type="checkbox" ng-model="inputType" ng-checked="false">
                                                          </label>
                                                      </p>
                                                  </div>

                                                  <div>
                                                     <div class="editbuton">
                                                        <a href="" size="sm" class="btn btn-primary btn-lg btn-web" target="_blank" api-key-modal templateUrl="partials/partner/templates/apikey.html" i18n="common.renew"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row"> 
                                                <div class="col-xs-8 title-pro">
                                                    <div ng-if="account.subscription_ends_at!==null">
                                                        <span i18n="common.subscribeUntill"></span> <span class="top_margin birth_date" full-date year="account.subscription_ends_at.year" month="account.subscription_ends_at.month" day="account.subscription_ends_at.day">
                                                        </span>
                                                    </div>
                                                    <div ng-if="account.subscription_ends_at===null">
                                                        <span i18n="common.subscribe"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 name-pro ng-binding">
                                                    <div>
                                                        <a ng-if="account.subscription_ends_at === null" account=account size="sm" cancel-subscription  templateUrl="partials/modal/cancel-subscription.html" class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a>
                                                        <a ng-if="account.subscription_ends_at !== null" size="sm" account=account resume-subscription  templateUrl="partials/modal/resume-subscription.html" class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--End -->
                                <!-- Show Subscribed user -->
                                <div class="col-md-6" ng-if="account.is_premium">
                                    <ul>
                                        <li>
                                            <div class="row"> 
                                                <div class="col-xs-8 title-pro"> 
                                                    <div ng-if="account.subscription_ends_at!==null">
                                                        <span i18n="common.subscribeUntill"></span>
                                                        <span class="top_margin birth_date" full-date year="account.subscription_ends_at.year" month="account.subscription_ends_at.month" day="account.subscription_ends_at.day">
                                                        </span>
                                                    </div>
                                                    <div ng-if="account.subscription_ends_at===null">
                                                        <span i18n="common.subscribe"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 name-pro ng-binding">
                                                    <div class="editbuton">
                                                        <a ng-if="account.subscription_ends_at === null" account=account size="sm" cancel-subscription  templateUrl="partials/modal/cancel-subscription.html" class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a>
                                                        <a ng-if="account.subscription_ends_at !== null" size="sm" account=account resume-subscription  templateUrl="partials/modal/resume-subscription.html" class="btn btn-primary btn-lg btn-web" i18n="common.edit"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>   
                                <!--End --> 
                            </div>
                        </div>              
                        <!--End -->
                    </div>
                    <div class="delete-account">
                        <a delete-account size="sm" templateurl="partials/modal/delete-account.html" href="" i18n="common.deleteThisAccount"></a>
                    </div>
                    <!--tabber-person-->
                </div>
            </section>
        </div>
    </div>
