<div ng-if="account==null">
    <div class="alert alert-info empty_account_loader container">          
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i> 
      <span i18n="common.pleaseWait"></span>
  </div>
</div>
<div ng-if="account!=null">
<div id="main-load-content">
    <div class="main-wrap container">
   <div ng-repeat="member in account.members |filter:{id:account.id}"> 
     <div href="javascript:void(0);" add-contact member="member" account="account" templateUrl="partials/contact/templates/addContact.html" class="clickable emergency-section" ng-show="account.members[0].contacts.length == 0" ng-if = "member.id === account.id">
        <div class="account-not-completed" ng-class=" {'account-completed':globals.language === 'zh-CN'}"  ng-click= "redirectEcpLocation(account.members[0].id)" i18n="common.addAnEcpWithStep">
        </div>
     </div>
     </div>
      <div ng-repeat="member in account.members |filter:{id:account.id}">          
        <div ng-repeat="contact in member.contacts | filter:{status:'accepted'} | limitTo:1">   
         <div class="emergency-section" ng-if="(member.devices.length===0)">        
          <div class="account-not-completed">
            <a href="javascript:void(0);" i18n="common.downloadIdWithStep"></a>        
          </div>                  
          </div> 
      </div>
     </div>
     <div ng-repeat="member in account.members |filter:{id:account.id} ">
        <div ng-repeat="contact in member.contacts |filter:{status:'pending'} | limitTo:1">
           <div  href="" class="clickable emergency-section">
             <div class="account-not-completed" ng-click= "redirectEmergencyContacts()" ng-class="{'account-completed':globals.language === 'zh-CN'}"
              i18n="common.ecpToAcceptNomination">    
             </div>
           </div>
           
        </div> 
     </div>
      <div ng-repeat="member in account.members |filter:{id:account.id}">          
        <div ng-repeat="contact in member.contacts | filter:{status:'accepted'} | limitTo:1">   
         <div class="emergency-section" ng-if="(member.devices.length===0)">        
          <div class="account-not-completed">
            <a href="javascript:void(0);" app-store-modal templateUrl="partials/account/appStore.html" i18n="common.panicMobileAppSetup"></a>        
          </div>                  
          </div> 
      </div>
     </div>
        <div class="container no-padding">
          <div class="article-wrap">
            <div class="row account_holder_box">
              <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12 account_holder_left_box">
                <div class="article-title article-icon-right">
                  <h2>
                    <div class="account_holder_icons">
                   <i class="account_holder_icon"></i>
                    </div>
                    <span i18n="common.accountHolder"></span>
                  </h2>
                  <div ng-if="false">
                    <a ui-sref="account.edit" class="setting-link">
                      <img src="images/icon-setting.png" alt="">
                    </a>
                  </div>
                </div>
                <div>

                <div class="col-lg-8 col-xs-12 col-sm-8 col-md-8">
                  <div class="col-xs-3 col-lg-3 col-sm-3 pd-0-tablet account_holder_photo">
                    <ia-avatar avatar="{{ account.photo }}"></ia-avatar>
                  </div>
                  <div href="" class="row pb-15 clickable">
                    <div class="col-xs-12 col-lg-8 col-sm-12 pd-0-tablet account_holder_name">
                      <div class="photo-info">
                        <h1 class="name-account" class="name-account" person-name email="{{ account.email }}" first-name="{{ account.first_name }}" middle-name="{{ account.middle_name }}" last-name="{{ account.last_name }}"></h1>
                          <div class="popover__wrapper">
                            <member-id model="account.members[0]" class="profile_info"><span i18n="common.memberId"></span></member-id>
                              <div class="push popover__content">
                                <span ng-if="!openImageLoad"><i class="fa fa-spinner" aria-hidden="true"></i></span>
                                <div ng-if="openImageLoad">
                                <a href="{{openImage}}" class="popover__message" target="_blank"><img src="{{openImage}}" style="cursor:pointer;"></a>
                                </div>
                              </div>
                            </div>
                            <h3 i18n="common.downloadQRCode"></h3>
                            <div class="print_record_wall">
                              <div class="wechat_error" ng-if="browserName==true">
                                <span i18n="common.cardIdNotDownload"></span>
                              </div>
                              <button class="prnt_id_ice">
                                <a class="print_id_btn  cardId_icon" print-ice-id size="sm" templateUrl="partials/modal/print-ice-id.html"
                                  class="nav-print section-bdr" href="">
                                  <img src="images/CardID.png"/>
                                  <span i18n="common.idCard"></span>
                                </a>
                              </button>
                              <button class="prnt_id_ice">
                                <a class="print_id_btn cardId_icon" ng-click="downloadScreen()" size="sm" class="nav-print section-bdr" href="">
                                  <img src="images/lockScreenId.png"/>
                                  <span i18n="common.idLockscreen"></span>
                                </a>
                                <span ng-show="reqLoading" class="fa-spinner-icons lockScreen_loader"><i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i></span>
                              </button> 
                        
                            </div>                  
                          </div>
                        </div>                       
                      </div>
                      <div class="col-lg-12 col-sm-12 account_holder_right_box">
                        <div class="article-right">
                          <div class="row">    
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 account_friends_guardians_box">                            
                              <a href="" ui-sref="account.friends" class="link-field"
                                ng-class="{'link-field-warning' : friend_alerts.length > 0 || account.friends_count == 0}">
                                <img class="friend_in_need_icon" alt="">
                                <span i18n="common.friendsInNeed"></span>
                                <em ng-class="{'alert-icon' : friend_alerts.length > 0 || account.friends_count == 0}" class=" fr"> {{ account.friends_count || 0 }}
                                  <i class="fa fa-angle-right fa-lg"></i>
                                </em>
                              </a>                          
                              <a href="" ui-sref="account.showGuardians" class="link-field"
                                ng-class="{'link-field-warning' : account.guardians_count == 0}">
                                
                                <span class="guardian_icon" i18n="common.guardians"></span>
                                <em ng-class="{'alert-icon' : account.guardians_count == 0}"
                                    class="fr"> {{ account.guardians_count || 0 }}
                                  <i class="fa fa-angle-right fa-lg"></i>
                                </em>
                              </a>                          
                            </div>
                          </div>
                        </div>
                        <!--article-right -->
                      </div>
                    </div>
                    <div class="col-lg-4 col-xs-12 col-sm-4 col-md-4 rescue_wallet_section">
                    <img src="images/wallet.png"/>
                    <h4 i18n="common.storeAdditionalDetails"></h4>
                      <button class="prnt_id_ice">
                        <a class="print_id_btn cardId_icon" access-records size="sm" templateUrl="partials/modal/access-records.html" class="nav-print section-bdr" href="">                             
                          <span i18n="common.rescueWallet"></span>
                        </a>
                      </button>
                    </div>       
                  </div>         
                </div>
              </div>
            </div>
            <!--article-wrap -->

              <!-- Synced Devices -->
              <div ng-repeat="member in account.members">                       
                <div ng-if="member.devices.length>0 && member.id==account.id">
                   <div ng-if="!hasSynced(member.devices)" ng-include="'partials/member/device.html'">
                   </div>
                </div>
              </div>
            <!-- End of Synced Devices -->
            
            <!-- Emergency Contact Section -->           
            <div class="section-wrap account_holder_members emergency_contact_div" id="hide_div">               
                <h2 class="header">
                <div class="ecp_logo_red">
           <img class="ecp_logo" src="images/ECP.png" alt="">
                    </div>
                    <span  i18n="common.emergencyContactPerson"></span> 
                   
                    <div ng-repeat="member in account.members">
                     <div ng-if="member.id===account.id">
                      
                       <div  ng-show="emeCount < 2 ||member.contacts.length <= 1">
                       <div class="account_ecp member-ecp">
                                <a href="javascript:void(0);" add-contact size="sm" class="add_member_record" ng-class="(member.contacts.length==0) ? 'change_ecp_color_red' : 'change_ecp_color_green'" templateUrl="partials/contact/templates/addContact.html" >
                               </a>                            
                       </div> 
                      
                    </div>
                    </div>
                   </div>              
                </h2>
                <div class="clearfix">
                  <div ng-repeat="member in account.members">
                    <div ng-if="member.id===account.id">     
                      <div class="table_reponsive fin_list ecp_contact_person">
                        <div id="accountTable" ng-include="'partials/account/templates/ecp-contacts.html'"></div>
                      </div>
                      <div ng-if="member.contacts.length===0">
                        <h6 i18n="common.noInformationToDisplay" class="no_content"></h6>
                      </div>
                    </div>             
                  </div>
                </div>
              </div>          
            <!-- End Emergency Contact Section -->
            <div class="section-wrap account_holder_members emergency_contact_div">
                <h2 class="header">
                   <div class="member_icon_block">  
                    <i class="members_icon"></i></div>
                    <span i18n="common.membersNumber" data-number="{{account.members.length > 0 ? account.members.length-1 : 0}}"> 
                    </span>
                   <div ng-if="account.members.length<5">
                      <a class="add_member_record" access-records="{{account}}" size="sm" templateUrl="partials/modal/access-records.html">
                      </a>  
                   </div>               
                </h2>
                <div>               
                  <div ng-include="'partials/account/member.html'"></div>
                </div>
                <!--section-bdr clearfix -->
             </div>
            <!--section-wrap -->
        </div>
    </div>
</div>
</div>
 