<desktop-header ng-if="!hideHeader && logged" language="globals.language" account="account" new-messages-count="globals.newMessagesCount" is-home="isHome" show-partner="showPartner" logout="logout()"></desktop-header>
<mobile-header ng-if="!isPanic && !hideHeader" language="globals.language" account="account" new-messages-count="globals.newMessagesCount" logged="logged" is-home="isHome" logout="logout()"></mobile-header>

<div ng-include="'partials/offline/offline.html'"></div>

<div class="header-compensation" ng-class="{'is-panic' : isPanic}">
    <section ng-show="!isHome && !isPanic &&!linkExpired" class="tab breadcrumb-container">
        <div ncy-breadcrumb></div>
    </section>

    <section class="alert-view container" ng-if="!isHome && !isPanic && showAlertsHistory && alert_histories.length > 0">
        <div id="alert-container" class="emergency-section alert_history">
            <div class="emergency-inner">
                <div class="col-md-12 alert_history_message alert_history" ng-repeat="alert_history in histories =  (alert_histories | orderBy:'alerted_at.date':true  | limitTo: alerts_limit) track by alert_history.id">
                    <div ng-include="'partials/member/alert/alert-history.html'"></div>
                </div>
            </div>
        </div>
    </section>

    <section ui-view="alert" class="alert-view container no-padding" ng-if="!isHome && !isPanic && (alerts | filter: {show:true}).length > 0 && showAlerts && settings.showAlert">
        <div class="alert-section row">
            <div class="col-sm-12">
                <div class="alert-title alert-title-big" ng-class="{'alert-title-light': globals.language == 'zh-CN'}" i18n="common.alerts"></div>
            </div>
            <div class="col-sm-12">
                <div class="alert-item emrgency_alert_message">
                    <ul>
                        <li class="clearfix" ng-repeat="alert in results = (alerts | orderBy:'alerted_at.date':true | filter: {show:true} | limitTo: alerts_limit) track by alert.id">
                            <div ng-include="'partials/member/alert/alert.html'"></div>
                        </li>
                    </ul>
                    <div class="text-center">
                        <a class="btn load_more" ng-if="alerts_limit == alerts.length && alerts_limit > alerts_default" href="javascript:void(0);"  ng-click="toggleAlerts()" i18n="common.loadLessAlerts">  </a>

                        <a class="btn load_more" ng-if="alerts_limit < alerts.length" href="javascript:void(0);"  ng-click="toggleAlerts()" i18n="common.loadMoreAlerts">  </a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="emergency-section alert-view container" ng-if="!isHome && !isPanic && accountProfileIsNotCompleted(account) && logged">
        <div class="row">
            <div class="col-xs-12">

                <div class="account-not-completed " ng-class="{'account-completed':globals.language === 'zh-CN'}" i18n="common.accountProfileIsNotCompleted"></div>

                

            </div>
        </div>
    </div>



    <div class="emergency-section alert-view container" add-ecp-alert ng-if="showAddEcpAlert && (!member.contacts || member.contacts.length <= 0)">
        <div class="row">
            <div class="col-xs-12">
                <div class="account-not-completed" ng-class="{'account-completed':globals.language === 'zh-CN'}" i18n="common.addAnEcp"></div>
            </div>
        </div>
    </div>

    <section ui-view ng-class="{ 'has-alerts': alerts.length > 0 && showAlerts, 'is-home': isHome }"></section>

    <div id='footer-include' ng-include src="'partials/footer.html'"></div>

    <!-- <div class="app-version" ng-if="isHome">Version 0.5.0</div> -->
</div>
