<div class="tab">
    <div class="container">
        <a href="#"><span i18n="common.home"></span> </a> <i class="fa fa-angle-right"></i><a href="#">David </a> <i
            class="fa fa-angle-right"></i> <span i18n="common.history"></span>
    </div>
    <!--container-->
</div>
<!--tab-->
<!--Endheader-->

<div id="main-load-content">
    <div class="main-wrap">
        <div class="container no-padding">
            <div class="bx-white">
                <ul class="list-history">
                    <li>
                        <div class="row">
                            <div class="col-xs-4"><h3 i18n="common.time"></h3></div>
                            <div class="col-xs-8"><h3 i18n="common.event"></h3></div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-4">2013-09-12 21:22</div>
                            <div class="col-xs-8">A third-party person has accessed this member's profile during an
                                emergency event.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-4">2013-09-12 21:22</div>
                            <div class="col-xs-8">A third-party person has accessed this member's profile during an
                                emergency event.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-4">2013-09-12 21:22</div>
                            <div class="col-xs-8">A third-party person has accessed this member's profile during an
                                emergency event.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-4">2013-09-12 21:22</div>
                            <div class="col-xs-8">A third-party person has accessed this member's profile during an
                                emergency event.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-4">2013-09-12 21:22</div>
                            <div class="col-xs-8">A third-party person has accessed this member's profile during an
                                emergency event.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-4">2013-09-12 21:22</div>
                            <div class="col-xs-8">A third-party person has accessed this member's profile during an
                                emergency event.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-4">2013-09-12 21:22</div>
                            <div class="col-xs-8">A third-party person has accessed this member's profile during an
                                emergency event.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!--footer end -->
