<form name="ForgetPasswordEmailForm" novalidate ng-submit="ForgetPasswordEmailForm.$valid && getSecurityQuestions(account.email)" role="form">
    <div class="form-sub-in">
        <div class="form-group" ng-class="{'has-error': ForgetPasswordEmailForm.$submitted && ForgetPasswordEmailForm.account_email.$invalid}">
            <label><span i18n="common.enterEmail"></span> <span class="require"><i class="icon-star_icon"></i></span></label>
            <input type="email"
                   name="account_email"
                   data-i18n-attr="{placeholder: 'common.emailAddress'}"
                   class="form-control"
                   ng-maxlength="64"
                   ng-model="account.email" required email-validator>

        </div>
        <div ng-show="ForgetPasswordEmailForm.$submitted" ng-messages="ForgetPasswordEmailForm.account_email.$error">
            <div class="alert alert-danger" ng-message="required"><span i18n="errors.forgetPasswordEmailRequired"></span></div>
            <div class="alert alert-danger" ng-message="email"><span i18n="errors.emailFormat"></span></div>
            <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.emailMaxLength"></span></div>
        </div>
        <div ng-repeat="error in errors">
            <div class="alert alert-danger">{{ ('errors.' + error.type) | i18n }}</div>
        </div>
        <div class="text-center btn-lg-wrap">
            <p><button type="submit" class="btn btn-theme btn-150 block-mobile" i18n="common.next"></button></p>
            <a ui-sref="base.contactus" class="underline" i18n="common.needHelp"></a>
        </div>
    </div>
</form>
