<div id="main-load-content" back-button="base.login">
    <div class="main-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-1 mobile-hide"></div>
                <span class="title heading_txt" page-title></span>
                <div class="col-xs-12 mobile-cover mobile-cover-text">

                    <div class="justified-links">
                        <span class="active-first" ng-class="{'active': onStep('/forget-password/email')}"><span><em
                                class="dot"></em><span class="label-text text1" i18n="common.enterEmail"></span></span></span>
                        <span ng-class="{'active': onStep(['/forget-password/question1', '/forget-password/question2']), 'active-first': onStep(['/forget-password/question1', '/forget-password/question2', '/forget-password/success'])}"
                              class="line1"><span><em class="dot"></em><span class="label-text text2 wrap_text" i18n="common.answerSecurityQuestion"></span></span></span>
                        <span ng-class="{'active': onStep('/forget-password/success'), 'active-first': onStep('/forget-password/success')}" class="line2"><span><em class="dot"></em><span
                                class="label-text text3" i18n="common.resetPassword"></span></span></span>
                    </div>

                    <div class="form-in">
                        <div ui-view="forgetPassword" class="shuffle-animation"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
