<div id="main-load-content" back-button="base.login">
    <div class="main-wrap">
        <div class="container">
            <div class="form-outer">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <form role="form" novalidate name="ResetPasswordForm" ng-submit="ResetPasswordForm.$valid && resetPassword(ResetPasswordForm, new_password);">
                                    <div ng-show="resetPasswordSuccess" class="alert alert-success" role="alert" locale-link data-i18n-attr="{content: 'messages.resetPasswordSuccess'}"></div>
                                    <div class="form-group">
                                        <label ia-label required message="tooltips.password"><strong i18n="common.newPassword"></strong></label>
                                        <div class="input-email" ng-class="{'has-error': ResetPasswordForm.$submitted && ResetPasswordForm.new_password.$invalid}">
                                            <input ng-model="new_password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{1,}" name="new_password"
                                                   onCopy="return false" onPaste="return false" autocomplete=off
                                                   type="password" data-i18n-attr="{placeholder: 'common.newPassword'}"
                                                   ng-minlength=8 ng-maxlength=12 required>
                                        </div>
                                        <div ng-show="ResetPasswordForm.$submitted" ng-messages="ResetPasswordForm.new_password.$error">
                                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.passwordRequired"></span></div>
                                            <div class="alert alert-danger" ng-message="minlength"><span i18n="errors.minlength"></span></div>
                                            <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.maxlength"></span></div>
                                        </div>
                                        <div ng-show="ResetPasswordForm.$error.pattern">
                                            <div class="alert alert-danger"><span i18n="errors.alphanumericPassword"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label ia-label required message="tooltips.repeatPassword"><strong i18n="common.repeatNewPassword"></strong></label>
                                        <div class="input-email" ng-class="{'has-error': ResetPasswordForm.$submitted && ResetPasswordForm.repeat_password.$invalid}">
                                            <input ng-match="{{new_password}}" ng-model="repeat_password"
                                                   class="form-control" name="repeat_password" type="password"
                                                   onCopy="return false" onPaste="return false" autocomplete=off
                                                   ng-minlength=8 ng-maxlength=12
                                                   data-i18n-attr="{placeholder: 'common.repeatNewPassword'}" required>
                                        </div>
                                        <div ng-show="ResetPasswordForm.$submitted" ng-messages="ResetPasswordForm.repeat_password.$error">
                                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.passwordRequired"></span></div>
                                            <div class="alert alert-danger" ng-message="match"><span i18n="errors.passwordRepeatNotMatch"></span></div>
                                            <div class="alert alert-danger" ng-message="minlength"><span i18n="errors.minlength"></span></div>
                                            <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.maxlength"></span></div>
                                        </div>
                                        <div ng-show="ResetPasswordForm.$error.pattern">
                                            <div class="alert alert-danger"><span i18n="errors.alphanumericPassword"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-repeat="error in errors">
                                        <div class="alert alert-danger">{{error.message}}</div>
                                    </div>
                                    <p><button type="submit" class="btn btn-theme btn-150 btn-block" i18n="common.changePassword"></button></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
