<form name="ForgetPassword2Form" novalidate ng-submit="ForgetPassword2Form.$valid && verifySecurityQuestion(account.answer2, account.email, 2)">
    <div class="widget">
        <div>
            <p i18n="common.pleaseAnswerToReset"></p>
            <div class="help-block error text-center" ng-show="!showError" i18n="common.securityAnswerIncorrect"></div>
            <div class="help-block error text-center" ng-repeat="error in errors">
                <div class="error">{{error.message}}</div>
            </div>
        </div>
    </div>

    <div class="form-sub-in">
        <div class="form-group" ng-class="{'has-error': ForgetPassword2Form.$submitted && ForgetPassword2Form.answer2.$invalid}">
            <label ia-label required>{{questions[1][getLocalizedField('title')]}}</label>
            <input type="text" data-i18n-attr="{placeholder: 'common.securityQuestion2'}" class="form-control"
                   ng-maxlength="64"
                   name="answer2" ng-model="account.answer2" required>
        </div>
        <div ng-show="ForgetPassword2Form.$submitted" ng-messages="ForgetPassword2Form.answer2.$error">
            <div class="alert alert-danger" ng-message="required"><span i18n="errors.securityAnswer1Required"></span></div>
            <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.securityAnswer2MaxLength"></span></div>
        </div>
        <div ng-show="ForgetPassword2Form.$submitted" ng-messages="ForgetPassword2Form.captcha2.$error">
            <div class="alert alert-danger" ng-message="captcha"><span i18n="errors.captchaNotValid"></span></div>
        </div>
        <div class="text-center btn-lg-wrap">
            <p><button type="submit" class="btn btn-theme btn-150 block-mobile" i18n="common.next"></button></p>
            <a ui-sref="base.contactus" class="underline" i18n="common.needHelp"></a>
        </div>
    </div>
</form>
