<form name="ForgetPassword1Form" novalidate ng-submit="ForgetPassword1Form.$valid && verifySecurityQuestion(account.answer1, account.email, 1)" role="form">
    <div class="widget">
        <div>
            <p i18n="common.pleaseAnswerToReset"></p>
        </div>
        <div class="help-block error text-center" ng-repeat="error in errors">
            <div class="error">{{error.message}}</div>
        </div>
    </div>

    <div class="form-sub-in">

        <div ng-if="questions != [] && questions[0] != undefined && questions[1] != undefined ">
            <div class="form-group" ng-class="{'has-error': ForgetPassword1Form.$submitted && ForgetPassword1Form.answer1.$invalid}">
                <label ia-label required>{{questions[0][getLocalizedField('title')]}}</label>
                <input type="text" name="answer1" data-i18n-attr="{placeholder: 'common.securityQuestion1'}"
                       ng-maxlength="64"
                       class="form-control" ng-model="account.answer1" required>
            </div>
        </div>

        <div ng-if="questions == [] || questions[0] == undefined && questions[1] == undefined ">
            <label ia-label required message="tooltips.captcha" translation="common.captcha"></label>
               <captcha class="row no-margin">
                   <div class="col-xs-8">
                       <input type="text"
                              ng-model="captcha1"
                              class="form-control"
                              captcha-validator
                              data-i18n-attr="{placeholder: 'common.inputCaptcha'}"
                              name="captcha1"
                              required>
                   </div>
                   <div class="col-xs-4">
                       <canvas ia-captcha class="col-offset-3_3" width="85" height="32"></canvas>
                   </div>
               </captcha>
           </div>
        </div>
        <div ng-show="ForgetPassword1Form.$submitted" ng-messages="ForgetPassword1Form.answer1.$error">
            <div class="alert alert-danger" ng-message="required"><span i18n="errors.securityAnswer1Required"></span></div>
            <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.securityAnswer1MaxLength"></span></div>
        </div>
        <div ng-show="ForgetPassword1Form.$submitted" ng-messages="ForgetPassword1Form.captcha1.$error">
            <div class="alert alert-danger" ng-message="captcha"><span i18n="errors.captchaNotValid"></span></div>
        </div>
        <div class="text-center btn-lg-wrap">
            <p><button type="submit" class="btn btn-theme btn-150 block-mobile" i18n="common.next"></button></p>
            <a ui-sref="base.contactus" class="underline" i18n="common.needHelp"></a>
        </div>
    </div>
</form>
