<div id="container-fluid">
    <div id="main-load-content" class="content_block_data">
        <section class="container">
        <div> 
        <div class="modal fade" id="CsvResult" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">                    
                    {{createdRecords}} <span i18n="common.newRecordsCreated"></span>                       
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <span i18n="common.recordCreatedFailed" ng-show="csvErrors.length>0"></span> <br>
                    <ul>
                     <li ng-repeat="error in csvErrors">
                            <div>{{error}}</div>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
            <div class="form-group">
                <div class="row box-upload">
                    <div class="col-sm-7 col-lg-8">
                       
                    </div>
                    <div class="csv_upload_btn" id="uploadCsvFile">
                        <span i18n="common.csvFileUploadRecommendation"></span>
                        <div id="uploadCsvFile" class="upload_avatar col-sm-12 row">
                            <button class="btn btn-primary btn-lg btn-block btn-web" type="button">
                            <span class="upload-btn" i18n="common.upload"></span>
                            </button>
                            <ng-csv-file accept="'.csv'" ng-model="partnerAccount.CsvInfo" model="partnerAccount" name="file" max-size="3072"></ng-csv-file>
                         <span ng-show="csvUploadLoading" class="fa-spinner-icons"><i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i></span>
                        
                        </div>
                        <div ng-show="showWaitingText" class="text-center success_msg">
                        <span i18n="common.fileUploadingWait"></span>
                  </div>
                  
                    </div>
                  
                    </div>                
                    <div ng-show="showExceedError">
                        <div class="alert alert-danger csv-alert-danger"> <span class="upload-btn" i18n="common.fileSize"></span></div>
                  </div>     
                  <div ng-show="showEmptyFileError">
                   <div class="alert alert-danger csv-alert-danger"> <span class="upload-btn" i18n="common.emptyFileValidation"></span></div>
                                      </div>   
                  <div ng-show="showCsvFileError">
                        <div class="alert alert-danger csv-alert-danger"><span class="upload-btn" i18n="common.csvFileValidation"></span></div>
                </div>
                   
            </div>
        </div>
        <div class="title">
            <h3 i18n="common.createAccount"></h3>
        </div>
            <form role="form" novalidate name="addPartnerForm" ia-form-error-scroller id="edit-form" ng-submit="addPartnerForm.$valid && handle(partnerAccount)"  >
                <div class="box-register account_info_box">
                    <div class="form-group">
                        <label ia-label required translation="common.dateOfBirth"></label>
                        <ia-date type="past-16" required  form="addPartnerForm" model="partnerAccount.birth_date"></ia-date>
                    </div>

            <div class="form-group" ng-class="{'has-error': (addPartnerForm.email.$hasVisited || addPartnerForm.$submitted) && addPartnerForm.email.$invalid}">
            <label ia-label required message="tooltips.email" translation="common.emailAddress"></label>
            <input class="form-control" name="email" ng-model="partnerAccount.email"
                   onCopy="return false" onPaste="return false" autocomplete=off
                   data-i18n-attr="{placeholder: 'common.emailAddress'}"
                   type="email" ng-maxlength="64" required> 

            <div ng-show="addPartnerForm.email.$hasVisited || addPartnerForm.$submitted" ng-messages="addPartnerForm.email.$error">
                <div class="alert alert-danger" ng-message="required"><span i18n="errors.emailRequired"></span></div>
                <div class="alert alert-danger" ng-message="email"><span i18n="errors.emailFormat"></span></div>
                <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.emailMaxLength"></span></div>              
            </div>
        </div>
                     <div class="form-group">
                        <label for="partner_as_ecp" i18n="common.partnerAsEcp"></label>
                        <input type="checkbox" name="partner_as_ecp" ng-init="partnerAccount.partner_ecp=true" ng-model="partnerAccount.partner_ecp" id="partner_as_ecp"/>
                    </div>
                
              
                </div>
                <!--box-register-->
               
                <div class="box-register">
                    
                    <div class="form-group">
                        <div class="row require-input">
                            <div class="col-xs-4">
                                <label ia-label translation="common.lastName" required></label>
                            </div>
                            <div class="col-xs-4">
                                <label ia-label translation="common.firstName" required></label>
                            </div>
                            <div class="col-xs-4">
                                <label ia-label translation="common.middleName"></label>
                            </div>
                        </div>
                        <div class="row require-input">
                            <div class="col-xs-4" ng-class="{'has-error': addPartnerForm.$submitted && addPartnerForm.last_name.$invalid}">
                                <input name="last_name" class="form-control" data-i18n-attr="{placeholder: 'common.lastName'}" ng-model="partnerAccount.last_name" value="" required>
                                <span class="require">
                                    <i class="icon-star_icon"></i>
                                </span>
                            </div>
                            <div class="col-xs-4" ng-class="{'has-error': addPartnerForm.$submitted && addPartnerForm.first_name.$invalid}">
                                <input name="first_name" class="form-control" data-i18n-attr="{placeholder: 'common.firstName'}" ng-model="partnerAccount.first_name"  required>
                                <span class="require">
                                    <i class="icon-star_icon"></i>
                                </span>
                            </div>
                            <div class="col-xs-4">
                                <input  class="form-control" name="middle_name" data-i18n-attr="{placeholder: 'common.middleName'}" ng-model="partnerAccount.middle_name" >
                            </div>
                        </div>
                        <div ng-show="addPartnerForm.$submitted" ng-messages="addPartnerForm.last_name.$error">
                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.lastNameRequired"></span></div>
                        </div>
                        <div ng-show="addPartnerForm.$submitted" ng-messages="addPartnerForm.first_name.$error">
                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.firstNameRequired"></span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label ia-label required translation="common.gender"></label>
                        <br>
                        <div class="custom_select" ng-class="{'has-error': addPartnerForm.$submitted && addPartnerForm.gender.$invalid}">
                            <select  class="form-control" name="gender" ng-options="item.id as item.name for item in results = (globals.settings.genders.toArray() | optionsTrans:'name' | optionsSort:'name')" required ng-model="partnerAccount.gender">
                                <option class="hide" value="" i18n="common.gender"></option>
                            </select>
                        </div>
                        <div ng-show="addPartnerForm.$submitted" ng-messages="addPartnerForm.gender.$error">
                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.genderRequired"></span></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label ia-label required translation="common.nationality"></label>
                        <div class="custom_select" ng-class="{'has-error': addPartnerForm.$submitted && addPartnerForm.nationality.$invalid}">
                            <select name="nationality"  class="form-control" ng-options="item.id as item.name for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'name')" required ng-model="partnerAccount.nationality">
                                <option value="" i18n="common.selectCountry" ></option>
                            </select>
                        </div>
                        <div ng-show="addPartnerForm.$submitted" ng-messages="addPartnerForm.nationality.$error">
                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.nationalityRequired"></span></div>
                        </div>
                    </div>
                   
                    <div ng-repeat="error in errors">
                        <div class="alert alert-danger">{{error.message}}</div>
                    </div>
                 </div>

                 <div class="container">
                        <div class="row leftrow partner_account" >
                              <div class="col-md-8">
                              </div>
                              <div class="col-xs-12 col-md-12 col-lg-12">

                              <div class="success-message member-save-info fade-in fade-message" hidden>
                                     <div class="alert alert-success" i18n="common.saveSuccessfully"></div>
                                </div>
                                
                              <div class="save-group">
                                 <button ng-click="reset()" class="btn btn-default btn-lg btn-block btn-cancel btn-padding" i18n="common.cancelAllChanges"></button>
                                   <button type="submit" class="btn btn-primary btn-lg btn-block btn-web btn-save" id="registration-submit" i18n="common.save"></button>
                              </div>
                              </div>
                              
                          </div>
                      </div>
            </form>
        </section>
    </div>
</div>


