<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="" href="#collapseLiving_wills" class="collapse-header-living-wills collapse-a collapsed accordion-toggle"
             ia-label>
            <i class="member-accordion-icon icon-living_will_record_icon"></i> <span i18n="common.livingWill"></span>

            <span class="info-badge" ng-show= "!shareMode && !previewMode && !setEcpPermission">{{getLivingWillCount()}}</span>
            <span class="info-badge" ng-show= "shareMode && !previewMode">{{member.additional_information.records.living_will.date.year ||member.additional_information.records.living_will.notes||member.additional_information.records.living_will.document ? 1 :0}}</span>
           <span class="info-badge" ng-show= "previewMode && !publicMode  || setEcpPermission">{{permission.records.living_will.isAllSelected && (member.additional_information.records.living_will.date.year|| member.additional_information.records.living_will.notes||member.additional_information.records.living_will.document ) ? 1 :0}}</span>
           <span class="info-badge" ng-show= "publicMode">{{member.additional_information.records.living_will.date.year && member.additional_information.records.living_will.date.year || member.additional_information.records.living_will.notes || member.additional_information.records.living_will.document ? 1 :0}}</span>
        </div>
    </div>
    <div id="collapseLiving_wills" class="panel-collapse collapse">
        <div class="panel-body">

            <div class="no-info" ng-show = "!previewMode || publicMode" ng-if="
            (!member.additional_information.records.living_will.date.year &&
            !member.additional_information.records.living_will.document &&
            !member.additional_information.records.living_will.notes)" i18n="common.noInformationToDisplay"></div>
             <div class="no-info no-info-bottom" ng-show = "!shareMode && !setEcpPermission && !publicMode && previewMode" ng-if="
            (!permission.records.living_will.date.year &&
            !permission.records.living_will.document &&
            !permission.records.living_will.notes|| !member.additional_information.records.living_will.date.year &&
            !member.additional_information.records.living_will.document &&
            !member.additional_information.records.living_will.notes)" i18n="common.noInformationToDisplay"></div>

            <ul class="view-member-list list-group row" ng-init="permission.records.living_will.id = member.additional_information.records.living_will.id" ng-class="{'bottom_spacing': !member.additional_information.records.living_will.document && previewMode}">
                <li class="list-group-item col-md-12">
                
                <div ng-class="{'row':showField(member.additional_information.records.living_will.date.year, permission.records.living_will.isAllSelected) || showField(member.additional_information.records.living_will.notes, permission.records.living_will.isAllSelected) || showField(member.additional_information.records.living_will.document, permission.records.living_will.isAllSelected)}">

            <!--Start Heading -->
                    <div class="col-sm-12 text-center">
                            <label>
                                <div class="col-xs-1 no-padding text-center">
                                    <input ng-model="permission.records.living_will.isAllSelected"
                                           type="checkbox" select-all-checkbox cb-ascendants="lifestyleCheckbox" cb-id = "willbox" ng-click="toggleLivingWillInfo();recordDataContent()" ng-show="showField(member.additional_information.records.living_will.date.year, permission.records.living_will.isAllSelected) || showField(member.additional_information.records.living_will.notes, permission.records.living_will.isAllSelected) || showField(member.additional_information.records.living_will.document, permission.records.living_will.isAllSelected)" >
                                </div>
                                <div ng-class="{'col-xs-10': !previewMode, 'col-xs-12': previewMode}">
                                    <b><strong i18n="common.livingWill" ng-show="showField(member.additional_information.records.living_will.date.year, permission.records.living_will.isAllSelected) || showField(member.additional_information.records.living_will.notes, permission.records.living_will.isAllSelected) || showField(member.additional_information.records.living_will.document, permission.records.living_will.isAllSelected)"></strong></b>
                                </div>
                            </label>
                        </div>
            <!--End Heading -->

                        <div class="col-sm-12" ng-show="showField(member.additional_information.records.living_will.date.year, permission.records.living_will.isAllSelected)" ng-class="{'grayout': !permission.records.living_will.isAllSelected && !previewMode}">
                            <div class="list-info">
                                <label for="living_will_date">
                                    <div class="col-xs-1 no-padding text-center" hidden>
                                        <input ng-model="permission.records.living_will.date"
                                               name="living_will_date" id="living_will_date"
                                               type="checkbox" select-all-checkbox cb-ascendants="lifestyleCheckbox" />
                                    </div>
                                    <div class="col-xs-4 no-padding" i18n="common.date"></div>
                                    <div class="no-padding right text-right col-xs-8" >
                                        <span full-date year="member.additional_information.records.living_will.date.year" month="member.additional_information.records.living_will.date.month" day="member.additional_information.records.living_will.date.day"> </span>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-show="showField(member.additional_information.records.living_will.notes, permission.records.living_will.isAllSelected)" ng-class="{'grayout': !permission.records.living_will.isAllSelected && !previewMode}">
                            <div class="list-info">
                                <label for="living_will_notes">
                                    <div class="col-xs-1 no-padding text-center" hidden>
                                        <input ng-model="permission.records.living_will.notes"
                                               name="living_will_notes" id="living_will_notes"
                                               type="checkbox" select-all-checkbox cb-ascendants="lifestyleCheckbox" />
                                    </div>
                                    <div class="col-xs-4 no-padding" i18n="common.notes"></div>
                                    <div class="no-padding right text-right  col-xs-8">{{member.additional_information.records.living_will.notes}}</div>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 attachment-height" ng-show="showField(member.additional_information.records.living_will.document, permission.records.living_will.isAllSelected)" ng-class="{'grayout': !permission.records.living_will.isAllSelected && !previewMode}">
                            <div class="list-info" ng-class="{'ecp_permissions_attachment': setEcpPermission || shareMode}">
                                <label for="living_will_attachment">
                                    <div class="col-xs-1 no-padding text-center" hidden>
                                        <input ng-model="permission.records.living_will.document"
                                               name="living_will_attachment" id="living_will_attachment"
                                               type="checkbox" select-all-checkbox cb-ascendants="lifestyleCheckbox" />
                                    </div>
                                    <div class="col-xs-4 no-padding attachment_border" i18n="common.attachment"></div>
                                    <div class="no-padding right col-xs-12" ng-show="showField(member.additional_information.records.living_will.document, permission.records.living_will.isAllSelected)">
                                        <attachment file="member.additional_information.records.living_will.document"></attachment>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" ng-model="permission.records.living_will.id"/>
                </li>
            </ul>
        </div>
    </div>


</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="" href="#collapseEmergency_messages" class="collapse-header-emergency-messages collapse-a collapsed accordion-toggle"
             ia-label>
            <i class="member-accordion-icon icon-emergency_record_icon"></i> <span i18n="common.emergencyRecords"></span>
            <span class="info-badge" ng-show = "shareMode || previewMode">{{member.additional_information.records.emergency_messages.length}}</span>
            <span class="info-badge" ng-show = "!shareMode && !previewMode">{{getEmergencyMessages()}}</span>
        </div>
    </div>
    <div id="collapseEmergency_messages" class="panel-collapse collapse">
        <div class="panel-body">

             <div class="no-info" ng-if="member.additional_information.records.emergency_messages.length == 0" ng-show="shareMode || setEcpPermission || previewMode" i18n="common.noInformationToDisplay"></div>

             <div class="no-info" ng-if="getEmergencyMessages() == 0" ng-show = "!shareMode && !setEcpPermission" i18n="common.noInformationToDisplay"></div>

            <ul class="view-member-list list-group row" ng-class = "{ 'preview_data' : previewMode}">
                <li class="list-group-item" ng-repeat="emergency_message in member.additional_information.records.emergency_messages track by emergency_message.id" ng-init="permission.records.emergency_messages[$index].id = emergency_message.id" ng-class="{'show_data' : lifestyle.emergencyMessageCheck, 'email_mode' : publicMode, 'show_public_data' : publicMode &&
                (member.additional_information.records.emergency_messages[$index].file ||
                member.additional_information.records.emergency_messages[$index].notes)}">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <label>
                                <div class="col-xs-1 no-padding text-center">
                                    <input ng-model="lifestyle.emergencyMessageCheck"
                                           type="checkbox" select-all-checkbox cb-ascendants="lifestyleCheckbox" id="emergencyMessage_{{$index}}" ng-click = "recordDataContent()">
                                </div>
                                <div ng-class="{'col-xs-10': !previewMode, 'col-xs-12': previewMode}">
                                    <b><strong i18n="common.emergencyRecordNumber" data-number="{{$index + 1}}" ng-show="showField(emergency_message.notes, permission.records.emergency_messages[$index].notes)"></strong></b>
                                </div>
                            </label>
                        </div>
                        <div class="col-sm-12" ng-class="{'grayout': !lifestyle.emergencyMessageCheck && !previewMode}">
                            <div class="list-info">
                                <label for="emergency_message_notes_{{$index}}">
                                    <div class="col-xs-1 no-padding text-center" hidden>
                                        <input ng-model="permission.records.emergency_messages[$index].notes"
                                               name="emergency_message_notes_{{$index}}" id="emergency_message_notes_{{$index}}"
                                               type="checkbox" select-all-checkbox cb-ascendants="lifestyleCheckbox,emergencyMessage_{{$index}}" />
                                    </div>
                                    <div class="col-xs-4 no-padding" i18n="common.notes"></div>
                                    <div ng-show="showField(emergency_message.notes, permission.records.emergency_messages[$index].notes)" class="no-padding right text-right  col-xs-8">{{emergency_message.notes}}</div>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 attachment-height" ng-class="{'grayout': !lifestyle.emergencyMessageCheck && !previewMode}">
                            <div class="list-info" ng-class="{'ecp_permissions_attachment': setEcpPermission || shareMode}">
                                <label for="emergency_message_file_{{$index}}">
                                    <div class="col-xs-1 no-padding text-center" hidden>
                                        <input ng-model="permission.records.emergency_messages[$index].file"
                                               name="emergency_message_file_{{$index}}" id="emergency_message_file_{{$index}}"
                                               type="checkbox" select-all-checkbox cb-ascendants="lifestyleCheckbox,emergencyMessage_{{$index}}" />
                                    </div>
                                    <div class="col-xs-4 no-padding attachment_border" i18n="common.attachment"></div>
                                    <div ng-show="showField(emergency_message.file, permission.records.emergency_messages[$index].file)" class="no-padding right text-right  col-xs-12"><attachment file="emergency_message.file"></attachment></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="" href="#collapseHospital_records" class="collapse-header-hospital-records collapse-a collapsed accordion-toggle"
             ia-label>
            <i class="member-accordion-icon icon-hospital_record_icon"></i> <span i18n="common.hospitalRecords"></span>
            <span class="info-badge" ng-show = "shareMode">{{member.additional_information.records.hospital_records.length}}</span>
            <span class="info-badge" ng-show = "!shareMode">{{getHospitalRecordsCount()}}</span>
        </div>
    </div>
    <div id="collapseHospital_records" class="panel-collapse collapse">
        <div class="panel-body">

             <div class="no-info" ng-if="member.additional_information.records.hospital_records.length == 0" ng-show="shareMode || setEcpPermission" i18n="common.noInformationToDisplay"></div>

             <div class="no-info" ng-if="getHospitalRecordsCount() == 0" ng-show = "!shareMode && !setEcpPermission" i18n="common.noInformationToDisplay"></div>

            <ul class="view-member-list list-group row" ng-class = "{ 'preview_data' : previewMode}">
                <li class="list-group-item" ng-repeat="hospital_record in member.additional_information.records.hospital_records track by hospital_record.id" ng-init="permission.records.hospital_records[$index].id = hospital_record.id" ng-class="{'show_data' : lifestyle.hosptialRecordCheck, 'email_mode' : publicMode, 'show_public_data' : publicMode && (member.additional_information.records.hospital_records[$index].file ||
                member.additional_information.records.hospital_records[$index].notes||
                member.additional_information.records.hospital_records[$index].date ||
                member.additional_information.records.hospital_records[$index].practitioner ||
                member.additional_information.records.hospital_records[$index].category
                
                )}">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <label>
                                <div class="col-xs-1 no-padding text-center">
                                    <input ng-model="lifestyle.hosptialRecordCheck"
                                           type="checkbox" select-all-checkbox cb-ascendants="lifestyleCheckbox" id="hospitalRecord_{{$index}}" ng-click = "recordDataContent()">
                                </div>
                                <div ng-class="{'col-xs-10': !previewMode, 'col-xs-12': previewMode}">
                                <b><strong i18n="common.hospitalRecordNumber" data-number="{{$index + 1}}"></strong></b>
                                    </div>
                            </label>
                        </div>
                        <div class="col-sm-12" ng-class="{'grayout': !lifestyle.hosptialRecordCheck && !previewMode}">
                            <div class="list-info">
                                <label for="hospital_records_date_{{$index}}">
                                    <div class="col-xs-1 no-padding text-center" hidden>
                                        <input ng-model="permission.records.hospital_records[$index].date"
                                               name="hospital_records_date_{{$index}}" id="hospital_records_date_{{$index}}"
                                               type="checkbox" select-all-checkbox cb-ascendants="lifestyleCheckbox,hospitalRecord_{{$index}}" />
                                    </div>
                                    <div class="col-xs-4 no-padding" i18n="common.date"></div>
                                    <div ng-show="showField(hospital_record.date.year, permission.records.hospital_records[$index].date)" class="no-padding right text-right  col-xs-8">
                                    <span full-date year="hospital_record.date.year" month="hospital_record.date.month" day="hospital_record.date.day"> </span>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-class="{'grayout': !lifestyle.hosptialRecordCheck && !previewMode}">
                            <div class="list-info">
                                <label for="hospital_records_category_{{$index}}">
                                    <div class="col-xs-1 no-padding text-center" hidden>
                                        <input ng-model="permission.records.hospital_records[$index].category"
                                               name="hospital_records_category_{{$index}}" id="hospital_records_category_{{$index}}"
                                               type="checkbox" select-all-checkbox cb-ascendants="lifestyleCheckbox,hospitalRecord_{{$index}}" />
                                    </div>

                                    <div class="col-xs-4 no-padding" i18n="common.category"></div>
                                    <div class="no-padding right text-right  col-xs-8">{{hospital_record.category | settingsFilter:'hospitalisation_reasons':'name'}}</div>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-class="{'grayout': !lifestyle.hosptialRecordCheck && !previewMode}">
                            <div class="list-info">
                                <label for="hospital_records_practitioner_{{$index}}">
                                    <div class="col-xs-1 no-padding text-center" hidden>
                                        <input ng-model="permission.records.hospital_records[$index].practitioner"
                                               name="hospital_records_practitioner_{{$index}}" id="hospital_records_practitioner_{{$index}}"
                                               type="checkbox" select-all-checkbox cb-ascendants="lifestyleCheckbox,hospitalRecord_{{$index}}"/>
                                    </div>
                                    <div class="col-xs-4 no-padding" i18n="common.practitionerName"></div>
                                    <div ng-show="showField(hospital_record.practitioner, permission.records.hospital_records[$index].practitioner)" class="no-padding right text-right  col-xs-8">
                                        <p>{{PersonName.build(hospital_record.practitioner.first_name, null, hospital_record.practitioner.last_name)}}</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-class="{'grayout': !lifestyle.hosptialRecordCheck && !previewMode}">
                            <div class="list-info" ng-class="{'ecp_permissions_attachment': setEcpPermission}">
                                <label for="hospital_records_notes_{{$index}}">
                                    <div class="col-xs-1 no-padding text-center" hidden>
                                        <input ng-model="permission.records.hospital_records[$index].notes"
                                               name="hospital_records_notes_{{$index}}" id="hospital_records_notes_{{$index}}"
                                               type="checkbox" select-all-checkbox cb-ascendants="lifestyleCheckbox,hospitalRecord_{{$index}}" />
                                    </div>
                                    <div class="col-xs-4 no-padding" i18n="common.notes"></div>
                                    <div ng-show="showField(hospital_record.notes, permission.records.hospital_records[$index].notes)" class="no-padding right text-right  col-xs-8">{{hospital_record.notes}}</div>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 attachment-height" ng-class="{'grayout': !lifestyle.hosptialRecordCheck && !previewMode}"  ng-class="{'grayout': !lifestyle.hosptialRecordCheck && !previewMode}">
                            <div class="list-info" ng-class="{'ecp_permissions_attachment': setEcpPermission || shareMode}">
                                <label for="hospital_records_file_{{$index}}">
                                    <div class="col-xs-1 no-padding text-center" hidden>
                                        <input ng-model="permission.records.hospital_records[$index].file"
                                               name="hospital_records_file_{{$index}}" id="hospital_records_file_{{$index}}"
                                               type="checkbox" select-all-checkbox cb-ascendants="lifestyleCheckbox,hospitalRecord_{{$index}}" />
                                    </div>
                                    <div class="col-xs-4 no-padding attachment_border" i18n="common.attachment"></div>
                                    <div class="no-padding right text-right col-xs-12" ng-show="showField(hospital_record.file, permission.records.hospital_records[$index].file)">
                                        <attachment file="hospital_record.file"></attachment>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
