<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseLiving_wills" class="collapse-a collapsed"
             ia-label message="tooltips.livingWill">
            <i class="icon-living_will_record_icon"></i> <span i18n="common.livingWill"></span>
        </div>
    </div>
    <div id="collapseLiving_wills" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="row">
                <li clearfix class="col-sm-6 profile-record" ng-model="member.additional_information.records.living_will">
                    <div class="col-sm-12 text-left">
                        <div class="text-center"><strong i18n="common.livingWillNumber" data-number="{{$index + 1}}"></strong></div>

                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.date"></b></label>
                                <span class="right col-xs-8">
                                <span full-date year="living_will.date.year" month="living_will.date.month" day="living_will.date.day"> </span>
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.note"></b></label>
                                <span class="right note col-xs-8">{{living_will.note}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.attachment"></b></label>
                                <a href="" ng-href="{{living_will.document}}" class="file col-xs-8">{{living_will.document|fileName}}</a>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseEmergency_messages" class="collapse-a collapsed" translation="common.name">
            <i class="icon-emergency_record_icon"></i> <span i18n="common.emergencyRecords"></span>
        </div>
    </div>
    <div id="collapseEmergency_messages" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="row">
                <li clearfix class="col-sm-6 profile-record" ng-repeat="emergency_message in member.additional_information.records.emergency_messages track by $index">
                    <div class="col-lg-12 text-left">
                        <div class="text-center"><strong i18n="common.livingWillNumber" data-number="{{$index + 1}}"></strong></div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.note"></b></label>
                                <span class="note text-left col-xs-8">{{emergency_message.note}}</span>
                            </div>
                        </div>

                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.attachment"></b></label>
                                <a href="" ng-href="{{emergency_message.file}}" class="file col-xs-8">{{emergency_message.file|fileName}}</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseHospital_records" class="collapse-a collapsed">
            <i class="icon-hospital_record_icon"></i> <span i18n="common.hospitalRecords"></span>
        </div>
    </div>
    <div id="collapseHospital_records" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="row">
                <li clearfix class="col-sm-6 profile-record" ng-repeat="hospital_record in member.additional_information.records.hospital_records track by hospital_record.id">
                    <div class="col-lg-12 text-left">
                        <div class="text-center"><strong i18n="common.hospitalRecordsNumber" data-number="{{$index + 1}}"></strong></div>

                        <div class="list-item">
                            <label class="col-xs-4"><b ia-label translation="common.hospitalRecordCategory"></b></label>
                            <span class="text-left col-xs-8">{{hospital_record.category | settingsFilter:'hospitalisation_reasons':'name'}}</span>
                        </div>

                        <div class="list-item">
                            <label class="col-xs-4"><b ia-label translation="common.attachment"></b></label>
                            <a class="file col-xs-8" href="" ng-href="{{hospital_record.file}}">{{hospital_record.file | fileName}}</a>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>