<div id="main-load-content">
    <div>
        <div class="container no-padding">
            <div class="row margin_row_5">
                <div class="col-xs-1 mobile-hide"></div>
                <div class="col-xs-10 mobile-cover">
                    <form id="ChangeEmailForm" role="form" name="ChangeEmailForm" novalidate ng-submit="ChangeEmailForm.$valid && handle(new_email, repeat_new_email);">

                        <div class="form-group">
                            <label ia-label required message="tooltips.email"><strong i18n="common.newEmail"></strong></label>

                            <div class="input-email" ng-class="{'has-error': ChangeEmailForm.$submitted && ChangeEmailForm.new_email.$invalid}">
                                <input ng-model="new_email" class="form-control" name="new_email"
                                       type="email" data-i18n-attr="{placeholder: 'common.emailAddress'}"
                                       required>
                            </div>

                            <div ng-show="ChangeEmailForm.$submitted" ng-messages="ChangeEmailForm.new_email.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.newEmailRequired"></span></div>
                                <div class="alert alert-danger" ng-message="email"><span i18n="errors.newEmailFormat"></span></div>
                            </div>
                        </div>
                     

                        <p><button type="submit" class="btn btn-theme btn-150 btn-block" i18n="common.changeMyEmail" emailconfirmation-modal templateUrl="partials/email-confirmation/email-confirmation.html"></button></p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>