
<style>
#stripeBox{
    color: #18226c;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
#card_accepted{
  margin: 80px 50px 0px 50px;
}
#couponCheck {
    display: none;
    font-size: 20pt;
    position: absolute;
    right: 0;
    top: 0;
    color: #36ce3b;
}
#couponCross{
  display: none;
  font-size: 20pt;
  position: absolute;
  right: 0;
  top: 0;
  color: #F44336;
}

.stripe_popup{
  background: #eaeaea;
  border-radius: 5px;
  margin-bottom:20px;  
  font-family: 'Roboto', sans-serif;
  left: -14%;
  position: relative;
 }

.modal-body {
    width: 750px;
    padding:0px;
}
.stripe_close {
cursor: pointer;
    height: 33px;
    padding: 7px;
    color: #000;
    right: 20px;
    top: 0;
    font-size: 21px;
    z-index: 99999999;
    opacity: 1;
    float: left;
    background:none !important;

    font-weight: 500;
    font-style: initial;
    position: absolute;
    right: 0px;
}
.content {
    margin: 0;
    padding: 0;
}
.total_price {
    color: #37b2fa;
}
.stripe-group {
  border-radius: 4px;
  margin-bottom: 20px;  
}
.modal-dialog.modal-sm {
     margin: 0 auto !important;
     font-family: 'Roboto', sans-serif;
     position: absolute; 
     left: 50%; 
     top: 50%;
     margin-top:-233px !important;
     margin-left:-305px !important;
     height:auto !important;
     width:510px;
  }
.stripe-group{
    border: 1px solid #cccccc;
    padding: 0 2%;
    margin: 10px 0; 
  }
  label > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: normal;
    line-height: 32px;
    color: #20b2fc;
    transition: border-bottom-color 200ms ease-in-out;
    cursor: text;
    pointer-events: none;
    font-size:17px;
  }

  label > span span {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0% 50%;
    transition: transform 200ms ease-in-out;
    cursor: text;
    font-weight:300;
  }

label .field.is-focused + span span,
 label .field:not(.is-empty) + span span {
   transform: scale(0.68) translateY(-36px);
   cursor: default;
 }

 label .field.is-focused + span {
    border-bottom-color: #34D08C;
  } 

 .field {
  color: #31325F;
  line-height: 40px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #000;
  font-size: 14px;
  outline: none;
  cursor: text;
  display: block;
  width: 100%;
  line-height: 32px;
  padding-bottom: 3px;
  transition: opacity 200ms ease-in-out;
}

.field::-webkit-input-placeholder { color: #8898AA; }
.field::-moz-placeholder { color: #8898AA; }

/* IE doesn't show placeholders when empty+focused */
 .field:-ms-input-placeholder { color: #424770; }

.field.is-empty:not(.is-focused) {
  opacity: 0;
}

 .stripe-btn {
    width: 100%;
    float: left;
    display: block;
    background: #37B2FA;
    color: white;
    margin-top: 20px;
    font-size: 24px;
    line-height: 18px;
    outline: none;
    font-weight: 500;
    box-shadow: 0 0 12px #37b2fa;
    border: 1px solid #dae4ea;
    padding: 17px;
    border-radius: 5px;
    line-height: 38px;
    width: 100%;
    text-align: center;
  }

   .stripe-btn:before {
    content: "\f023";
    font-family: FontAwesome;
    margin-right: 10px;
    font-weight: normal;
  }

.content {
    margin: 0;
    padding: 0;
}

hr {
    background: #fff;
}

h5 {
    font-size: 18px;
    line-height: 26px;
    color: #7d7e82;
}

.card_no {
    border-right: 1px solid #ccc;
}

.card_no_cvv{
  margin-top:0px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top:0;
}

.stripe-group.card_number {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

 label {
    height: 15px;
    position: relative;
    color: #8798AB;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
  }

.error:before {
    position: initial !important;
}
.col-md-7{
    padding: 40px 22px 22px 22px;
    margin: 0;
}
.col-md-5{
    padding: 22px;
    margin: 0;
}

 h3 {
    font-size: 24px;
    font-weight: 500;
    color: #7d7e82;
}
.stripe_popup .ng-valid {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #ffffff;
    border-left: 1px solid #ccc;
}
.modal-body form {
    margin-top: 0;
}
.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 15px;
}

.success.visible, .error.visible {
  display: inline;
}

.success.visible{
    background: rgba(55, 178, 250, 0.45);
    display: block;
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    font-weight: 600;
  }

.error {
  color: #E4584C;
}

.success .token {
  font-weight: 500;
  font-size: 15px;
}

@media(max-width:768px){
 .modal{
    overflow:scroll !important;
  }
   .modal-body {
    width:100%;
    max-width:510px;
    position:initial;
    }

    .stripe-btn{
    margin-top: 25px;
    font-size: 21px;
    line-height: 18px;
    outline: none;
    font-weight: bold;
    box-shadow: 0 0 5px #37b2fa;
    border: 1px solid #dae4ea;
    padding: 13px 0;
    border-radius: 5px;
    }

  .modal-content {
    width: 90%;
    margin: 0 auto;
  } 

 .stripe_popup{
  position:initial;
  left:auto;
  }
 .stripe-group{
   margin: 15px 15px;
  }

 
.modal-dialog.modal-sm {
    width: 100%;
    max-width: 510px;
    margin:30% auto !important;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    height: auto !important;
    transform: translate(0, 0) !important;
}
.col-md-5{
     padding:30px 5px 10px 5px !important;
    margin: 0;
}
.stripe_close{    top: 0px !important;
    right: 0px;
    border-radius: 2px 5px 0px 0px;}
.col-md-7 {
    padding: 5px !important;
    margin: 0;
}
      .card_no_cvv{
        border-top:1px solid #CCC !important;
      }

}
</style>
<div class="popup-login-final stripe_popup" id="accessRecordsModal" ng-controller="AccountController">
  <div class="">   
    <div class="modal-body text-center">
      <div class="stripe_close" ng-click="cancel()">
        <i href="javascript:void(0);">
        <i class="fa fa-times" aria-hidden="true"></i></i>
      </div>
      <section class="content row">
        <div class="col-md-5 payment_ins">
          <h3>
            <span i18n="common.premiumSubscription"></span>
          </h3>
          <h5>
            <span i18n="common.paidUserEnjoyedRecordKeeping"></span>
          </h5>
          <img class="" href="javascript: void(0)" src="images/powered_by_stripe.png">
          <hr>
          <h3 class="total_price">
            <span i18n="common.total_price"></span>
          </h3>
          <h5></h5>
          <a id="stripeBox" data-toggle="modal" data-target="#visaModal" ><span i18n="common.freeWithVisaCard"></span></a>
          <i data-toggle="modal" data-target="#visaModal" class="fa fa-question-circle" aria-hidden="true"></i>
          <div id="card_accepted">
            <img src="images/VISA_MC_AMEX.png"/>
          </div>
        </div>
        <form class="col-md-7">
          <input type="hidden" name="token" />
          <div class="stripe-group">
            <label>
              <input name="cardholder-name" ng-if="cardNameLanguage=='zh-CN'" class="field is-empty" placeholder=" 如卡片所示" required oninvalid="this.setCustomValidity('请填写此栏')" />
              <input name="cardholder-name" ng-if="cardNameLanguage=='en-US'" class="field is-empty" placeholder="As displayed on card" required />
              <span><span i18n="common.cardHolderName"></span></span>
            </label>
          </div>
          <div class="stripe-group card_number">
            <label>
              <div id="card-number-element" class="field is-empty"></div>
              <span><span i18n="common.cardNumber"></span></span>
            </label>
          </div>
          <div class="stripe-group card_no_cvv">
            <div class="row">
              <div class="col-md-6 col-xs-6 card_no">
                <label>
                  <div id="card-expiry-element" class="field is-empty"></div>
                  <span><span i18n="common.expiryDate"></span></span>
                </label>
              </div>
              <div class="col-md-6 col-xs-6">
                <label>
                  <div id="card-cvc-element" class="field is-empty"></div>
                  <span> <span i18n="common.cvc"></span></span>
                </label>
              </div>
            </div>
          </div>
          <div class="stripe-group">
            <label>
              <input id="couponElement" name="coupon-element" class="field is-empty" i18n="common.promoCode" />
              <span>  <span i18n="common.coupon"></span>
             <!--  <span id="couponSpinner" class="fa-spinner-icons lockScreen_loader">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i></span>
              </span>
              <i id="couponCheck" class="fa fa-check" aria-hidden="true"></i>
              <i id="couponCross" class="fa fa-times" aria-hidden="true"></i> -->

            </label>
          </div>
          <button class="stripe-btn" type="submit" i18n="common.pay">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </button>
          <div class="outcome">
            <div class="error" role="alert">
              <span class="error-message"></span>
            </div>
            <div class="success">
              <span class="result"></span>
              <span ng-if="couponCodeInvalidMessage" i18n="errors.invalidCouponCode"></span>            
            </div>
          </div>
        </form>
      </section>
    </div> 
  </div>
</div> 

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade visa_popup" id="visaModal" tabindex="-1" role="dialog" aria-labelledby="visaModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="visaModalTitle">
          <img src="images/visa.png"/>
        </h5>       
      </div>
      <div class="modal-body">
         <span i18n="common.stripeBoxInfo"></span><br/>
         <span i18n="common.limitedQuantities"></span>
      </div>      
    </div>
  </div>
</div>

