<div class="popup-login-final popup-decline">
    <div class="modal-body text-center">
        <form role="form" name="AccountPasswordForm" novalidate ng-submit="AccountPasswordForm.$valid && checkPassword(password);">
            <div class="pb-15">
                <h3>&nbsp; <i href="javascript:void(0);" ng-click="cancel()" class="close"></i></h3>

                <div class="form-group">
                    <div class="help-block error" ng-show="error">

                    </div>
                    <label ia-label required class="left"><strong i18n="common.accountPassword"></strong></label>

                    <div class="input-email" ng-class="{'has-error': AccountPasswordForm.$submitted && AccountPasswordForm.password.$invalid}">
                        <input ng-model="password" class="form-control" ng-minlength=4 ng-maxlength=12 name="password" type="password" data-i18n-attr="{placeholder: 'common.password'}" required>
                    </div>

                    <div ng-show="AccountPasswordForm.$submitted" ng-messages="AccountPasswordForm.password.$error">
                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.passwordRequired"></span></div>
                        <div class="alert alert-danger" ng-message="minlength"><span i18n="errors.minlength"></span></div>
                        <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.maxlength"></span></div>
                    </div>

                    <div ng-if="error" class="alert alert-danger">{{error.message}}</div>

                </div>
            </div>
            <p><button type="submit" href="" class="btn btn-theme btn-150 btn-block" i18n="common.ok"></button></p>
        </form>
    </div>
</div>
