<div class="popup-login-final popup-decline">
    <div class="modal-body text-center">
        <div class="pb-15">
            <h3>&nbsp; <i href="javascript:void(0);" ng-click="cancel()" class="close"></i></h3>
            <div class="form-in">

                <div class="form-sub-in">

                    <p class="col-xs-12" i18n="common.cancelAndLeave"></p>

                    <div class="col-xs-6">
                        <a ng-click="yes('account.show')" class="btn btn-primary btn-lg btn-block btn-web btn-close" i18n="common.yes"></a>
                    </div>
                    <div class="col-xs-6">
                        <a ng-click="cancel()" type="button" class="btn btn-default btn-lg btn-block btn-padding" i18n="common.no"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
