<div class="popup-b02-input-email">

    <div class="modal-content">
        <div class="modal-body text-left">
            <h3 class="text-left"><i href="javascript:void(0);" ng-click="cancel();" class="close"></i></h3>
            <section class="content" ng-switch on="modalContent">
                <div class="center">
               <h3 i18n="common.cancelSubscription"></h3>
               <button i18n="common.yes" class="yes_submit" ng-click="cancelSubscription()"></button>
               <button i18n="common.no" class="no_cancel" ng-click="cancel();"></button>
                </div>
            </section>
        </div>
    </div>
</div>