<div class="popup-login-final">
    <div class="modal-body text-left">
        <div class="pb-15">
            <h3><span i18n="common.changePassword"></span> <a href="javascript:void(0);" ng-click="cancel()" class="close"></a></h3>

            <form role="form" name="ChangePasswordForm" novalidate ng-submit="ChangePasswordForm.$valid && changePassword(password);">
                <div class="help-block error-txt" ng-show="error">
                    <div class="alert alert-danger">{{error.message}}</div>
                </div>
                <div class="form-group">
                    <label ia-label required><strong i18n="common.currentPassword"></strong></label>
                    <div class="input-email" ng-class="{'has-error': ChangePasswordForm.$submitted && ChangePasswordForm.current_password.$invalid}">
                        <input ng-model="password.current"
                               class="form-control"
                               name="current_password"
                               type="password"
                               ng-minlength=4
                               ng-maxlength=12
                               data-i18n-attr="{placeholder: 'common.currentPassword'}"
                               required>
                    </div>
                    <div ng-show="ChangePasswordForm.$submitted" ng-messages="ChangePasswordForm.current_password.$error">
                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.currentPasswordRequired"></span></div>
                        <div class="alert alert-danger" ng-message="minlength"><span i18n="errors.minlength"></span></div>
                        <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.maxlength"></span></div>
                    </div>
                </div>
                <div class="form-group">
                    <label ia-label required message="tooltips.password"><strong i18n="common.newPassword"></strong></label>

                    <div class="input-email" ng-class="{'has-error': ChangePasswordForm.$submitted && ChangePasswordForm.current_password.$invalid}">
                        <input ng-class="{'error': ChangePasswordForm.new_password.$dirty && ChangePasswordForm.new_password.$invalid}" ng-model="password.new" class="form-control" name="new_password" type="password" data-i18n-attr="{placeholder: 'common.newPassword'}" ng-minlength=4 ng-maxlength=12 required>
                    </div>
                    <div ng-show="ChangePasswordForm.$submitted" ng-messages="ChangePasswordForm.new_password.$error">
                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.newPasswordRequired"></span></div>
                        <div class="alert alert-danger" ng-message="minlength"><span i18n="errors.minlength"></span></div>
                        <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.maxlength"></span></div>
                    </div>
                </div>
                <div class="form-group">
                    <label ia-label required message="tooltips.repeatPassword"><strong i18n="common.repeatNewPassword"></strong></label>

                    <div class="input-email" ng-class="{'has-error': ChangePasswordForm.$submitted && ChangePasswordForm.repeat_password.$invalid}">
                        <input ng-match="{{password.new}}" ng-model="password.new_repeat" class="form-control" name="repeat_password" type="password" data-i18n-attr="{placeholder: 'common.repeatNewPassword'}" ng-minlength=4 ng-maxlength=12 required>
                    </div>
                    <div ng-show="ChangePasswordForm.$submitted" ng-messages="ChangePasswordForm.repeat_password.$error">
                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.repeatPasswordRequired"></span></div>
                        <div class="alert alert-danger" ng-message="match"><span i18n="errors.repeatPasswordIncorrect"></span></div>
                        <div class="alert alert-danger" ng-message="minlength"><span i18n="errors.minlength"></span></div>
                        <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.maxlength"></span></div>
                    </div>
                </div>
                <p>
                    <button type="submit" href="" class="btn btn-theme btn-150 btn-block" i18n="common.changePassword"></button>
                </p>
            </form>
        </div>

    </div>
</div>
