<div class="popup-login-final popup-decline">
    <div class="modal-body text-center">
        <div class="pb-15">
            <h3><span i18n="common.deleteMember"></span> <a href="javascript:void(0);" ng-click="cancel()" class="close"></a></h3>
             <p i18n="common.sureRemoveMember" data-full-name="{{ PersonName.build(member.first_name, member.middle_name, member.last_name) || member.email }}" data-first-name="{{member.first_name}}" data-last-name="{{member.last_name}}"></p>
        </div>
        <div ng-repeat = "error in errors">
        <div class = "alert alert-danger">{{error.message}}</div>
        </div>
        <p><a ng-click="cancel()" href="" class="btn btn-theme btn-150 btn-block" i18n="common.noGoBack"></a></p>
        <p><a ng-click="ok(member.id)" href="" class="btn btn-white btn-150 btn-block" i18n="common.yesDefinitely"></a></p>
    </div>
</div>
