<div class="popup-login-final popup-decline">
    <div class="modal-body text-center">
        <div class="pb-15">
            <h3><span i18n="common.chooseMapService"></span> <a href="javascript:void(0);" ng-click="cancel()" class="close"></a></h3>
        </div>
        <a ng-if="language=='zh-CN'" open-in-app-browser class="btn btn-theme btn-150 btn-block" href="{{ bingMapLink }}" target="_blank" i18n="common.bingMaps"></a>
        <a open-in-app-browser class="btn btn-theme btn-150 btn-block" href="https://maps.google.com/?q={{location.latitude}},{{location.longitude}}&external=1" target="_blank" i18n="common.googleMaps"></a>
        <a ng-if="language!=='zh-CN'" open-in-app-browser class="btn btn-theme btn-150 btn-block" href="{{ bingMapLink }}" target="_blank" i18n="common.bingMaps"></a>
    </div>
</div>
