<script>

$.ajaxSetup({
      cache: true
    });

    window.fbAsyncInit = function() {
      FB.init({
        appId: "498919360311253",
        xfbml: true,
        version: "v2.6"
      });

    };

    FB = null;
    (function(d, s, id){
    //console.log('loading script');

       var js, fjs = d.getElementsByTagName(s)[0];
       // if (d.getElementById(id)) { return; }
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>

<div class="popup-login-final">
        <div class="modal-body text-left">
            <section class="content" >
                <h3>
                    <span i18n="common.messengerConnect"></span>
                    <i href="javascript:void(0);" ng-click="cancel()" class="close"></i>
                </h3>
                <div class="title">                    
                </div>
                <div id="fb-root">
                    <p>
                        <span class="messenger-number-print">1. </span>
                        <span class="messenger-step" i18n="common.messengerStep1"></span>
                        <div class="social-plugin">
                        <div class="fb-like" data-href="https://www.facebook.com/iceangelid" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                        </div>
                    </p>

                    <p>
                        <span class="messenger-number-print">2. </span>
                        <span class="messenger-step" i18n="common.messengerStep2"></span>
                        <div class="social-plugin">
                            <div fb-send-to icedata="account.ice_id" ></div>
                        </div>
                    </p>
                </div>
            </section>
            <br/>
        </div>
</div>

