 <div class="section-wrap account_holder_members">
    <h2 class="header">
        <div class="ecp_logo_sync">
            <img class="" src="images/sync.png" alt="">
        </div>
        <span i18n="common.appSyncStatus" data-number="{{member.devices.length}}">
        </span>
    </h2>   
    <div class="sync-status">
        <div class="row vertical_scroll">
            <div class="col-md-6" ng-repeat="device in member.devices track by device.uuid" ng-class="{'no-right-border': member.devices.length < 2 }" ng-class-odd="'odd'" ng-class-even="'even'">
               <div class="row">           
                    <div class="box-sync sync-left">
                        <i class="icon-syc_fail_icon" ia-tooltip="tooltips.incomplete" ng-if="!device.status" ng-class="{'orange': !device.status}"></i>
                        <i class="icon-syc_fail_icon" ia-tooltip="tooltips.complete" ng-if="device.status" ></i>                            
                        <span i18n="common.syncedWith"></span>
                        <span> {{ device.phone.number }} </span>
                        <a ng-if="(editMode() || visibleUnsync)" confirm-unsync uuid="device.uuid" class="sync-btn btn btn-default btn-padding unsync" i18n="common.unsync"  href="javascript:void(0);" ></a>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

