<div id="main-load-content">
    <section class="container no-padding">
        <!-- ng-submit="memberForm.$valid && handle(member, true)"  -->

        <div class="alert alert-danger" ng-if="errorSaving==true">{{memberError}}</div>
    
        <form id="memberForm" role="form" name="memberForm" ia-form-error-scroller novalidate class="article-wrap memberForm">
            <!-- Basic Information Section -->
            <div class="title">
                <h3 i18n="common.basicInfo"></h3>
            </div>
            <div class="box-register account_info_box">
              <div class="container no-padding popover__wrapper" ng-if="member.id!==undefined">
			  <div class="container no-padding popover__wrapper">
                    <!-- <span class="error-txt" ng-show="member.ice_id | formatId">{{ member.ice_id | formatId }}</span> -->
                    <member-id model="member">
                        <span i18n="common.memberId"></span>
                    </member-id>
                    <label ia-label message="tooltips.memberId" translation=""></label>

               <div ng-if="member.ice_id" class="push popover__content member_edit_popover_content">
                      <span ng-show="!openImageLoad">
                        <i class="fa fa-spinner" aria-hidden="true"></i>
                      </span>
                         <a href="{{openImage}}" class="popover__message" target="_blank"><img ng-src="{{openImage}}" style="cursor:pointer;"></a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row box-upload">
                        <div class="col-xs-4">
                            <div class="user-photo">
                            <span class="avatar">
                                <div class="photo">
                                    <img ng-src="{{member.photo}}" ng-show="member.photo" alt="">
                                    <img ng-class="{'empty': !member.photo}" ng-show="!member.photo" ng-src="" alt=""/>
                                </div>
                            </span>
                            </div>
                        </div>
                        <div class="col-xs-8 photo_upload_text_box">
                            <span class="label_text" ia-label message="tooltips.photo" translation="common.photoUploadRecommendation"></span>
                            <div class="upload_avatar">
                                <button class="btn btn-primary btn-lg btn-block btn-web" type="button">
                                    <span  class="upload-btn" i18n="common.upload"></span>
                                    <span ng-show="spinner">
                                        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                    </span>
                                </button>
                                <ng-file accept="image/png, image/jpeg,image/jpg, image/JPEG,image/JPG" ng-model="::member.photo" model="member" name="photo"></ng-file>                             
                            </div>
                        </div>
                    </div>
                    <div ng-messages="memberForm.photo.$error">
                        <div class="alert alert-danger" ng-message="filesize"><span i18n="errors.fileSize"></span></div>
                    </div>
                    <div class="alert alert-danger" ng-if="errorSaving==true">{{memberError}}</div>
                    <div ng-repeat="error in errors">
                        <div class="alert alert-danger">{{error.message}}</div>
                    </div>
                </div>

                <div class="form-group">
                    <label ia-label required message="tooltips.nationality" translation="common.nationality"></label>

                    <div>
                        <div class="custom_select" ng-class="{ 'has-error' : (memberForm.nationality.$hasVisited || memberForm.$submitted) && memberForm.nationality.$invalid}">
                            <select name="nationality"
                                    ng-model="member.nationality"
                                    class="form-control"
                                    ng-options="item.id as item.name for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'name')"
                                    required>
                                <option class="hide" value="" i18n="common.selectCountry"></option>
                            </select>
                        </div>
                    </div>
                    <div ng-show="memberForm.nationality.$hasVisited || memberForm.$submitted" ng-messages="memberForm.nationality.$error">
                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.nationalityRequired"></span></div>
                    </div>
                </div>

                <div class="form-group">

                    <div class="row require-input name_info">
                        <div class="col-xs-4">
                            <label ia-label required translation="common.lastName"></label>
                        </div>
                        <div class="col-xs-4">
                            <label ia-label required translation="common.firstName"></label>
                        </div>
                        <!--ng-hide="CountriesUtils.isChina(member.nationality)"-->
                        <div class="col-xs-4 left_10" >
                            <label ia-label translation="common.middleName"></label>
                        </div>
                    </div>
                    <div class="row require-input">
                        <div class="col-xs-4" ng-class="{ 'has-error' : (memberForm.last_name.$hasVisited || memberForm.$submitted) && memberForm.last_name.$invalid}">
                            <input class="form-control"
                                   ng-model="member.last_name"
                                   name="last_name"
                                   data-i18n-attr="{placeholder: 'common.lastName'}"
                                   required/>
                            <span class="require">
                                <i class="icon-star_icon"></i>
                            </span>
                        </div>
                        <div class="col-xs-4" ng-class="{ 'has-error' : (memberForm.first_name.$hasVisited || memberForm.$submitted) && memberForm.first_name.$invalid}">
                            <input class="form-control"
                                   ng-model="member.first_name"
                                   name="first_name"
                                   data-i18n-attr="{placeholder: 'common.firstName'}"
                                   required/>
                            <span class="require">
                                <i class="icon-star_icon"></i>
                            </span>
                        </div>
                        <div class="col-xs-4 left_10"><!--ng-hide="CountriesUtils.isChina(member.nationality)"-->
                            <input class="form-control" ng-model="member.middle_name" name="middle_name"
                                   data-i18n-attr="{placeholder: 'common.middleName'}">
                        </div>
                    </div>
                    <div ng-show="memberForm.last_name.$hasVisited || memberForm.$submitted" ng-messages="memberForm.last_name.$error">
                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.lastNameRequired"></span></div>
                    </div>
                    <div ng-show="memberForm.first_name.$hasVisited || memberForm.$submitted" ng-messages="memberForm.first_name.$error">
                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.firstNameRequired"></span></div>
                    </div>
                </div>

                <div class="form-group">
                    <label ia-label required translation="common.dateOfBirth"></label>

                    <ia-date type="{{account.id == member.id ? 'past-16' : 'past-now'}}" required model="member.birth_date" form="memberForm"></ia-date>

                    <div ng-show="(memberForm.$submitted && (memberForm.year.$invalid || memberForm.month.$invalid || memberForm.date.$invalid)) || (memberForm.year.$hasVisited && memberForm.year.$invalid) || (memberForm.month.$hasVisited && memberForm.month.$invalid) || (memberForm.date.$hasVisited && memberForm.date.$invalid)">
                        <div class="alert alert-danger"><span i18n="errors.birthDateRequired"></span></div>
                    </div>
                </div>

                <div class="form-group">
                    <label ia-label required message="tooltips.memberGender" translation="common.gender"></label>

                    <div class="custom_select" ng-class="{ 'has-error' : (memberForm.gender.$hasVisited || memberForm.$submitted) && memberForm.gender.$invalid}">
                        <select ng-model="member.gender"
                                class="form-control" name="gender"
                                ng-options="item.id as item.name for item in results = (globals.settings.genders.toArray() | optionsTrans:'name' | optionsSort:'name')"
                                required>
                            <option class="hide" value="" i18n="common.gender"></option>
                        </select>
                    </div>
                    <div ng-show="memberForm.gender.$hasVisited || memberForm.$submitted" ng-messages="memberForm.gender.$error">
                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.genderRequired"></span></div>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : (memberForm.email.$hasVisited || memberForm.$submitted) && memberForm.email.$invalid}">
                    <label ia-label required message="tooltips.memberEmail" translation="common.emailAddress"></label>

                    <input ng-disabled="account.id == member.id || member.use_account_email" validate-email-available account-id = "{{member.use_account_email ? account.id : member.id}}" autocomplete="off" class="form-control col-xs-11" name="email" ng-model="member.email" data-i18n-attr = "{placeholder : 'common.emailAddress' }"  type="email" email ng-required="true">

                    <div ng-show="memberForm.email.$hasVisited || memberForm.$submitted" ng-messages="memberForm.email.$error">
                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.emailRequired"></span></div>
                        <div class="alert alert-danger" ng-message="email"><span i18n="errors.emailFormat"></span></div>
                        <div class="alert alert-danger" ng-message="available"><span i18n="errors.memberEmailNotValid"></span></div>
                        <div class="alert alert-danger" ng-message="active"><span i18n="errors.emailInactive"></span></div>
                        <div class="alert alert-danger" ng-message="member"><span i18n="errors.memberEmailNotValid"></span></div>
                    </div>
                </div>
                <div class="form-group" ng-show="account.id != member.id">
                    <label for="use_parent_email" i18n="common.useAccountEmail"></label>
                    <input ng-model="member.use_account_email" use-account-email type="checkbox" name="use_parent_email" id="use_parent_email"/>
                </div>
              <!-- ng-if="!member.use_account_email && account.id != member.id || (!memberForm.email.$dirty && member.ice_id)"  -->
             

                <div class="form-group">
                    <label ia-label required message="tooltips.memberCellPhone" translation="common.cellPhone"></label>

                    <div class="row">
                        <div class="col-xs-5">
                            <div class="custom_select" ng-class="{ 'has-error' : (memberForm.phonecode.$hasVisited || memberForm.$submitted) && memberForm.phonecode.$invalid}">
                                <select name="phonecode" ng-model="member.phone.code"
                                        class="form-control"
                                        ng-disabled="member.use_account_phone"
                                        ng-options="item.id as (item.name + ' ' + item.phonecode) for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'name')"
                                        required>
                                    <option class="hide" value="" i18n="common.countryCode"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-7 left_10" ng-class="{ 'has-error' : (memberForm.phonenumber.$hasVisited || memberForm.$submitted) && memberForm.phonenumber.$invalid}">
                            <input name="phonenumber" class="form-control"
                                   type="text"
                                   phone-number
                                   phone-code="member.phone.code"
                                   ng-disabled="member.use_account_phone"
                                   ng-model="member.phone.number"
                                   data-i18n-attr="{placeholder: 'common.cellPhoneNumber'}"
                                   required ng-keydown = "checkLength($event)">
                        </div>
                    </div>
                    <div ng-show="memberForm.phonecode.$hasVisited || memberForm.$submitted" ng-messages="memberForm.phonecode.$error">
                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.phoneCodeRequired"></span></div>
                    </div>
                    <div ng-show="memberForm.phonenumber.$hasVisited || memberForm.$submitted" ng-messages="memberForm.phonenumber.$error">
                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.phoneNumberRequired"></span></div>
                    </div>
                </div>
                <div class="form-group" ng-show="account.id != member.id && account.phone.code && account.phone.number">
                    <label for="use_account_phone" i18n="common.useAccountPhone"></label>
                    <input ng-model="member.use_account_phone" use-account-phone type="checkbox" name="use_account_phone" id="use_account_phone"/>
                </div>

            </div>
            <!-- End Basic Information Section -->


            <!-- Synced Devices -->
            <div ng-if="hasSynced(member.devices)" ng-include="'partials/member/device.html'"></div>
            <!-- End of Synced Devices -->

            <!-- Emergency Contacts -->
            <div class="title" ng-show="member.ice_id">
                <h3 i18n="common.emergencyContactPerson"> </h3>
            </div>
            <div class="section-wrap member-box" ng-show="member.ice_id">
                <div class="clearfix">
                    <div class="section" ng-repeat="contact in member.contacts|uniquey:'email' track by $index">

                        <div ng-include="'partials/member/contacts.html'"></div>
                    </div>
                    <div class="section" ng-show="emeCount < 2 || member.contacts.length <= 1">
                        <div class="right-add-person member-ecp">
                            <a href="javascript:void(0);" add-contact size="sm" id="add-ecp-btn"
                               templateUrl="partials/contact/templates/addContact.html" class="add-person" i18n="common.addButton"></a>

                            <p i18n="common.addAnEmergencyContactPerson"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Emergency Contacts -->

            <!-- Additional Information Section -->
            <div ng-include="'partials/member/additional-information.html'"></div>
            <!-- End Additional Infromation Section -->
                <div class="col-md-12 text-left remove-member" style="z-index: 0">
                    <p>
                        <a ng-if="isMobile" href="" class="underline" account="account" member="member"
                        templateurl="partials/modal/delete-member.html" delete-member size="sm" i18n="common.removeThisMember"></a>
                    </p>
                </div>

            <div class="container no-padding full-extend">
                <div id="edit-footer" class="container floating-footer">
                    <div class="row leftrow" >
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="member-save danger-class fade-in fade-message" hidden>
                                <div class="alert alert-danger" i18n="errors.systemError"></div>
                        </div>

                        <div class="member-save member-save-info fade-in fade-message" hidden>
                                <div class="alert alert-success" i18n="common.saveSuccessfully"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="save-cancel-group">
                            <button type="button" ng-if="!member.id" state="account.show"
                                    cancel-confirmation controller="CancelConfirmationModal"
                                    class="btn btn-default btn-save btn-cancel btn-lg btn-block btn-padding"
                                    i18n="common.cancel">
                            </button>
                            <button type="button" ng-if="member.id" state="account.viewMember" params="{member_id: member.id}"
                                    cancel-confirmation controller="CancelConfirmationModal"
                                    class="btn btn-default btn-cancel btn-lg btn-block btn-padding btn-cancel"
                                    i18n="common.cancel">
                            </button>
                             <button ng-click="memberForm.$valid && handle(member)"
                                    class="btn btn-primary btn-lg btn-block btn-web btn-save "
                                    i18n="common.save">
                            </button>
                        </div>
                          <div class="save-group">
                           
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-2 col-lg-1">
                      
                    </div>
                    </div> <!-- end row -->
                    <div class="row">

                    </div> <!-- end row -->

                    <div class="row" ng-if="member.id && member.id !== account.id" style="display: none;">
                        <div class="col-md-12 text-left remove-member  remove_footer_link">
                            <p>
                                <a ng-if="!isMobile" href="" class="underline" account="account" member="member"
                                   templateurl="partials/modal/delete-member.html" delete-member size="sm" i18n="common.removeThisMember"></a>

                                   <a ng-if="isMobile" href="" class="underline" account="account" member="member"
                                   templateurl="partials/modal/delete-member.html" delete-member size="sm" i18n="common.remove"></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="edit-footer2" class="container floating-footer">
                    <div class="row leftrow" >
                    <div class="col-md-2">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="member-save danger-class fade-in" hidden>
                                <div class="alert alert-danger" i18n="errors.systemError"></div>
                        </div>

                        <div class="member-save member-save-info fade-in fade-message" hidden>
                                <div class="alert alert-success" i18n="common.saveSuccessfully"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="save-cancel-group">
                            <button type="button" ng-if="!member.id" state="account.show"
                                    cancel-confirmation controller="CancelConfirmationModal"
                                    class="btn btn-default btn-save btn-cancel btn-lg btn-block btn-padding"
                                    i18n="common.cancel">
                            </button>
                            <button type="button" ng-if="member.id" state="account.viewMember" params="{member_id: member.id}"
                                    cancel-confirmation controller="CancelConfirmationModal"
                                    class="btn btn-default btn-cancel btn-lg btn-block btn-padding"
                                    i18n="common.cancel">
                            </button>
                            <button ng-click="memberForm.$valid && handle(member)"
                                    class="btn btn-primary btn-save  btn-lg btn-block btn-web btn-save"
                                    i18n="common.save">
                            </button>
                        </div>
                         <div class="save-group">
                           
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-2 col-lg-1">
                       
                    </div>
                    </div> <!-- end row -->
                    <div class="row">

                    </div> <!-- end row -->
                    <div class="row" ng-if="member.id && member.id !== account.id">
                        <div class="col-md-12 text-left remove-member remove_footer_link">
                            <p>
                                <a ng-if="!isMobile" href="" class="underline" account="account" member="member"
                                   templateurl="partials/modal/delete-member.html" delete-member size="sm" i18n="common.removeThisMember"></a>

                                   <a ng-if="isMobile" href="" class="underline" account="account" member="member"
                                   templateurl="partials/modal/delete-member.html" delete-member size="sm" i18n="common.remove"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </form>
    </section>
</div>


 