<div id="main-load-content" class="view-member">
    <section class="content">
        <div class="container no-padding">

            <!-- Basic Information -->
            <div class="title">
                <h3 i18n="common.basicInfo"></h3>
            </div>
            <div class="section-wrap holder member-box">
                <div class="clearfix">
                    <div class="section holder">
                        <div class="row pb-15">
                            <div class="col-sm-4 col-xs-4 user_photo_box">
                                <ia-avatar avatar="{{ member.photo }}" badge="{ 'icon-account_holder_icon': account.id == member.id, 'icon-members_icon': account.id != member.id }"></ia-avatar>
                            </div>
                            <div class="col-sm-8 col-xs-8">

                                <h3 class="name-account" person-name email="{{ member.email }}" first-name="{{ member.first_name }}" middle-name="{{ member.middle_name }}" last-name="{{ member.last_name }}"></h3>

                                <member-id model="member"><span i18n="common.memberId"></span></member-id>

                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="row pb-15">
                            <ul class="nav nav-justified nav-member">
                                <li ng-show="!publicMode">
                                    <a href="" class="nav-history" member="member" permission="permission" email-profile><img src="images/email.png" class="print_id_show"/><br><span i18n="common.email"></span></a>
                                </li>

                                <li ng-show="publicMode">
                                    <a href="" class="nav-history" member="member" token="route" permission="permission" email-forward-profile><img src="images/email.png" class="print_id_show"/><br><span i18n="common.email"></span></a>
                                </li>
                                <li class="section-bdr">
                                    <a ng-print print-element-id="printPreviewProfile" member="member" permission="permission" token="route" size="sm" templateUrl="" class="nav-print" href="">
                                        <img src="images/CardID.png" class="print_id_show"/><br><span i18n="common.idCard"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-view-pro basic_info">
                        <div class="col-md-6">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.nationality"></span>:</div>
                                        <div class="col-xs-8 name-pro">{{member.nationality | countryFilter:'name'}}</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.gender"></span>:</div>
                                        <div class="col-xs-8 name-pro">{{member.gender | settingsFilter:'genders':'name'}}</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.cellPhone"></span>:</div>
                                        <div class="col-xs-8 name-pro" full-phone-number phonecode="member.phone.code" phonenumber="member.phone.number"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.dateOfBirth"></span>:</div>
                                        <div class="col-xs-8 name-pro">
                                            <span full-date year="member.birth_date.year" month="member.birth_date.month" day="member.birth_date.day"> </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.emailAddress"></span>:</div>
                                        <div class="col-xs-8 name-pro">{{member.email}}</div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Basic Information -->

            <!-- Emergency Contacts -->
            <div class="title" ng-if="member.contacts.length > 0">
                <h3 i18n="common.emergencyContactPerson"></h3>
            </div>
            <div class="section-wrap member-box">
                <div class="clearfix">
                    <div class="section" ng-repeat="contact in member.contacts track by $index" ng-show="contact.status == 'accepted'">
                        <div ng-include="'partials/member/contacts.html'"></div>
                    </div>
                </div>
            </div>
            <!-- End Emergency Contacts -->


            <!-- Additional Information -->
            <div class="title">
                <h3 i18n="common.additionalInfo"></h3>
            </div>
         


    <div class="tabber-person data_tab">
              <div class="tab-content info_icon" id="accordion" ng-class = "{'member_info': previewMode}">

                         <!-- Share Personal Information -->
                <div class="panel panel-default personal_tab_label" ng-show="!viewMode || hasAdditionalInfo('personal', 'personal')">

                <div class="panel-heading">
               <div data-toggle="collapse" data-parent="" href="#collapsePersonal" class="collapse-a collapsed accordion-toggle"
                    ia-label-main message="tooltips.youMayUploadHospitalRecords">
               <label for="personalCheckbox">
                            <input type="checkbox" id="personalCheckbox" ng-model="personalCheckbox" select-all-checkbox>
                            <a href="javascript:void(0);#Personal" class="tab-click tab-click-personal" data-toggle="tab" i18n="common.personal"></a>
                        </label>
                </div> </div> 


                 <div id="collapsePersonal" class="panel-collapse collapse">
                <div class="panel-body">
                    <ng-form name="personalCategoryForm">
                    <div class="panel-group">
                        <div class="panel">
                                <div ng-include="'partials/member/personal/permission.html'"></div>
                            <!--form-tabber-->
                        </div>
                    </div>
                    </ng-form>
                </div>
            </div>
        </div>  

  <!-- Share Personal Information end -->


   <!-- Share Insurance Information -->
                          
     <div class="panel panel-default" ng-show="!viewMode || hasAdditionalInfo('personal', 'personal')">
                                   <div class="panel-heading">
                                   <div data-toggle="collapse" data-parent="" href="#collapseinsurane" class="collapse-a collapsed accordion-toggle"
                    ia-label-main message="tooltips.youMayUploadHospitalRecords">
                   <label for="insuranceCheckbox">
                                <input type="checkbox" id="insuranceCheckbox" ng-model="insuranceCheckbox" select-all-checkbox >
                                <a href="javascript:void(0);#Insurance" class="tab-click tab-click-insurance" data-toggle="tab" i18n="common.insurance"></a>
                            </label>

                </div> </div>

                  <div id="collapseinsurane" class="panel-collapse collapse">
                <div class="panel-body">
                    <ng-form name="personalCategoryForm">
                    <div class="panel-group">
                        <div class="panel">
                         <div ng-include="'partials/member/insurance/permission.html'"></div>
                     
                        </div>
                    </div>
                    </ng-form>
                </div>
            </div>
        </div>  

  <!-- Share Insurance Information end -->



                <!-- Share Medical Information -->
      <div class="panel panel-default" ng-show="!viewMode || hasAdditionalInfo('personal', 'personal')">
                                   <div class="panel-heading">
                                   <div data-toggle="collapse" data-parent="" href="#collapsemedical" class="collapse-a collapsed accordion-toggle"
                    ia-label-main message="tooltips.youMayUploadHospitalRecords">
                  <label for="medicalCheckbox">
                            <input type="checkbox" id="medicalCheckbox" ng-model="medicalCheckbox" select-all-checkbox>
                            <a href="javascript:void(0);#Medical" class="tab-click tab-click-medical" data-toggle="tab" i18n="common.medical"></a>
                        </label>



                </div> </div>

                  <div id="collapsemedical" class="panel-collapse collapse">
                <div class="panel-body">
                    <ng-form name="personalCategoryForm">
                    <div class="panel-group">
                        <div class="panel">
                             <div id="accordion1" ng-include="'partials/member/medical/permission.html'"></div>
                            <!--form-tabber-->
                        </div>
                    </div>
                    </ng-form>
                </div>
            </div>
        </div>  

  <!-- Share Medical Information end -->


                <!-- Share Life Records -->
                            <div class="panel panel-default" ng-show="!viewMode || hasAdditionalInfo('personal', 'personal')">
                                   <div class="panel-heading">
                                   <div data-toggle="collapse" data-parent="" href="#liferecords" class="collapse-a collapsed accordion-toggle"
                    ia-label-main message="tooltips.youMayUploadHospitalRecords">
               <label for="lifestyleCheckbox">
                            <input type="checkbox" id="lifestyleCheckbox" ng-model="lifestyleCheckbox" select-all-checkbox>
                            <a href="javascript:void(0);#Lifestyle" class="tab-click tab-click-records" data-toggle="tab" i18n="common.records"></a>
                        </label>

                </div> </div>

                  <div id="liferecords" class="panel-collapse collapse">
                <div class="panel-body">
                    <ng-form name="personalCategoryForm">
                    <div class="panel-group">
                        <div class="panel">
                             <div ng-include="'partials/member/record/permission.html'"></div>
                            <!--form-tabber-->
                        </div>
                    </div>
                    </ng-form>
                </div>
            </div>
        </div>  
         
  <!-- Share Life Records end -->

            </div>    
            <!-- End Additional Information -->

        </div>  <div class="edit_mn" style="display:none">
             <span>
                 <a href="javascript:void(0);" class="collapseall" ng-click="expandTab();"><img src="images/w-all.png"></a>
             </span>
             <span>
                 <a href="javascript:void(0);" class="collapall" ng-click="collapseTab()"><img src="images/col-al.png"></a>
             </span>
        </div>
    </section>
</div>
