<div id="main-load-content" class="view-member">
    <div ng-repeat="contact in member.contacts |filter:{status:'pending'} | limitTo:1">
           <div href="" ui-sref="account.viewMember({member_id: member.id})" class="clickable emergency-section">
             <div class="account-not-completed" ng-class="   {'account-completed':globals.language === 'zh-CN'}"
           ng-click="redirectEcpSection(member.id)" i18n="common.ecpToAcceptNomination">    
             </div>
           </div>
        </div> 
         <div class="clickable emergency-section container" ng-if="(member.contacts || member.contacts.length > 0) && (member.contacts[0].status==='accepted' || member.contacts[1].status==='accepted') && !hasSynced(member.devices)">
             <div class="account-not-completed">
              <a href="javascript:void(0);" app-store-modal templateUrl="partials/account/appStore.html" i18n="common.panicMobileAppSetup"></a>  
             </div>        
            
        </div>
    <section class="content">
            <div class="container no-padding" >
            <!-- Basic Information Section -->
            <div class="title">
                <h3 i18n="common.basicInfo"></h3>
            </div>
            <div class="section-wrap holder  basic_info_bottom_space">
                <div class="clearfix">
                    <div class="section holder member_mobile_align">
                        <div class="row">
                            <div class="col-sm-2 col-md-4 col-lg-4 col-xs-4 user_photo_box">
                                <ia-avatar avatar="{{ member.photo }}" badge="{'icon-account_holder_icon' : account.id == member.id, 'icon-members_icon': account.id != member.id }"></ia-avatar>
                            </div>
                            <div class="col-sm-8 col-xs-12 account_heading_photo_box">
							<div class="photo-info">
                                <h3 class="name-account" person-name email="{{ member.email }}" first-name="{{ member.first_name }}" middle-name="{{ member.middle_name }}" last-name="{{ member.last_name }}"></h3>

                                <div class="popover__wrapper">

                                <member-id model="member" class="profile_info"><span i18n="common.memberId"></span></member-id>

                                   <div class="push popover__content member_QRCode">
                                   <span ng-show="!openImageLoad"><i class="fa fa-spinner" aria-hidden="true"></i></span>
                                    
                                  <a href="{{openImage}}" class="popover__message" target="_blank"><img src="{{openImage}}" style="cursor:pointer;"></a>
                                  </div>

                                </div>
							</div>
                            </div>
                        </div>
                    </div>
                    <div class="section share_view">
                        <div class="row pb-15">

                            <ul class="nav nav-justified nav-member">
                            
                            <li class="section-bdr">
                                <a class="section-bdr" ng-click="downloadScreen()" size="sm" href="">
                                  <img class="print_id_show lock_screen_show" src="images/lockScreenId.png"/>
                                  <br/>
                                  <span i18n="common.idLockscreen"></span>
                                </a>
                                <span ng-show="reqLoading" class="fa-spinner-icons lockScreen_loader"><i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i></span>
                              </li> 

                            <!-- <li class="section-bdr" ng-hide="account.id == member.id || ! olderThen18(member)">
                                    <a class="nav-transfer section-bdr" size="sm" independent-account
                                       templateUrl="partials/modal/independent-account.html" href="">
                                         <img class="transfer_align" src="images/transfer.png"/> <br><span i18n="common.transfer"></span></a>
                                </li> -->
                                <li class="section-bdr">
                                    <a print-ice-id size="sm" templateUrl="partials/modal/print-ice-id.html"
                                       class="nav-print" href="">
                                        <img class="print_id_show" src="images/CardID.png"/><br>
                                       <span i18n="common.idCard"></span>
                                    </a>
                                </li>
                                <li class="section-bdr">
                                    <a ui-sref="account.share-profile({member_id: member.id})" class="nav-share section-bdr"
                                       href="#"> 
                                       <img class="print_id_show" src="images/share-profile.png"/><br>
                                       <span i18n="common.shareProfile"></span></a>
                                </li>                                 
                                <li>
                                    <a class="nav-history" ui-sref="account.viewMemberHistory({member_id: member.id})" href=""> <img class="print_id_show" src="images/view-history.png"/><br><span i18n="common.viewHistory"></span></a>
                                </li>                                            
                            </ul>
                        </div>
                    </div>

                    <div class="box-view-pro basic_info">
                        <div class="col-md-6">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.nationality"></span>:</div>
                                        <div class="col-xs-8 name-pro">{{member.nationality | settingsFilter:'countries':'name'}}</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.gender"></span>:</div>
                                        <div class="col-xs-8 name-pro">{{member.gender | settingsFilter:'genders':'name'}}</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.cellPhone"></span>:</div>
                                        <div class="col-xs-8 name-pro" full-phone-number phonecode="member.phone.code" phonenumber="member.phone.number"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.dateOfBirth"></span>:</div>
                                        <div class="col-xs-8 name-pro">
                                            {{member.birth_date.year}}-{{member.birth_date.month}}-{{member.birth_date.day}}
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.emailAddress"></span>:</div>
                                        <div class="col-xs-8 name-pro">{{member.email}}</div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Basic Information Section -->

            <!-- Device Section -->
            <div ng-if="hasSynced(member.devices)" ng-include="'partials/member/device.html'"></div>
            <!-- End Device Section -->
			
			 

            <!-- Additional Information Section -->
            <div ng-include="'partials/member/additional-information.html'" ng-class="{'view-mode': viewMode}"></div>
            <!-- End Additional Information Section -->
        </div>

        <div class="container no-padding full-extend">
        <div id='edit-footer' class="container floating-footer">
            <div class="row leftrow">
                <div class="col-md-2">
                </div>
                <div class="col-xs-4 col-md-6">
                </div>
                <div class="col-xs-4 col-md-2 col-lg-2">
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12  col31">
                    <div>
                        <a ui-sref="account.editMember({member_id: member.id})" class="btn btn-primary btn-lg btn-block btn-web btn-save" i18n="common.edit"></a>
                    </div>
                </div>
            </div>
        </div>
        <div id='edit-footer2' class="container floating-footer">
            <div class="row leftrow" >
                <div class="col-md-2">
                </div>
                <div class="col-xs-4 col-md-6">
                </div>
                <div class="col-xs-4 col-md-2 col-lg-2">
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12  col31">
                    <div>
                        <a ui-sref="account.editMember({member_id: member.id})" class="btn btn-primary btn-lg btn-block btn-web btn-save" i18n="common.edit"></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</div>
