<ng-form name="allergyForm" novalidate>
    <div class="form-person-heading">
        <span i18n="common.allergyInfoNumber" data-number="{{$index + 1}}"></span>
        <a href="javascript:void(0);" class="remove-btn" ng-click="remove('allergies', 'medical', $index);">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
    <div class="form-person-body">
        <div class="form-group">
            <label ia-label required translation="common.nameOfThing"></label>

            <div class="custom_select" ng-class="{'has-error' : memberForm.$submitted && allergyForm.allergy_name.$invalid}">
                <select class="form-control" name="allergy_name" ng-model="::allergy.name" ng-options="allergy.id as allergy.name group by allergy.category for allergy in results = (globals.settings.allergies.categories.toArray() | optionsTrans:'name' | optionsSort:'name')" required>
                    <option value="" class="hide" i18n="common.selectAllergy"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label ia-label required translation="common.reaction"></label>

            <div class="custom_select" ng-class="{'has-error' : memberForm.$submitted && allergyForm.allergy_reaction.$invalid}">
                <select class="form-control" name="allergy_reaction" ng-model="::allergy.reaction" ng-options="reaction.id as reaction.name for reaction in results = (globals.settings.allergies.reactions.toArray() | optionsTrans:'name' | optionsSort:'name' )" required>
                    <option value="" class="hide" i18n="common.selectReaction"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label ia-label required translation="common.severity"></label>

            <div class="custom_select" ng-class="{'has-error' : memberForm.$submitted && allergyForm.allergy_severity.$invalid}">
                <select class="form-control" name="allergy_severity" ng-model="::allergy.severity" ng-options="severity.id as severity.name for severity in results = (globals.settings.allergies.severities.toArray() | optionsTrans: 'name' | orderBy: '+id')" required>
                    <option value="" class="hide" i18n="common.selectSeverity"></option>
                </select>
            </div>
        </div>
        <div notes-layout class="form-group" notes="allergy.notes"></div>
    </div>
    <input type="hidden" ng-model="::allergy.id"/>
</ng-form>
