<div class="form-person-heading" i18n="common.bloodInfo"></div>
<div class="form-person-body additional_notes">
 <div class="form-input-delete">
    <div class="form-group">
        <div class="custom_select">
            <select class="form-control" ng-model="::member.additional_information.medical.blood.blood_type" ng-options="type.id as type.type for type in globals.settings.blood_types.toArray()">
                <option value="" class="hide" i18n="common.selectBloodType"></option>
            </select>
        </div>
         <div class="delete-input" ng-if="member.additional_information.medical.blood.blood_type!==null && member.additional_information.medical.blood.blood_type!==undefined"" >
            <a href="javascript:void(0);" ng-click="resetStatus( 'blood','medical','blood_type');" class="glyphicon glyphicon-trash error-txt"></a>
        </div>
    </div>
     </div>
    <div notes-layout class="form-group" notes="member.additional_information.medical.blood.notes"></div>
</div>
