<ng-form name="medicalConditionForm">
    <div class="form-person-heading">
        <span i18n="common.medicalConditionNumber" data-number="{{$index + 1}}"></span>
        <a href="javascript:void(0);" class="remove-btn" ng-click="remove('medical_conditions', 'medical', $index);">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
    <div class="form-person-body">
        <div class="form-group">
            <label ia-label required translation="common.nameOfThing"></label>

            <div class="custom_select" ng-class="{'has-error' : memberForm.$submitted && medicalConditionForm.medical_condition_name.$invalid}">
                <select class="form-control" name="medical_condition_name" ng-model="::medical_condition.name" data-placeholder="Condition" ng-options="condition.id as condition.name for condition in results = (globals.settings.medicals.conditions.toArray() | optionsTrans:'name' | optionsSort:'name')" required>
                    <option class="hide" value="" i18n="common.selectMedicationCondition"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label ia-label required translation="common.status"></label>

            <div class="custom_select" ng-class="{'has-error' : memberForm.$submitted && medicalConditionForm.medical_condition_status.$invalid}">
                <select class="form-control" name="medical_condition_status" ng-model="::medical_condition.status" ng-options="status.id as status.status for status in results = (globals.settings.medicals.statuses.toArray() | optionsTrans:'status' | optionsSort:'status')" required>
                    <option class="hide" value="" i18n="common.selectMedicationConditionStatus"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label ia-label translation="common.from"></label>
            <ia-date disabled="viewMode" type="now-birth" model="medical_condition.from" form="medicalConditionForm"></ia-date>
        </div>
        <div class="form-group">
            <label ia-label translation="common.to"></label>
            <ia-date disabled="viewMode" type="birth-now" model="medical_condition.to" form="medicalConditionForm" min-date="{{ medical_condition.from }}"></ia-date>
        </div>
        <div notes-layout class="form-group" notes="medical_condition.notes"></div>
    </div>
    <input type="hidden" ng-model="medical_condition.id"/>
</ng-form>
