<div class="form-person-body additional_notes" >
    <label class="left-column-title" ia-label translation="common.status"></label>
    <div class="form-group">
        <div class="no-right-margin-destop">
            <select class="form-control" name="organ_donor_status" ng-model="::member.additional_information.medical.organ_donor.status"
                    ng-options="status.id as status.status for status in results = (globals.settings.organ_donor.statuses.toArray() | optionsTrans:'status')"
                    ng-change="changeType()">
                <option value="" i18n="common.selectOrganDonor"></option>
            </select>
        </div>
    </div>
    <div ng-hide="member.additional_information.medical.organ_donor.status == 3 || member.additional_information.medical.organ_donor.status == null">
        <div class="form-group">
            <label class="left-column-title" ia-label>
                <span ng-if="member.additional_information.medical.organ_donor.condition == null" class="left-column-title" ia-label translation="common.condition"></span>
                <span ng-if="member.additional_information.medical.organ_donor.condition == '1'" class="left-column-title" ia-label translation="common.condition" message="tooltips.brainDeath"></span>
                <span ng-if="member.additional_information.medical.organ_donor.condition == '2'" class="left-column-title" ia-label translation="common.condition" message="tooltips.cardiacDeath"></span>
            </label>
            <div class="no-right-margin-destop">
                <select class="form-control" name="organ_donor_condition" ng-model="::member.additional_information.medical.organ_donor.condition"
                        ng-options="condition.id as condition.name for condition in results = (globals.settings.organ_donor.conditions.toArray() | optionsTrans:'name')">
                    <option value="" i18n="common.selectCondition"></option>
                </select>
            </div>
        </div>
          <div class="form-input-delete" ng-hide="member.additional_information.medical.organ_donor.status != 1">
          <label class="left-column-title" ia-label translation="common.organDonorRegistrationCard"></label>
        <div class="form-group">
            <div class="row box-upload">
                <div class="col-xs-4">
                    <img ng-src="{{member.additional_information.medical.organ_donor.card}}" alt="" ng-if="member.additional_information.medical.organ_donor.card!==null">
                </div>
                <div class="col-xs-8 photo_upload_text_box fix_label_msg">
                    <span ia-label message="tooltips.uploadDonorCard" translation="common.photoUploadRecommendation"></span>

                    <div class="upload_avatar">
                        <button class="btn btn-primary btn-lg btn-block btn-web" type="button">
                            <span  class="upload-btn" i18n="common.upload"></span>
                        </button>

                        <ng-file ng-model="::member.additional_information.medical.organ_donor.card"
                                 model="member.additional_information.medical.organ_donor" name="card"
                                 accept="image/*"></ng-file>
                    </div>
                </div>
            </div>
            <div class="delete-input" ng-if="member.additional_information.medical.organ_donor.card!==null">
            <a href="javascript:void(0);" ng-click="resetStatus('organ_donor', 'medical','card');" class="glyphicon glyphicon-trash error-txt"></a>
        </div>
        </div>
          </div>
        <div notes-layout class="form-group" notes="member.additional_information.medical.organ_donor.notes"></div>
    </div>
</div>
