<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseDoctors" class="collapse-a collapsed"
            ia-label message="tooltips.doctorInfo">
            <i class="member-accordion-icon icon-doctor_info_icon"></i> <span i18n="common.doctorInfo"></span>
        </div>
    </div>
    <div id="collapseDoctors" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="row">
                <li clearfix class="col-sm-6 profile-medical" ng-repeat="doctor in member.additional_information.medical.doctors track by doctor.id">
                    <div class="col-sm-12 text-left">
                        <div class="text-center"><strong i18n="common.doctorNumber" data-number="{{$index + 1}}"></strong></div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.name"></b></label>
                                <span class="right col-xs-8">{{doctor.first_name + doctor.last_name + doctor.middle_name}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.telephone"></b></label>
                                <span class="right col-xs-8" full-phone-number phonecode="doctor.phone.code" phonenumber="doctor.phone.number"></span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.specialty"></b></label>
                                <span class="right col-xs-8">{{doctor.specialty | settingsFilter:'doctor_specialities':'name'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.note"></b></label>
                                <span class="right note col-xs-8">{{doctor.note}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseBlood" class="collapse-a collapsed"
            ia-label message="tooltips.bloodInfo">
            <i class="member-accordion-icon icon-blood_info_icon"></i> <span i18n="common.bloodInfo"></span>
        </div>
    </div>
    <div id="collapseBlood" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="row">
                <li clearfix class="col-sm-6 profile-medical">
                    <div class="col-sm-12 text-left">
                        <div class="text-center"><strong i18n="common.bloodInfo"></strong></div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.bloodType"></b></label>
                                <span class="right col-xs-8">{{member.additional_information.medical.blood.type | settingsFilter:'blood_types':'type'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.note"></b></label>
                                <span class="right note col-xs-8">{{member.additional_information.medical.blood.note}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseAllergies" class="collapse-a collapsed"
            ia-label message="tooltips.allergyInfo">
            <i class="member-accordion-icon icon-allergy_info_icon"></i> <span i18n="common.allergyInfo"></span>
        </div>
    </div>
    <div id="collapseAllergies" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="row">
                <li clearfix class="col-sm-6 profile-medical" ng-repeat="allergy in member.additional_information.medical.allergies track by allergy.id">
                    <div class="col-sm-12 text-left">
                        <div class="text-center"><strong i18n="common.allergyNumber" data-number="{{$index + 1}}"></strong></div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.nameOfThing"></b></label>
                                <span class="right col-xs-8">{{allergy.name | settingsFilter:['allergies', 'categories']:'name'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.reaction"></b></label>
                                <span class="right col-xs-8">{{allergy.reaction | settingsFilter:['allergies', 'reactions']:'name'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.severity"></b></label>
                                <span class="right col-xs-8">{{allergy.severity | settingsFilter:['allergies', 'severities']:'name'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.note"></b></label>
                                <span class="right note col-xs-8">{{allergy.note}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseMedications" class="collapse-a collapsed"
            ia-label message="tooltips.medicationInfo">
            <i class="member-accordion-icon icon-medication_info_icon"></i> <span i18n="common.medicationInfo"></span>
        </div>
    </div>
    <div id="collapseMedications" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="row">
                <li clearfix class="col-sm-6 profile-medical" ng-repeat="medication in member.additional_information.medical.medications track by medication.id">
                    <div class="col-sm-12 text-left">
                        <div class="text-center"><strong i18n="common.medicationNumber" data-number="{{$index + 1}}"></strong></div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.medicationName"></b></label>
                                <span class="right col-xs-8">{{medication.name}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.medicationStatus"></b></label>
                                <span class="right col-xs-8">{{medication.status | settingsFilter:['medications','statuses']:'status'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.dosage"></b></label>
                                <span class="right col-xs-8">{{medication.dosage}} {{medication.dosage_unit | settingsFilter:['medications', 'dosages']:'name'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.frequencyOfUse"></b></label>
                                <span class="right col-xs-8">{{medication.frequency}} {{medication.frequency_unit | settingsFilter:['medications', 'frequencies']:'name'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.purpose"></b></label>
                                <span class="right col-xs-8">{{medication.purpose}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.start"></b></label>
                                <span class="right col-xs-8">
                                <span full-date year="medication.start.year" month="medication.start.month" day="medication.start.day"> </span>
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.end"></b></label>
                                <span class="right col-xs-8">
                                    <span full-date year="medication.end.year" month="medication.end.month" day="medication.end.day"> </span>
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.note"></b></label>
                                <span class="right note col-xs-8">{{medication.note}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseImmunizations" class="collapse-a collapsed"
            ia-label message="tooltips.immunizationInfo">
            <i class="member-accordion-icon icon-immunization_info_icon"></i> <span i18n="common.immunizationInfo"></span>
        </div>
    </div>
    <div id="collapseImmunizations" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="row">
                <li clearfix class="col-sm-6 profile-medical" ng-repeat="immunization in member.additional_information.medical.immunizations track by immunization.id">
                    <div class="col-sm-12 text-left">
                        <div class="text-center"><strong i18n="common.immunizationNumber" data-number="{{$index + 1}}"></strong></div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.immunizationType"></b></label>
                                <span class="right col-xs-8">{{immunization.type | settingsFilter:'immunizations':'name'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.immunizationSeries"></b></label>
                                <span class="right col-xs-8">{{immunization.series}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.time"></b></label>
                                <span class="right col-xs-8">
                                    <span full-date year="immunization.time.year" month="immunization.time.month" day="immunization.time.day"> </span>
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.note"></b></label>
                                <span class="right note col-xs-8">{{immunization.note}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseMedical_conditions" class="collapse-a collapsed"
            ia-label message="tooltips.medicalConditionInfo">
            <i class="member-accordion-icon icon-medical_condition_info_icon"></i> <span i18n="common.medicalConditionInfo"></span>
        </div>
    </div>
    <div id="collapseMedical_conditions" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="form-tabber">
                <ul class="row">
                    <li clearfix class="col-sm-6 profile-medical" ng-repeat="medical_condition in member.additional_information.medical.medical_conditions track by medical_condition.id">
                        <div class="col-sm-12 text-left">
                            <div class="text-center"><strong i18n="common.medicalConditionNumber" data-number="{{$index + 1}}"></strong></div>
                            <div>
                                <div class="list-item">
                                    <label class="col-xs-4"><b ia-label translation="common.diseaseName"></b></label>
                                    <span class="right col-xs-8">{{medical_condition.name | settingsFilter:['medicals', 'conditions']:'name'}}</span>
                                </div>
                            </div>
                            <div>
                                <div class="list-item">
                                    <label class="col-xs-4"><b ia-label translation="common.status"></b></label>
                                    <span class="right col-xs-8">{{medical_condition.status| settingsFilter:['medicals', 'statuses']:'status'}}</span>
                                </div>
                            </div>
                            <div>
                                <div class="list-item">
                                    <label class="col-xs-4"><b ia-label translation="common.start"></b></label>
                                    <span class="right col-xs-8">
                                        <span full-date year="medical_condition.start.year" month="medical_condition.start.month" day="medical_condition.start.day"> </span>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="list-item">
                                    <label class="col-xs-4"><b ia-label translation="common.end"></b></label>
                                    <span class="right col-xs-8">
                                        <span full-date year="medical_condition.end.year" month="medical_condition.end.month" day="medical_condition.end.day"> </span>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <div class="list-item">
                                    <label class="col-xs-4"><b ia-label translation="common.note"></b></label>
                                    <span class="right note col-xs-8">{{medical_condition.note}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseSurgical_history" class="collapse-a collapsed"
            ia-label message="tooltips.medicalConditionInfo">
            <i class="member-accordion-icon icon-surgical_history_info_icon"></i> <span i18n="common.surgicalHistoryInfo"></span>
        </div>
    </div>
    <div id="collapseSurgical_history" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="row">
                <li clearfix class="col-sm-6 profile-medical" ng-repeat="surgical_history in member.additional_information.medical.surgical_histories track by surgical_history.id">
                    <div class="col-sm-12 text-left">
                        <div class="text-center"><strong i18n="common.surgicalHistoryNumber" data-number="{{$index + 1}}"></strong></div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.diseaseName"></b></label>
                                <span class="right col-xs-8">{{surgical_history.type | settingsFilter:'surgeries':'name'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.status"></b></label>
                                <span class="right col-xs-8">{{surgical_history.reason}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.time"></b></label>
                                <span class="right col-xs-8">
                                    <span full-date year="surgical_history.time.year" month="surgical_history.time.month" day="surgical_history.time.day"> </span>
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.note"></b></label>
                                <span class="right note col-xs-8">{{surgical_history.note}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseFamily_medical_history" class="collapse-a collapsed"
            ia-label message="tooltips.familyPastMedicalHistory">
            <i class="member-accordion-icon icon-familys_past_medical_history_info_icon"></i> <span i18n="common.familyPastMedicalHistory"></span>
        </div>
    </div>
    <div id="collapseFamily_medical_history" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="row">
                <li clearfix class="col-sm-6 profile-medical" ng-repeat="family_medical_history in member.additional_information.medical.family_medical_histories track by family_medical_history.id">
                    <div class="col-sm-12 text-left">
                        <div class="text-center"><strong i18n="common.familyMedicationHistoryNumber" data-number="{{$index + 1}}"></strong></div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.diseaseName"></b></label>
                                <span class="right col-xs-8">{{family_medical_history.type | settingsFilter:['family_history', 'conditions']:'name'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.familyMember"></b></label>
                                <span class="right col-xs-8">{{family_medical_history.relationship | settingsFilter:['family_history', 'members']:'name'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.severity"></b></label>
                                <span class="right col-xs-8">{{family_medical_history.severity | settingsFilter:['family_history', 'severities']:'name'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.note"></b></label>
                                <span class="right note col-xs-8">{{family_medical_history.note}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseOrgan_donor" class="collapse-a collapsed"
            ia-label message="tooltips.organDonorStatus">
            <i class="member-accordion-icon icon-organ_donor_status_info_icon"></i> <span i18n="common.organDonorStatus"></span>
        </div>
    </div>
    <div id="collapseOrgan_donor" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="row">
                <li clearfix class="col-sm-6 profile-medical">
                    <div class="col-sm-12 text-left">
                        <div class="text-center"><strong i18n="common.organDonor"></strong></div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.status"></b></label>
                                <span class="right col-xs-8">{{member.additional_information.medical.organ_donor.status | settingsFilter:['organ_donor','statuses']:'status'}}</span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item">
                                <label class="col-xs-4"><b ia-label translation="common.note"></b></label>
                                <span class="right note col-xs-8">{{member.additional_information.medical.organ_donor.notes}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>