<div class="no-info" ng-if="member.additional_information.insurances.length == 0" i18n="common.noInformationToDisplay" ng-show="shareMode || setEcpPermission"></div>

<div class="no-info" ng-if="getInsuranceCount() == 0" ng-show = "!shareMode && !setEcpPermission" i18n="common.noInformationToDisplay"></div>

<ul class="view-member-list list-group row" ng-class = "{ 'preview_data' : previewMode}">
    <li class="list-group-item"  ng-repeat="insurance in member.additional_information.insurances track by $index" ng-init="permission.insurances[$index].id = insurance.id" ng-class="{'show_data' : insurance_index, 'email_mode' : publicMode, 'show_public_data' : publicMode && member.additional_information.insurances[$index].insurance_type}">
        <div class="row">
            <div class="col-sm-12 text-center">
                <label>
                    <div class="col-xs-1 no-padding text-center">
                        <input ng-model="insurance_index" type="checkbox" select-all-checkbox cb-ascendants="insuranceCheckbox" cb-id="insurance_{{$index}}" ng-click="insuranceDataContent()">
                    </div>
                    <div ng-class="{'col-xs-10': !previewMode, 'col-xs-12': previewMode}">
                        <b><strong i18n="common.insuranceNumber" data-number="{{$index + 1}}" ng-show = "showField(insurance.insurance_type, permission.insurances[$index].insurance_type)"></strong></b>
                    </div>
                </label>
            </div>
            <div class="col-sm-12" 
            ng-class="{'grayout': !insurance_index && !previewMode}">
                <div class="list-info">
                    <label for="insurance_type_{{$index}}">
                        <div class="col-xs-1 no-padding text-center" hidden>
                            <input ng-model="permission.insurances[$index].insurance_type"
                                   name="insurance_type_{{$index}}" id="insurance_type_{{$index}}"
                                   type="checkbox" select-all-checkbox cb-ascendants="insuranceCheckbox,insurance_{{$index}}" />
                        </div>
                        <div class="col-xs-4 no-padding" i18n="common.insuranceType"></div>
                        <div ng-show="showField(insurance.insurance_type, permission.insurances[$index].insurance_type)" class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}">{{insurance.insurance_type | settingsFilter:'insurance_types':'name'}}</div>
                    </label>
                </div>
            </div>
            <div class="col-sm-12" ng-class="{'grayout': !insurance_index && !previewMode}">
                <div class="list-info">
                    <label for="insurance_company_name_{{$index}}">
                        <div class="col-xs-1 no-padding text-center" hidden>
                            <input ng-model="permission.insurances[$index].company_name"
                                   name="insurance_company_name_{{$index}}" id="insurance_company_name_{{$index}}"
                                   type="checkbox" select-all-checkbox cb-ascendants="insuranceCheckbox,insurance_{{$index}}" />
                        </div>
                        <div class="col-xs-4 no-padding" i18n="common.companyName"></div>
                        <div ng-show="showField(insurance.company_name, permission.insurances[$index].company_name)" class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}">{{insurance.company_name}}</div>
                    </label>
                </div>
            </div>
            <div class="col-sm-12" ng-class="{'grayout': !insurance_index && !previewMode}">
                <div class="list-info">
                    <label for="insurance_type_{{$index}}">
                        <div class="col-xs-1 no-padding text-center" hidden>
                            <input ng-model="permission.insurances[$index].number"
                                   name="insurance_type_{{$index}}" id="insurance_number_{{$index}}"
                                   type="checkbox" select-all-checkbox cb-ascendants="insuranceCheckbox,insurance_{{$index}}" >
                        </div>
                        <div class="col-xs-4 no-padding" i18n="common.insuranceNumberMsg"></div>
                        <div ng-show="showField(insurance.number, permission.insurances[$index].number)" class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}">{{insurance.number}}{{insurance.number | settingsFilter:'insurance_types':'name'}}</div>
                    </label>
                </div>
            </div>
            <div class="col-sm-12" ng-class="{'grayout': !insurance_index && !previewMode}">
                <div class="list-info">
                    <label for="plan_type_{{$index}}">
                        <div class="col-xs-1 no-padding text-center" hidden>
                            <input ng-model="permission.insurances[$index].plan_type"
                                   name="plan_type_{{$index}}" id="plan_type_{{$index}}"
                                   type="checkbox" select-all-checkbox cb-ascendants="insuranceCheckbox,insurance_{{$index}}" >
                        </div>
                        <div class="col-xs-4 no-padding" i18n="common.planType"></div>
                        <div ng-show="showField(insurance.plan_type, permission.insurances[$index].plan_type)" class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}">{{insurance.plan_type}}</div>
                    </label>
                </div>
            </div>
            <div class="col-sm-12" ng-class="{'grayout': !insurance_index && !previewMode}">
                <div class="list-info">
                    <label for="phone_{{$index}}">
                        <div class="col-xs-1 no-padding text-center" hidden>
                            <input ng-model="permission.insurances[$index].company_phone"
                                   name="phone_{{$index}}" id="phone_{{$index}}"
                                   type="checkbox" select-all-checkbox cb-ascendants="insuranceCheckbox,insurance_{{$index}}" />
                        </div>
                        <div class="col-xs-4 no-padding" i18n="common.insurancePhoneNumber"></div>
                        <div ng-show="showField(insurance.company_phone, permission.insurances[$index].company_phone)" class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}" full-phone-number phonecode="insurance.company_phone.code" phonenumber="insurance.company_phone.number"></div>
                    </label>
                </div>
            </div>
            <div class="col-sm-12" ng-class="{'grayout': !insurance_index && !previewMode}">
                <div class="list-info">
                    <label for="expiry_date_{{$index}}">
                        <div class="col-xs-1 no-padding text-center" hidden>
                            <input ng-model="permission.insurances[$index].expiry_date"
                                   name="expiry_date_{{$index}}" id="expiry_date_{{$index}}"
                                   type="checkbox" select-all-checkbox cb-ascendants="insuranceCheckbox,insurance_{{$index}}" />
                        </div>
                        <div class="col-xs-4 no-padding" i18n="common.expiryDate"></div>
                        <div ng-show="showField(insurance.expiry_date.year, permission.insurances[$index].expiry_date)" class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}">
                        <span full-date year="insurance.expiry_date.year" month="insurance.expiry_date.month" day="insurance.expiry_date.day"> </span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="col-sm-12" ng-class="{'grayout': !insurance_index && !previewMode}">
                            <div class="list-info">
                                <label for="insurance_notes_{{$index}}">
                                    <div class="col-xs-1 no-padding text-center" hidden>
                                        <input ng-model="permission.insurances[$index].notes"
                                               name="insurance_notes_{{$index}}" id="insurance_notes_{{$index}}"
                                               type="checkbox" select-all-checkbox cb-ascendants="insuranceCheckbox,insurance_{{$index}}" />
                                    </div>
                                    <div class="col-xs-4 no-padding" i18n="common.notes"></div>
                                    <div ng-show="showField(insurance.notes, permission.insurances[$index].notes)" class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}">{{insurance.notes}}</div>
                                </label>
                            </div>
            </div>
        </div>
        <input type="hidden" ng-model="permission.insurances[$index].id"/>
    </li>
</ul>
