<ng-form name="passportForm">
    <div class="row">
        <div class="col-xs-4 no-right-padding">
            <div class="custom_select" ng-class="{ 'has-error' : memberForm.$submitted && passportForm.passport_nationality.$invalid}">
                <select ng-model="passport.nationality" name="passport_nationality"  class="form-control" ng-options="item.id as item.name for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'name')" required>
                    <option class="hide" value="" i18n="common.selectCountry"></option>
                </select>
            </div>
        </div>
        <div class="col-xs-8 left_10" ng-class="{ 'has-error' : memberForm.$submitted && passportForm.passport_number.$invalid}">
            <input class="form-control" data-i18n-attr="{placeholder: 'common.passportNumber'}" name="passport_number" ng-model="passport.number" ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }" required>
        </div>
        <div class="delete-input">
            <a href="javascript:void(0);" ng-click="remove('passports', 'personal', $index);" class="glyphicon glyphicon-trash error-txt"></a>
        </div>
    </div>
</ng-form>