    <div class="no-info-border">

    <div class="no-info" ng-if = "(!member.additional_information.personal.passports || member.additional_information.personal.passports.length === 0) && ( !member.additional_information.personal.social_securities || member.additional_information.personal.social_securities.length === 0) && !member.additional_information.personal.marital_status &&
     !member.additional_information.personal.secondary_email &&
     member.additional_information.personal.address.street === '' &&
     member.additional_information.personal.address.building === '' &&
     member.additional_information.personal.address.district === '' &&
     member.additional_information.personal.address.city === '' &&
     member.additional_information.personal.address.state === '' &&
     member.additional_information.personal.address.postal === '' &&
     member.additional_information.personal.address.country === '' &&
     !member.additional_information.personal.home_phone &&
     !member.additional_information.personal.workplace_address &&
     !member.additional_information.personal.workplace_phone" i18n="common.noInformationToDisplay" ng-show="!previewMode || publicMode"></div>

     <div class="no-info" ng-if = "!permission.personal.marital_status &&
     !permission.personal.secondary_email && !permission.personal.address &&
     !permission.personal.workplace_address && !permission.personal.home_phone &&  !permission.personal.workplace_phone || ((!member.additional_information.personal.passports || member.additional_information.personal.passports.length === 0) && ( !member.additional_information.personal.social_securities || member.additional_information.personal.social_securities.length === 0) && !member.additional_information.personal.marital_status &&
     !member.additional_information.personal.secondary_email &&
     member.additional_information.personal.address.street === '' &&
     member.additional_information.personal.address.building === '' &&
     member.additional_information.personal.address.district === '' &&
     member.additional_information.personal.address.city === '' &&
     member.additional_information.personal.address.state === '' &&
     member.additional_information.personal.address.postal === '' &&
     member.additional_information.personal.address.country === '' &&
     !member.additional_information.personal.home_phone &&
     !member.additional_information.personal.workplace_address &&
     !member.additional_information.personal.workplace_phone)" i18n="common.noInformationToDisplay" ng-show="!publicMode && previewMode"></div>

 <!--new layout-->
<ul class="view-member-list list-group row" 
    ng-class = "{'personal-data': member.additional_information.personal.passports || member.additional_information.personal.social_securities || member.additional_information.personal.marital_status ||
    member.additional_information.personal.secondary_email ||
    member.additional_information.personal.address.street != '' ||
    member.additional_information.personal.address.building != '' ||
    member.additional_information.personal.address.district != '' ||
    member.additional_information.personal.address.city != '' ||
    member.additional_information.personal.address.state != '' ||
    member.additional_information.personal.address.postal != '' ||
    member.additional_information.personal.address.country != '' ||
    member.additional_information.personal.home_phone ||
    member.additional_information.personal.workplace_address ||
    member.additional_information.personal.workplace_phone}">

 
    <!--<div class="clearfix"></div>-->
    <li class="list-group-item col-sm-6" ng-if="member.additional_information.personal.passports.length > 0"
        ng-show="showField(member.additional_information.personal.passports, permission.personal.passports)" ng-class="{'grayout': !permission.personal.passports && !previewMode}">
        <div class="list-info">
            <label for="passports">
                <div class="col-xs-1 no-padding text-center">
                    <input ng-model="permission.personal.passports"
                           name="passports" id="passports"
                           type="checkbox" select-all-checkbox cb-ascendants="personalCheckbox" ng-click = "personalDataContent()" >
                </div>
                <div class="col-xs-4 no-padding" i18n="common.passport"></div>
                <div class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}" ng-repeat="passports in member.additional_information.personal.passports track by $index">
                    {{passports.number}} {{passports.nationality | countryFilter:'name'}}
                </div>
            </label>
        </div>
    </li>
    <li class="list-group-item col-sm-6" ng-if="member.additional_information.personal.social_securities.length > 0"
        ng-show="showField(member.additional_information.personal.social_securities, permission.personal.social_securities)" ng-class="{'grayout': !permission.personal.social_securities && !previewMode}">
        <div class="list-info">
            <label for="social_securities">
                <div class="col-xs-1 no-padding text-center">
                    <input ng-model="permission.personal.social_securities"
                           name="social_securities"
                           id="social_securities"
                           type="checkbox" select-all-checkbox cb-ascendants="personalCheckbox" ng-click = "personalDataContent()" >
                </div>
                <div class="col-xs-4 no-padding" i18n="common.idOrSocialSecurity"></div>
                <div class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}" ng-repeat="social_securities in member.additional_information.personal.social_securities track by $index">
                    {{social_securities.number}} {{social_securities.nationality | countryFilter:'name'}}
                </div>
            </label>
        </div>
    </li>
    <div class="clearfix"></div>
    <li class="list-group-item col-sm-6" ng-show="showField(member.additional_information.personal.marital_status, permission.personal.marital_status)" ng-class="{'grayout': !permission.personal.marital_status && !previewMode}">
        <div class="list-info">
            <label for="marital_status">
                <div class="col-xs-1 no-padding text-center">
                    <input ng-model="permission.personal.marital_status" id="marital_status" name="marital_status"
                           type="checkbox" select-all-checkbox cb-ascendants="personalCheckbox" ng-click = "personalDataContent()" />
                </div>
                <div class="col-xs-4 no-padding" i18n="common.maritalStatus"></div>
                <div class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}">{{member.additional_information.personal.marital_status | settingsFilter:'marital_statuses':'status'}}</div>
            </label>
        </div>
    </li>
    <li class="list-group-item col-sm-6" ng-show="showField(member.additional_information.personal.secondary_email, permission.personal.secondary_email)" ng-class="{'grayout': !permission.personal.secondary_email && !previewMode}">
        <div class="list-info">
            <label for="secondary_email">
                <div class="col-xs-1 no-padding text-center">
                    <input ng-model="permission.personal.secondary_email" id="secondary_email" name="secondary_email"
                           type="checkbox" select-all-checkbox cb-ascendants="personalCheckbox" ng-click = "personalDataContent()" />
                </div>
                <div class="col-xs-4 no-padding" i18n="common.secondaryEmail"></div>
                <div class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}">{{member.additional_information.personal.secondary_email}}</div>
            </label>
        </div>
    </li>
    <div class="clearfix"></div>
    <li class="list-group-item col-sm-6" ng-show="showField(member.additional_information.personal.address, permission.personal.address)" ng-class="{'grayout': !permission.personal.address && !previewMode}">
        <div class="list-info home_address_align">
            <label for="home_address">
                <div class="col-xs-1 no-padding text-center">
                    <input ng-model="permission.personal.address" id="home_address" name="home_address"
                           type="checkbox" select-all-checkbox cb-ascendants="personalCheckbox" ng-click = "personalDataContent()" />
                </div>
                <div class="col-xs-4 personal-description no-padding" i18n="common.homeAddress"></div>
                <div class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}">
                <span full-address building = "member.additional_information.personal.address.building" street = "member.additional_information.personal.address.street" district = "member.additional_information.personal.address.district" city = "member.additional_information.personal.address.city" state = "member.additional_information.personal.address.state" postal = "member.additional_information.personal.address.postal" country = "member.additional_information.personal.address.country"></span>
                </div>
            </label>
        </div>
    </li>
    
    
    <li class="list-group-item col-sm-6" ng-show="showField(member.additional_information.personal.workplace_address, permission.personal.workplace_address)" ng-class="{'grayout': !permission.personal.workplace_address && !previewMode}">
        <div class="list-info home_address_align">
            <label for="workplace_address">
                <div class="col-xs-1 no-padding text-center">
                    <input ng-model="permission.personal.workplace_address" id="workplace_address" name="workplace_address"
                           type="checkbox" select-all-checkbox cb-ascendants="personalCheckbox" ng-click = "personalDataContent()" />
                </div>
                <div class="col-xs-4 personal_description no-padding" i18n="common.employerOrWorkplace"></div>
                <div class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}">
                <span>
                    {{member.additional_information.personal.workplace_address}}
                </span>
                </div>
            </label>
        </div>
    </li>

    <div class="clearfix"></div>

    <li class="list-group-item col-sm-6" ng-show="showField(member.additional_information.personal.home_phone, permission.personal.home_phone)" ng-class="{'grayout': !permission.personal.home_phone && !previewMode}">
        <div class="list-info">
            <label for="home_telephone">
                <div class="col-xs-1 no-padding text-center">
                    <input ng-model="permission.personal.home_phone" name="home_telephone" id="home_telephone"
                           type="checkbox" select-all-checkbox cb-ascendants="personalCheckbox" ng-click = "personalDataContent()" />
                </div>
                <div class="col-xs-4 no-padding" i18n="common.homeTelephone"></div>
                <div class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}" full-phone-number phonecode="member.additional_information.personal.home_phone.code" phonenumber="member.additional_information.personal.home_phone.number"></div>
            </label>
        </div>
    </li>

    <li class="list-group-item col-sm-6" ng-show="showField(member.additional_information.personal.workplace_phone, permission.personal.workplace_phone)" ng-class="{'grayout': !permission.personal.workplace_phone && !previewMode}">
        <div class="list-info">
            <label for="workplace_phone">
                <div class="col-xs-1 no-padding text-center">
                    <input ng-model="permission.personal.workplace_phone" name="workplace_phone" id="workplace_phone"
                           type="checkbox" select-all-checkbox cb-ascendants="personalCheckbox" ng-click = "personalDataContent()" />
                </div>
                <div class="col-xs-4 personal_description no-padding" i18n="common.employerOrWorkplaceTelephone"></div>
                <div class="no-padding right text-right" ng-class="{'col-xs-7': !previewMode, 'col-xs-8': previewMode}"> {{member.additional_information.personal.workplace_phone.number}}</div>
            </label>
        </div>
    </li>
    <div class="clearfix"></div>
    <input type="hidden" ng-model="permission.personal.id"/>
</ul>
</div>