<div id="header-wrap" ng-if="!isHome">
    <div class="container no-padding">
        <header class="navbar" id="top" role="banner">
            <div class="container no-padding">
                <div class="navbar-header">
                    <div class="header-content-mobile clearfix"><span class="fa fa-angle-left"></span> <span i18n="common.myAccount"></span></div>
                    <div class="logo">
                        <a href="" ui-sref="account.show" ng-if="!showPartner">
                            <img class="header-logo-img" src="images/ice-logo.svg" alt="iCE Angel">
                            <span class="header-logo-text" i18n="common.iceAngelId"></span>&trade;                            
                        </a>
                        <a href="" ui-sref="base.partner" ng-if="showPartner">
                            <img class="header-logo-img" src="images/ice-logo.svg" alt="iCE Angel">
                             <span class="header-logo-text" i18n="common.iceAngelId"></span>&trade;
                        </a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right" ng-show="!publicMode">
                        <li>
                            <div class="login" ng-if="account.email">
                                <div class="btn-group">
                                    <a class="dropdown-toggle main-link" data-toggle="dropdown" href="javascript:void(0);">
                                        <span class="badge">{{newMessagesCount}}</span>
                                        <span class="avatar">
                                            <div class="photo">
                                                <img ng-src="{{account.photo}}" ng-show="account.photo" alt="">
                                                <img ng-class="{'empty': !account.photo}" ng-show="!account.photo"
                                                     ng-src="" alt=""/>
                                            </div>
                                        </span>
                                        <span class="name-account" person-name email="{{ account.email }}" first-name="{{account.first_name}}" last-name="{{account.last_name}}" middle-name="{{account.middle_name}}"></span>
                                        <span class="caret"></span>
                                    </a>
                                    <div class="premium" ng-if="account.is_premium" i18n="common.premium"></div>
                                    <a id="promoClick" ng-if="!account.is_premium" access-records="{{account}}" size="sm" templateUrl="partials/modal/access-records.html">    <div class="free" i18n="common.free"></div>
                                    </a>
                                    <ul class="dropdown-menu sub-menu">
                                        <li>
                                            <a ui-sref="base.home"><img src="images/submenu-1.png" alt=""> <span i18n="common.home"></span></a>
                                        </li>
                                        <li ng-show="!showPartner">
                                            <a ui-sref="account.show"><img src="images/submenu-6.png" alt=""> <span i18n="common.myAccount"></span></a>
                                        </li>
                                        <li ng-show="!showPartner">
                                            <a ui-sref="account.edit"><img src="images/edit_1.png" alt=""> <span i18n="common.editAccount"></span></a>
                                        </li>
                                        <li>
                                            <a ui-sref="account.settings"><img src="images/submenu-2.png" alt=""> <span i18n="common.settings"></span></a>
                                        </li>
                                        <li>
                                            <a ui-sref="account.messages"><img src="images/submenu-3.png" alt=""> <span i18n="common.messageCenter"></span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" ng-click="logout()">
                                                <img src="images/submenu-4.png" alt="">
                                                <span i18n="common.logOut"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</div>
