<div class="popup-b02-input-email">
    <div class="modal-content">
        <div class="modal-body text-left">
            <h3><span i18n="common.addGuardians"></span> <i href="javascript:void(0);" ng-click="cancel()" class="close"></i></h3>
            <section class="content nominate-guardian-options" ng-switch on="modalContent">
                <div ng-switch-default>
                    <div class="bx-white nominate-contact">
                        <div class="row nominate_box">
                            <div class="col-md-6" ng-click="slideTo('listNomination');">
                                <div class="box-person">
                                    <div class="row">
                                        <span class="icon-nominate1">
                                            <i class="ecp_icon_list"></i>
                                        </span>

                                        <div class="text-nominate">
                                            <h3 i18n="common.chooseFromList"></h3>
                                            <div i18n="common.chooseFromListDescription"></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="fa fa-chevron-circle-right"></a>
                            </div>
                            <div class="col-md-6" ng-click="slideTo('emailNomination');">
                                <div class="box-person">
                                    <div class="row">
                                        <span class="icon-nominate1">  <i class="add_user"></i>     </span>

                                        <div class="text-nominate">
                                            <h3 i18n="common.nominateNewPerson"></h3>
                                            <div i18n="common.nominateNewGuardianDescription"></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="fa fa-chevron-circle-right"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <form role="form" novalidate name="listNominationForm" ng-switch-when="listNomination" ng-submit="listNominationForm.$valid && email_nomination(guardian.email)">
                    <div class="form-group">
                        <label ia-label required translation="common.selectExistingContact"></label>

                        <div class="custom_select" ng-class="{'has-error': listNominationForm.$submitted && listNominationForm.guardian_list.$invalid}">
                            <ia-contacts member="member" ng-model="guardian" target="guardians" name="guardian_list" required></ia-contacts>
                        </div>
                        <div ng-show="listNominationForm.$submitted" ng-messages="listNominationForm.guardian_list.$error">
                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.guardianRequired"></span></div>
                        </div>
                        <div ng-repeat="error in errors">
                            <div class="alert alert-danger">{{error.message}}</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-theme btn-150 btn-block" i18n="common.sendNomination"></button>
                    </div>
                </form>
                <form role="form" novalidate name="emailNominationForm" ng-switch-when="emailNomination" ng-submit="emailNominationForm.$valid && email_nomination(email)">
                    <div>
                    <strong i18n="common.enterGuardianEmailForInvitation"></strong>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label ia-label required message="tooltips.guardianEmail" translation="common.emailAddress"></label>

                        <div class="input-email" ng-class="{'has-error': emailNominationForm.$submitted && emailNominationForm.email.$invalid}">
                            <input class="form-control" name="email" ng-model="email"
                                   data-i18n-attr="{placeholder: 'common.emailAddress'}"
                                   autocomplete="off" type="email" email ng-required="true">
                        </div>
                        <div ng-show="emailNominationForm.$submitted" ng-messages="emailNominationForm.email.$error">
                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.emailRequired"></span></div>
                            <div class="alert alert-danger" ng-message="email"><span i18n="errors.emailFormat"></span></div>
                        </div>
                        <div ng-repeat="error in errors">
                            <div class="alert alert-danger">{{error.message}}</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg btn-block btn-web" i18n="common.sendNomination">
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </div>

</div>
