<div class="popup-b02-input-email">
    <div class="modal-content">
        <div class="modal-body text-center">
            <section class="content">
                <div class="pb-15">
                    <p ng-if="atLeastOneGuardian(guardians)" i18n="common.removeGuardianAtLeastOne" data-guardian="{{PersonName.build(guardian.first_name ,  guardian.middle_name , guardian.last_name) || guardian.email}}"></p>
                    <p ng-if="!atLeastOneGuardian(guardians)" i18n="common.removeGuardianSure" data-guardian="{{PersonName.build(guardian.first_name ,  guardian.middle_name , guardian.last_name) || guardian.email}}"></p>
                </div>
                <p>
                    <button href="javascript:void(0);" ng-click="ok()" class="btn btn-theme btn-150 btn-block" i18n="common.yes"></button>
                </p>
                <p>
                    <button href="javascript:void(0);" ng-click="cancel()" class="btn btn-white btn-150 btn-block" i18n="common.no"></button>
                </p>
            </section>
        </div>
    </div>
</div>
