<div id="main-load-content" class="container no-padding">
    <ul class="about">
        <li>
            <a ui-sref="base.aboutus" i18n="common.aboutUs"></a>
        </li>
        <li>
            <a ui-sref="base.faq" i18n="common.faq"></a>
        </li>
        <li>
            <a ui-sref="base.contactus" i18n="common.contactUs"></a>
        </li>
        <li>
            <a ui-sref="base.terms" i18n="common.termsAndConditions"></a>
        </li>
        <li>
            <a ui-sref="base.privacy" i18n="common.privacyPolicy"></a>
        </li>
    </ul>
</div>
