<div id="main-load-content">
    <div class="content login_help">

        <div class="container">

            <form name="HelpForm" novalidate ng-submit="HelpForm.$valid && handle(data)">
                <div class="form-mid">
                    <div class="form-group">
                        <div ng-if="success" class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only" i18n="common.close"></span></button>
                            <span i18n="common.successMessage" data-message="{{ success.message }}" data-returnTime="{{ times }}"></span>
                        </div>
                        <div ng-if="needHelp" class="alert alert-danger alert-dismissible" role="alert" i18n="common.incorrectSecurityAnswers">
                        </div>
                        <div ng-if="error" class="alert alert-danger alert-dismissible" role="alert">
                            {{error.message}}
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': ContactUsForm.$submitted && ContactUsForm.help_type.$invalid}">
                        <label ia-label required translation="common.queryType"></label>

                        <select ng-model="data.subject"
                                name="help_type"
                                class="form-control"
                                ng-options="type.id as type.name for type in results = (globals.settings.query_types.toArray() | optionsTrans:'name' | optionsSort:'name')"
                                required>
                            <option class="hide" value="" i18n="common.queryType"></option>
                        </select>
                        <div ng-show="HelpForm.$submitted" ng-messages="HelpForm.help_type.$error">
                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.queryTypeRequired"></span></div>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-4 col-first">
                            <label i18n="common.lastName"></label>
                        </div>
                        <div class="col-xs-4">
                            <label i18n="common.firstName"></label>
                        </div>
                        <div class="col-xs-4">
                            <label i18n="common.middleName"></label>
                        </div>

                        <div class="col-xs-4 col-first">
                            <div class="maditory-wrap" ng-class="{'has-error': HelpForm.$submitted && HelpForm.last_name.$invalid}">
                                <input type="text" name="last_name"
                                       data-i18n-attr="{placeholder: 'common.lastName'}" class="form-control" ng-model="data.last_name"
                                       required>
                                <span class="madi-start">*</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="maditory-wrap" ng-class="{'has-error': HelpForm.$submitted && HelpForm.first_name.$invalid}">
                                <input type="text" name="first_name"
                                       data-i18n-attr="{placeholder: 'common.firstName'}" class="form-control" ng-model="data.first_name"
                                       required>
                                <span class="madi-start">*</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <input type="text" data-i18n-attr="{placeholder: 'common.middleName'}" class="form-control"
                                   ng-model="data.middle_name">
                        </div>

                        <div ng-show="HelpForm.$submitted" ng-messages="HelpForm.last_name.$error">
                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.lastNameRequired"></span></div>
                        </div>
                        <div ng-show="HelpForm.$submitted" ng-messages="HelpForm.first_name.$error">
                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.firstNameRequired"></span></div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': HelpForm.$submitted && HelpForm.contact_email.$invalid}">
                        <label ia-label required message="tooltips.contactEmail" translation="common.contactEmail"></label>
                        <input type="email" name="contact_email" data-i18n-attr="{placeholder: 'common.emailAddress'}"
                               class="form-control"
                               ng-model="data.email" required>

                        <div ng-show="HelpForm.$submitted" ng-messages="HelpForm.contact_email.$error">
                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.emailRequired"></span></div>
                            <div class="alert alert-danger" ng-message="email"><span i18n="errors.emailFormat"></span></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label ia-label required translation="common.message"></label>
                        <textarea cols="5" rows="4" data-i18n-attr="{placeholder: 'common.message'}" class="form-control" ng-model="data.message" required></textarea>
                        <div ng-show="HelpForm.$submitted" ng-messages="HelpForm.contact_us_message.$error">
                            <div class="alert alert-danger" ng-message="required"><span i18n="errors.contactUsNoteRequired"></span></div>
                        </div>
                    </div>

                    <!--<div class="form-group">-->
                        <!--<div class="service-info">-->
                            <!--<span i18n="common.customerService"></span> <strong i18n="common.customerServicePhone"></strong>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="text-center btn-lg-wrap">
                        <button type="submit" class="btn btn-theme btn-180" i18n="common.send">
                        </button>
                    </div>

                </div>
                <!--form-mid -->
            </form>
        </div>
    </div>
</div>
