<div class="form-outer" back-button="base.home">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 loginHome">
                    <div ng-if="resetPassword" class="alert alert-success row" role="alert">
                        {{resetPassword.message}}
                    </div>
                    <div ng-if="activated == 1" class="alert alert-success row" role="alert" i18n="common.accountActivationSuccess">
                    </div>
                    <div ng-if="activated == 2" class="alert alert-info row" role="alert" i18n="common.accountAlreadyActivated">
                    </div>
                    <div ng-if="activated == 0" class="alert alert-warning row" role="alert" i18n="common.accountDoesNotExist">
                    </div>
                    <div ng-if="activated == -1" class="alert alert-danger row" role="alert" i18n="common.accountActivationError">
                    </div>
                    <div ng-if="emailUpdated == 1" class="alert alert-success row" role="alert" i18n="common.emailUpdated">
                    </div>
                    <div ng-if="farewell" class="alert alert-success row" role="alert" i18n="common.farewell">
                    </div>
                    <form role="form" novalidate name="FormLogin" ng-submit="FormLogin.$valid && acclogin(username, password,wechat);">
                    <span class="title heading_txt" page-title ng-if="!isHome"></span>
                        <div class="row form-section">
                            <div ng-class="{'has-error' : (FormLogin.username.$hasVisited || FormLogin.$submitted) && FormLogin.username.$invalid}">
                                <input class="form-control login-text field-user"
                                       type="text" name="username"
                                       ng-model="username" data-i18n-attr="{placeholder: 'common.emailOrMemberId'}"
                                       autocomplete=off
                                       required>

                                <div ng-show="FormLogin.username.$hasVisited || FormLogin.$submitted" ng-messages="FormLogin.username.$error">
                                    <div class="alert alert-danger" ng-message="required"><span i18n="errors.iceIdOrEmailRequired"></span></div>
                                </div>
                            </div>

                            <div class="login-form-password" ng-class="{'has-error' : (FormLogin.password.$hasVisited || FormLogin.$submitted) && FormLogin.password.$invalid}">
                                <input class="form-control login-text field-pass"
                                       ng-minlength=4
                                       ng-maxlength=12
                                       type="{{inputType?'text':'password'}}"
                                       name="password" ng-model="password"
                                       data-i18n-attr="{placeholder: 'common.password'}"
                                       required>
                                <div ng-show="FormLogin.password.$hasVisited || FormLogin.$submitted" ng-messages="FormLogin.password.$error">
                                    <div class="alert alert-danger" ng-message="required"><span i18n="errors.passwordRequired"></span></div>
                                    <div class="alert alert-danger" ng-message="minlength"><span i18n="errors.minlength"></span></div>
                                    <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.maxlength"></span></div>
                                </div>
                            </div>
                            <input type="hidden" name="wechat" ng-model="wechat">

                            <div ng-show="FormLogin.$submitted && errors">
                                <div class="alert alert-danger" ng-repeat="error in errors">
                                    {{error.message}}
                                </div>
                            </div>

                            <div class="display-section login-wr clearfix">
                                <p class="display-password">
                                    <label><input type="checkbox" ng-model="inputType" ng-checked="false"> <span i18n="common.displayPassword"></span></label>
                                </p>
                                <p class="forgot-password hide">
                                    <label><input ng-model="remember" type="checkbox"> <span i18n="common.rememberMe"></span></label>
                                </p>
                            </div>

                            <div class="text-center">
                                <p class="login-btn">
                                    <button type="submit"
                                            class="btn btn-lg btn-theme btn-150 block-mob mrb-16" i18n="common.logIn">
                                    </button>
                                    <button ui-sref="base.registration.register" ng-click="register()"
                                             class="btn btn-lg btn-white btn-150 block-mob" i18n="common.register">
                                    </button>
                                </p>

                                <p class="forgot_password_link">
                                    <a ui-sref="base.forgot-password.email" ng-click="forgotPassword();" href="" class="underline " i18n="common.forgotPassword"></a>
                                </p>

                                <p class="resend_account_active_link">
                                    <a ui-sref="base.resend-active-email" ng-click="resendActiveEmail();" href="" class="underline " i18n="common.resendActiveEmailLink"></a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
