<div class="form-outer" back-button="base.home">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-11 loginHome login_form article-wrap">
                    <div ng-if="resetPassword" class="alert alert-success row" role="alert">
                        {{resetPassword.message}}
                    </div>
                    <div ng-if="activated == 1" class="alert alert-success row" role="alert" i18n="common.accountActivationSuccess">
                    </div>
                    <div ng-if="activated == 2" class="alert alert-info row" role="alert" i18n="common.accountAlreadyActivated">
                    </div>
                    <div ng-if="activated == 0" class="alert alert-warning row" role="alert" i18n="common.accountDoesNotExist">
                    </div>
                    <div ng-if="activated == -1" class="alert alert-danger row" role="alert" i18n="common.accountActivationError">
                    </div>
                    <div ng-if="emailUpdated == 1" class="alert alert-success row" role="alert" i18n="common.emailUpdated">
                    </div>
                    <div ng-if="farewell" class="alert alert-success row" role="alert" i18n="common.farewell">
                    </div>
                    <form role="form" novalidate name="FormLogin" ng-submit="FormLogin.$valid && login(username, password,remember);">
                    <span class="title heading_txt" ng-src="" ng-if="!isHome">
                         <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
         width="48.4000000pt" height="48.6000000pt" viewBox="0 0 324.000000 326.000000"
         preserveAspectRatio="xMidYMid meet">
        <metadata>
        </metadata>
            <g id="glogo" transform="translate(0.000000,326.000000) scale(0.100000,-0.100000)"
            fill="#37B2FA" stroke="none">
            <path d="M1350 3249 c-440 -43 -896 -189 -1274 -407 l-79 -45 6 -201 c21 -727
            280 -1391 750 -1917 216 -242 516 -486 785 -637 l73 -42 79 40 c43 22 139 80
            214 130 564 377 961 888 1167 1500 105 314 169 699 169 1019 l0 109 -67 40
            c-330 195 -739 335 -1163 398 -127 18 -525 27 -660 13z m729 -475 c96 -28 171
            -123 171 -215 0 -73 -18 -117 -68 -169 -96 -99 -239 -101 -336 -4 -131 132
            -65 350 119 395 46 11 57 10 114 -7z m-354 -460 c74 -19 135 -54 198 -113 121
            -113 159 -261 122 -472 -76 -437 -432 -775 -869 -827 -78 -10 -75 -3 9 22 221
            67 434 268 514 486 49 132 66 319 38 397 -22 60 -72 117 -128 148 -48 27 -63
            30 -139 30 -68 0 -93 -5 -125 -22 -61 -33 -115 -95 -136 -155 -15 -44 -19 -50
            -26 -33 -17 42 -8 148 17 200 34 70 107 139 175 164 61 23 165 28 211 11 49
            -19 51 6 3 31 -58 30 -194 38 -258 16 l-43 -15 26 26 c95 100 267 144 411 106z"/>
            </g>
        </svg>
                    </span>
                        <p i18n="common.ECPInvitationTips" ng-if="iswechat"></p>
                        <div class="row form-section">
                            <div ng-class="{'has-error' : (FormLogin.username.$hasVisited || FormLogin.$submitted) && FormLogin.username.$invalid}">
                                <input class="form-control login-text field-user"
                                       type="text" name="username"
                                       ng-model="username" data-i18n-attr="{placeholder: 'common.emailOrMemberId'}"
                                       autocomplete=off
                                       required>

                                <div ng-show="FormLogin.username.$hasVisited || FormLogin.$submitted" ng-messages="FormLogin.username.$error">
                                    <div class="alert alert-danger" ng-message="required"><span i18n="errors.iceIdOrEmailRequired"></span></div>
                                </div>
                            </div>

                            <div class="login-form-password" ng-class="{'has-error' : (FormLogin.password.$hasVisited || FormLogin.$submitted) && FormLogin.password.$invalid}">
                                <input class="form-control login-text field-pass"
                                       ng-minlength=4
                                       ng-maxlength=12
                                       type="{{inputType?'text':'password'}}"
                                       name="password" ng-model="password"
                                       data-i18n-attr="{placeholder: 'common.password'}"
                                       required>
                                <div ng-show="FormLogin.password.$hasVisited || FormLogin.$submitted" ng-messages="FormLogin.password.$error">
                                    <div class="alert alert-danger" ng-message="required"><span i18n="errors.passwordRequired"></span></div>
                                    <div class="alert alert-danger" ng-message="minlength"><span i18n="errors.minlength"></span></div>
                                    <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.maxlength"></span></div>
                                </div>
                            </div>

							<input type="hidden" name="wechat" ng-model="wechat">

                            <div ng-show="FormLogin.$submitted && errors">
                                <div class="alert alert-danger" ng-repeat="error in errors">
                                    {{error.message}}
                                </div>
                            </div>

                            <div class="display-section login-wr clearfix">
                                <p class="display-password">
                                    <label><input type="checkbox" ng-model="inputType" ng-checked="false"> <span i18n="common.displayPassword"></span></label>
                                </p>
                                <p class="forgot-password">
								<p class="forgot-password hide">
                                    <label><input ng-model="remember" type="checkbox"> <span i18n="common.rememberMe"></span></label>
                                </p>
                            </div>

                            <div class="text-center">
                                <p class="login-btn">
									<a href="{{hrefbase}}/weixin/qrcode" class="btn btn-lg btn-theme btn-150 block-mob mrb-16" i18n="common.wctlogIn" ng-if="!iswechat"> </a>
                                    <button type="submit"
                                            class="btn btn-lg btn-theme btn-150 block-mob mrb-16" i18n="common.logIn">
                                    </button>

                                 <a href="{{hrefbase}}/weixin/getUserInfo?invitation_id={{invitation_id}}" ng-if="iswechat" class="btn btn-lg btn-white btn-150 block-mob" i18n="common.register"></a>

                                 <button ui-sref="base.registration.register" ng-click="register()" ng-if="!iswechat"
                                             class="btn btn-lg btn-white btn-150 block-mob" i18n="common.register">
                                    </button>
                                </p>

                                <p class="forgot_password_link">
                                    <a ui-sref="base.forgot-password.email" ng-click="forgotPassword();" href="" class="underline " i18n="common.forgotPassword"></a>
                                </p>

                                <p class="resend_account_active_link">
                                    <a ui-sref="base.resend-active-email" ng-click="resendActiveEmail();" href="" class="underline " i18n="common.resendActiveEmailLink"></a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
