<div class="popup-b02-input-email">

    <div class="modal-content">
        <div class="modal-body text-left">
            <h3 class="text-left"><i href="javascript:void(0);" ng-click="cancel();" class="close"></i></h3>
            <section class="content" ng-switch on="modalContent">
                <div class="center">
                <img class="weixin-qr" href="javascript: void(0)" src="images/woa-code.png">
                 <p>为了给你提供更好的服务，请用微信扫描并关注我们的微信号。</p>
                </div>
            </section>
        </div>
    </div>
</div>
