<div id="loadingWidget" class="woaqrcode">
    <div class="popup-b02-input-email">

        <div class="modal-content">
            <div class="modal-body text-left">
                <section class="content" ng-switch on="modalContent">
                    <div class="center btn-lg-wrap">
                        <img class="weixin-qr" href="javascript: void(0)" src="images/woa-code.png">
                         <p i18n="common.woaqrcodeMsg"></p>
                        <br>
                        <button ui-sref="base."
                        class="btn btn-lg btn-theme btn-150 block-mob" i18n="common.backLogin">
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>
