<div class="Panic_button alert_middle">
<div class="trigger_btn col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <div class="type "  ng-if="alert_history.type == 'normal'">
        <div class="title" i18n="common.emergencyAlertTriggered"></div class="title">
    </div>
    <div class="type" ng-if="alert_history.type == 'panic'">
        <div class="title" i18n="common.panicButtonTriggered"></div class="title">
    </div>
    <div class="time-ago text-left">
        <p time-ago="{{alert_history.alerted_at}}"></p>
    </div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <a style="width: 100%;" href="tel:{{alert_history.phone.number | phoneNumber}}">
        <div class="col-xs-12 contact-number contactn_button"  ng-class = "{'no-location': !alert_history.location}">
            <div i18n="common.contactNumber" data-formatted-number="{{alert_history.phone.number | phoneNumber}}" data-number="{{alert_history.phone.number}}"></div>
        </div>
    </a>
</div>
<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3 text-right location-btn" ng-show="alert_history.location">
        <a ia-view-location location="alert_history.location" class="btn-emergency" i18n="common.checkTheLocation"></a>
		<!--<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3 text-right location-btn" ng-show="alert_history.location">-->
     <!--<a ia-view-location location="alert_history.location" class="btn-emergency" i18n="common.checkTheLocation"></a>-->
 <!--</div>-->
<!--  <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3 text-right location-btn">
     <a ui-sref="base.map({alert_id: alert_history.id})" class="btn-emergency" i18n="common.checkTheLocation"></a>
    </div> -->

</div>






