<form role="form" novalidate name="ChangeSecurityQuestion1Form" ng-submit="ChangeSecurityQuestion1Form.$valid && verifySecurityQuestion(answer, 1);">
    <div class="form-in pt-35">
        <div class="widget">
            <div>
                <p i18n="common.pleaseAnswerToReset"></p>
                <div class="help-block error text-center" ng-show="errors" ng-repeat="error in errors">
                    {{error.message}}
                </div>
            </div>
        </div>

        <div class="form-sub-in">
            <div class="form-group">
                <label ia-label required>{{questions[0][getLocalizedField('title')]}}</label>
                <div class="no-margin">
                    <div class="col-md-12 no-padding" ng-class="{'has-error': ChangeSecurityQuestion1Form.$submitted && ChangeSecurityQuestion1Form.security_answer1.$invalid}">
                        <input name="security_answer1" class="form-control" data-i18n-attr="{placeholder: 'common.securityAnswer1'}" ng-model="answer" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label ia-label required message="tooltips.captcha" translation="common.captcha"></label>
                <captcha class="row no-margin">
                    <div class="col-xs-8" ng-class="{'has-error': ChangeSecurityQuestion1Form.$submitted && ChangeSecurityQuestion1Form.captcha1.$invalid}">
                        <input type="text" ng-model="captcha1" class="form-control" captcha-validator data-i18n-attr="{placeholder: 'common.inputCaptcha'}" name="captcha1"
                               required>
                    </div>
                    <div class="col-xs-4">
                        <canvas ia-captcha class="col-offset-3_3" width="85" height="32"></canvas>
                    </div>
                </captcha>
            </div>
            <div ng-show="ChangeSecurityQuestion1Form.$submitted" ng-messages="ChangeSecurityQuestion1Form.security_answer1.$error">
                <div class="alert alert-danger" ng-message="required"><span i18n="errors.securityAnswer1Required"></span></div>
            </div>
            <div ng-show="ChangeSecurityQuestion1Form.$submitted" ng-messages="ChangeSecurityQuestion1Form.captcha1.$error">
                <div class="alert alert-danger" ng-message="required"><span i18n="errors.captchaRequired"></span></div>
                <div class="alert alert-danger" ng-message="captcha"><span i18n="errors.captchaNotValid"></span></div>
            </div>
            <div class="text-center btn-lg-wrap">
                <p><button type="submit" class="btn btn-theme btn-150 block-mobile" i18n="common.next"></button></p>
                <a ui-sref="base.contactus" class="underline" i18n="common.needHelp"></a>
            </div>
        </div>
    </div>
</form>
