<form novalidate name="UpdateSecurityQuestionForm" ng-submit="UpdateSecurityQuestionForm.$valid && handle(account);">
    <div class="form-in pt-35">
        <div class="widget">
            <div>
                <div class="help-block error text-center" ng-show="errors" ng-repeat="error in errors">
                    {{error.message}}
                </div>
            </div>
        </div>

        <div class="form-sub-in">
            <label ia-label required message="tooltips.securityQuestion" translation="common.securityQuestion1"></label>
            <div class="no-margin">
                <div class="col-md-12 no-padding">

                    <div class="custom_select" ng-class="{'has-error': UpdateSecurityQuestionForm.$submitted && UpdateSecurityQuestionForm.security_question_1.$invalid}">
                        <select class="form-control"
                                name="security_question_1"
                                ng-model="account.security_question_1"
                                ng-options="item.id as item.title for item in results = (globals.settings.security_questions.toArray() | optionsTrans:'title' | integerFilter:{id: account.security_question_2}:true)"
                                required></select>
                    </div>

                </div>

            </div>

            <div class="form-group">
                <label><span i18n="common.securityAnswer1"></span> <span class="require"><i class="icon-star_icon"></i></span></label>
                <div class="no-margin">
                    <div class="col-md-12 no-padding" ng-class="{'has-error': UpdateSecurityQuestionForm.$submitted && UpdateSecurityQuestionForm.update_security_answer1.$invalid}">
                        <input name="update_security_answer1" class="form-control" data-i18n-attr="{placeholder: 'common.securityAnswer1'}" ng-model="account.security_answer_1" required>
                    </div>
                </div>
                <div ng-show="UpdateSecurityQuestionForm.$submitted" ng-messages="UpdateSecurityQuestionForm.update_security_answer1.$error">
                    <div class="alert alert-danger" ng-message="required"><span i18n="errors.securityAnswer1Required"></span></div>
                </div>
            </div>

            <div class="form-sub-in">
                <label ia-label required message="tooltips.securityQuestion" translation="common.securityQuestion2"></label>
                <div class="no-margin">
                    <div class="col-md-12 no-padding">

                        <div class="custom_select" ng-class="{'has-error': UpdateSecurityQuestionForm.$submitted && UpdateSecurityQuestionForm.security_question_2.$invalid}">
                            <select class="form-control"
                                    name="security_question_2" ng-model="account.security_question_2"
                                    ng-options="item.id as item.title for item in results = (globals.settings.security_questions.toArray() | optionsTrans:'title' | integerFilter:{id: account.security_question_1}:true)"
                                    required></select>
                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <label><span i18n="common.securityAnswer2"></span> <span class="require"><i class="icon-star_icon"></i></span></label>
                    <div class="no-margin">
                        <div class="col-md-12 no-padding" ng-class="{'has-error': UpdateSecurityQuestionForm.$submitted && UpdateSecurityQuestionForm.security_answer_2.$invalid}">
                            <input name="security_answer_2" class="form-control" data-i18n-attr="{placeholder: 'common.securityAnswer2'}" ng-model="account.security_answer_2" required>
                        </div>
                    </div>
                    <div ng-show="UpdateSecurityQuestionForm.$submitted" ng-messages="UpdateSecurityQuestionForm.security_answer_2.$error">
                        <div class="alert alert-danger" ng-message="required"><span i18n="errors.securityAnswer2Required"></span></div>
                    </div>
                </div>
                <div class="text-center btn-lg-wrap">
                    <p><button type="submit" class="btn btn-theme btn-150 block-mobile" i18n="common.updateSecurityQuestion"></button></p>
                    <a ui-sref="base.contactus" class="underline" i18n="common.needHelp"></a>
                </div>
            </div>
        </div>
    </div>
</form>
