<div id="main-load-content" class="view-member">
    <section class="content">
        <div class="container no-padding">

            <!-- Basic Information -->
            <div class="title">
                <h3 i18n="common.basicInfo"></h3>
            </div>
            <div class="section-wrap holder member-box">
                <div class="clearfix">
                    <div class="section holder">
                        <div class="row pb-15">
                            <div class="col-sm-4 col-xs-4 user_photo_box">
                                <ia-avatar avatar="{{ member.photo }}" badge="{ 'icon-account_holder_icon': account.id == member.id, 'icon-members_icon': account.id != member.id }"></ia-avatar>
                            </div>
                            <div class="col-sm-8 col-xs-8">

                                <h3 class="name-account" person-name email="{{ member.email }}" first-name="{{ member.first_name }}" middle-name="{{ member.middle_name }}" last-name="{{ member.last_name }}"></h3>

                                <member-id model="member"><span i18n="common.memberId"></span></member-id>

                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="row pb-15">
                            <ul class="nav nav-justified nav-member">
                                <li>
                                    <a href="" class="nav-history" member="member" permission="permission" email-profile><i class="icon-email_icon"></i> <br><span i18n="common.email"></span></a>
                                </li>
                            </ul>
                         </div>
                    </div>



                    <div class="box-view-pro">
                        <div class="col-md-6">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.nationality"></span>:</div>
                                        <div class="col-xs-8 name-pro">{{member.nationality | countryFilter:'name'}}</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.gender"></span>:</div>
                                        <div class="col-xs-8 name-pro">{{member.gender | settingsFilter:'genders':'name'}}</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.cellPhone"></span>:</div>
                                        <div class="col-xs-8 name-pro">{{member.phone.number}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.dateOfBirth"></span>:</div>
                                        <div class="col-xs-8 name-pro">
                                            <span full-date year="member.birth_date.year" month="member.birth_date.month" day="member.birth_date.day"> </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-xs-4 title-pro"><span i18n="common.emailAddress"></span>:</div>
                                        <div class="col-xs-8 name-pro">{{member.email}}</div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Basic Information -->

            <!-- Emergency Contacts -->
            <div class="title" ng-if="member.contacts.length > 0">
                <h3 i18n="common.emergencyContactPerson"></h3>
            </div>
            <div class="section-wrap member-box">
                <div class="clearfix">
                    <div class="section" ng-repeat="contact in member.contacts track by $index" ng-show="contact.status == 'accepted'">
                        <div ng-include="'partials/member/contacts.html'"></div>
                    </div>
                </div>
            </div>
            <!-- End Emergency Contacts -->


            <!-- Additional Information -->
            <div class="title">
                <h3 i18n="common.additionalInfo"></h3>
            </div>
            <div class="preview-profile">
                <!-- Nav tabs -->
                <ul class="nav nav-justified nav-tabs">
                    <li class="active">
                        <label for="personalCheckbox">
                            <input type="checkbox" id="personalCheckbox" ng-model="personalCheckbox" select-all-checkbox>
                            <a href="javascript:void(0);#Personal" class="tab-click tab-click-personal" data-toggle="tab" i18n="common.personal"></a>
                        </label>
                    </li>
                    <li>
                        <label for="insuranceCheckbox">
                            <input type="checkbox" id="insuranceCheckbox" ng-model="insuranceCheckbox" select-all-checkbox>
                            <a href="javascript:void(0);#Insurance" class="tab-click tab-click-insurance" data-toggle="tab" i18n="common.insurance"></a>
                        </label>
                    </li>
                    <li>
                        <label for="medicalCheckbox">
                            <input type="checkbox" id="medicalCheckbox" ng-model="medicalCheckbox" select-all-checkbox>
                            <a href="javascript:void(0);#Medical" class="tab-click tab-click-medical" data-toggle="tab" i18n="common.medical"></a>
                        </label>

                    </li>
                    <li>
                        <label for="lifestyleCheckbox">
                            <input type="checkbox" id="lifestyleCheckbox" ng-model="lifestyleCheckbox" select-all-checkbox>
                            <a href="javascript:void(0);#Lifestyle" class="tab-click tab-click-records" data-toggle="tab" i18n="common.records"></a>
                        </label>
                    </li>
                </ul>

                <form name="formViewMember">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active fade in" id="Personal">
                            <div class="panel">
                                <div class="panel-body">
                                    <div ng-include="'partials/member/personal/permission.html'"></div>
                                </div>
                            </div>
                        </div>
                        <!-- End Share Personal Information -->

                        <!-- Share Insurance Information -->
                        <div class="tab-pane" id="Insurance">
                            <div class="panel">
                                <div class="panel-body">
                                    <div ng-include="'partials/member/insurance/permission.html'"></div>
                                </div>
                            </div>
                        </div>
                        <!-- End Share Insurance Information -->

                        <!-- Share Medical Information -->
                        <div class="tab-pane" id="Medical">
                            <div class="panel-group">
                                <div ng-include="'partials/member/medical/permission.html'"></div>
                            </div>
                        </div>
                        <!-- End Share Medcial Information -->

                        <!-- Share Life Records -->
                        <div class="tab-pane" id="Lifestyle">

                            <div class="panel-group" id="accordion">
                                <div ng-include="'partials/member/record/permission.html'"></div>
                            </div>

                        </div>
                        <!-- End Share Life Records -->
                    </div>

                </form>

            </div>
            <!-- End Additional Information -->

        </div>
    </section>
</div>

<div ng-include="'partials/footer.html'"></div>
