<div class="form-outer">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 ">
            <div class="row form-section">
                <div class="registration-varification" ng-if="!iswechat">
                    <p i18n="common.thankYouForSigningIn" data-email="{{ account.email }}"></p>
                    <div id="forgot-pass-final-div">
                        <div class="text-center btn-lg-wrap">
                            <p>
                                <!--<ia-go-email ng-model="account.email"
                                             class="btn btn-theme btn-240"></ia-go-email>-->
                                            <button type="button" ui-sref = "base.home" class="btn btn-primary btn-lg btn-block btn-web" i18n="common.ok"></button>
                            </p>
                            <a ui-sref="base.contactus" class="underline" i18n="common.needHelp"></a>
                        </div>

                    </div>
                </div>
				<div class="registration-varification" ng-if="iswechat">
               <p i18n="common.thankYouForSigningInWX" data-email="{{ account.email }}">

               </p>
                    <p><img src="images/qrcode_reg.png" alt=""></p>
               <!--<div id="forgot-pass-final-div">-->
                   <!--<div class="text-center btn-lg-wrap">-->
                       <!--<p>-->
                         <!--<button type="button" ng-click="getTokenFun()" class="btn btn-primary btn-lg btn-block btn-web" i18n="common.okWX"></button>-->
                             <!--&lt;!&ndash;<a href="{{hrefbase}}/weixin/login" class="btn btn-primary btn-lg btn-block btn-web" i18n="common.okWX"></a>&ndash;&gt;-->
                       <!--</p>-->
                   <!--</div>-->

               <!--</div>-->
                    <div ng-if="hasinvitation">
                <p i18n="common.thankYouForSigningInWXTips"></p>
                   <p class="text-center"> <img src="images/option-reg.png" alt=""></p>
                    </div>
           </div>
            </div>

        </div>
    </div>
</div>
