
                <form role="form" id="registration-form" ia-form-error-scroller novalidate name="registrationForm" ng-submit="registrationForm.$valid && handle(account)">

                    <input type="text" name="invitation_id" ng-model="account.invitation_id">
					
                    <div class="box-register account_info_box">
                        <div i18n="common.ECPInvitationTips" ng-if="iswechat"></div>
                        <p></p>
                        <div class="form-group">
                            <label ia-label required translation="common.dateOfBirth"></label>
                            <ia-date required type="past-16" model="account.birth_date" form="registrationForm"></ia-date>
                            <div ng-show="(registrationForm.$submitted && (registrationForm.year.$invalid || registrationForm.month.$invalid || registrationForm.date.$invalid)) || (registrationForm.year.$hasVisited && registrationForm.year.$invalid) || (registrationForm.month.$hasVisited && registrationForm.month.$invalid) || (registrationForm.date.$hasVisited && registrationForm.date.$invalid)">
                                <div class="alert alert-danger"><span i18n="errors.birthDateRequired"></span></div>
                            </div>
                            <p class="guide" i18n="common.registrationAgeMessage"></p>
                        </div>
                        <div class="form-group">
                            <label ia-label required translation="common.accountLanguage"></label>
                            <br>
                            <div class="custom_select" ng-class="{'has-error': registrationForm.$submitted && registrationForm.language.$invalid}">
                                <select ng-model="account.language" class="form-control" name="language" ng-options="item.value as item.name for item in results = (globals.settings.support_languages.toArray() | optionsTrans:'name' | optionsSort:'id')" required>
                                    <option class="hide" value="" i18n="common.accountLanguage"></option>
                                </select>
                            </div>
                            <div ng-show="registrationForm.$submitted" ng-messages="registrationForm.language.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.languageRequired"></span></div>
                            </div>
                        </div>`

                        <div class="form-group" ng-class="{'has-error': (registrationForm.email.$hasVisited || registrationForm.$submitted) && registrationForm.email.$invalid}">
                            <label ia-label required translation="common.emailAddress"></label>
                            <input class="form-control" name="email" ng-model="account.email"
                                   onCopy="return false" onPaste="return false" autocomplete=off
                                   data-i18n-attr="{placeholder: 'common.emailAddress'}"
                                   validate-email-available account-id="{{account.id}}" type="email" ng-maxlength="64" required>

                            <div ng-show="registrationForm.email.$hasVisited || registrationForm.$submitted" ng-messages="registrationForm.email.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.emailRequired"></span></div>
                                <div class="alert alert-danger" ng-message="email"><span i18n="errors.emailFormat"></span></div>
                                <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.emailMaxLength"></span></div>
                                <div class="alert alert-danger" ng-message="available"><span i18n="errors.emailNotAvailable"></span></div>
                                <div class="alert alert-danger" ng-message="active"><span i18n="errors.emailInactive"></span></div>
                                <div class="alert alert-danger" ng-message="member"><span i18n="errors.memberEmailNotValid"></span></div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : (registrationForm.password.$hasVisited || registrationForm.$submitted) && registrationForm.password.$invalid}">
                            <label ia-label required translation="common.password"></label>

                            <input type="{{display_password ? 'text' : 'password'}}"
                                   class="form-control password"
                                   ng-model="account.password"
                                   onCopy="return false" onPaste="return false" autocomplete=off
                                   data-i18n-attr="{placeholder: 'common.password'}"
                                   ng-minlength=4 ng-maxlength=12 name="password" required>

                            <div ng-show="registrationForm.password.$hasVisited || registrationForm.$submitted" ng-messages="registrationForm.password.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.passwordRequired"></span></div>
                                <div class="alert alert-danger" ng-message="minlength"><span i18n="errors.minlength"></span></div>
                                <div class="alert alert-danger" ng-message="maxlength"><span i18n="errors.maxlength"></span></div>
                            </div>
                        </div>

                    </div>
                    <!--box-register-->

                    <div class="box-register">
                        <div class="form-group">
                            <label ia-label required translation="common.nationality"></label>
                            <div class="custom_select" ng-class="{'has-error': registrationForm.$submitted && registrationForm.nationality.$invalid}">
                                <select name="nationality" ng-model="account.nationality" class="form-control" ng-options="item.id as item.name for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'id')" required>
                                    <option value="" i18n="common.selectCountry"></option>
                                </select>
                            </div>
                            <div ng-show="registrationForm.$submitted" ng-messages="registrationForm.nationality.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.nationalityRequired"></span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row require-input">
                                <div class="col-xs-4">
                                    <label ia-label translation="common.lastName" required></label>
                                </div>
                                <div class="col-xs-4">
                                    <label ia-label translation="common.firstName" required></label>
                                </div>
                                <div class="col-xs-4">
                                    <label ia-label translation="common.middleName"></label>
                                </div>
                            </div>
                            <div class="row require-input">
                                <div class="col-xs-4" ng-class="{'has-error': registrationForm.$submitted && registrationForm.last_name.$invalid}">
                                    <input name="last_name" class="form-control" data-i18n-attr="{placeholder: 'common.lastName'}" ng-model="account.last_name" value="{{account.last_name}}" required>
                                    <span class="require">
                                    <i class="icon-star_icon"></i>
                                </span>
                                </div>
                                <div class="col-xs-4" ng-class="{'has-error': registrationForm.$submitted && registrationForm.first_name.$invalid}">
                                    <input name="first_name" class="form-control" ng-model="account.first_name" data-i18n-attr="{placeholder: 'common.firstName'}" ng-value="account.first_name" required>
                                    <span class="require">
                                    <i class="icon-star_icon"></i>
                                </span>
                                </div>
                                <div class="col-xs-4">
                                    <input ng-model="account.middle_name" class="form-control" name="middle_name" data-i18n-attr="{placeholder: 'common.middleName'}" ng-value="account.middle_name">
                                </div>
                            </div>
                            <div ng-show="registrationForm.$submitted" ng-messages="registrationForm.last_name.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.lastNameRequired"></span></div>
                            </div>
                            <div ng-show="registrationForm.$submitted" ng-messages="registrationForm.first_name.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.firstNameRequired"></span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label ia-label required translation="common.gender"></label>
                            <br>
                            <div class="custom_select" ng-class="{'has-error': registrationForm.$submitted && registrationForm.gender.$invalid}">
                                <select ng-model="account.gender" class="form-control" name="gender" ng-options="item.id as item.name for item in results = (globals.settings.genders.toArray() | optionsTrans:'name' | optionsSort:'name')" required>
                                    <option class="hide" value="" i18n="common.gender"></option>
                                </select>
                            </div>
                            <div ng-show="registrationForm.$submitted" ng-messages="registrationForm.gender.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.genderRequired"></span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label ia-label required translation="common.cellPhone"></label>
                            <div class="row">
                                <div class="col-xs-6 no-right-padding">
                                    <div class="custom_select" ng-class="{'has-error': registrationForm.$submitted && registrationForm.phonecode.$invalid}">
                                        <select name="phonecode" ng-model="account.phone.code" class="form-control" ng-options="item.id as (item.name + ' ' + item.phonecode) for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'id')" required>
                                            <option class="hide" value="" i18n="common.phoneCode"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-6 no-left-padding left_10" ng-class="{'has-error': registrationForm.$submitted && registrationForm.phonenumber.$invalid}">
                                    <input class="form-control" ng-model="account.phone.number" name="phonenumber" data-i18n-attr="{placeholder: 'common.telephoneNumber'}" phone-number phone-code="account.phone.code" required ng-keydown = "checkLength($event)">
                                </div>
                            </div>
                            <div ng-show="registrationForm.$submitted" ng-messages="registrationForm.phonecode.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.phoneCodeRequired"></span></div>
                            </div>
                            <div ng-show="registrationForm.$submitted" ng-messages="registrationForm.phonenumber.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.phoneNumberRequired"></span></div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="row box-upload">
                                <div class="col-xs-4">
                                    <div class="user-photo">
                                    <span class="avatar">
                                        <div class="photo">
                                            <img ng-class="{ 'empty': !account.photo }" ng-src="{{account.photo}}" alt="" width="auto" height="auto">
                                        </div>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-xs-8 photo_upload_text_box">
                                    <span i18n="common.photoUploadRecommendation"></span>
                                    <div class="upload_avatar">
                                        <button class="btn btn-primary btn-lg btn-block btn-web" type="button">
                                            <span class="upload-btn" i18n="common.upload"></span>
                                        </button>
                                        <ng-file accept="image/*" ng-model="account.photo" model="account" name="photo" max-size="3072"></ng-file>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-messages="registrationForm.photo.$error">
                            <div class="alert alert-danger" ng-message="filesize"><span i18n="errors.fileSize"></span></div>
                        </div>

                        <div ng-repeat="error in errors">
                            <div class="alert alert-danger">{{error.message}}</div>
                        </div>
                    </div>

                    <div class="title">
                        <h3 i18n="common.emergencyChannels"></h3>
                    </div>
                    <div class="box-register">

                        <p class="guide" i18n="common.emergencyChannelMessage"></p>
                    </div>
                    <!--hr-->
                    <div id="security" class="title">
                        <h3 i18n="common.securityInfo"></h3>
                    </div>
                    <div class="box-register">
                        <p class="guide" i18n="common.accountSecurityMessage"></p>
                        <label translation="common.securityExplanation"></label>
                        <br/>
                        <div class="form-group">
                            <label ia-label message="tooltips.securityQuestion" translation="common.securityQuestion1"></label>
                            <div class="custom_select">
                                <select required class="form-control" name="security_question_1" ng-required="account.security_question_1"  ng-model="account.security_question_1" ng-options="item.id as item.title for item in results = (globals.settings.security_questions.toArray() | optionsTrans:'title' | integerFilter:{id: account.security_question_2}:true)" >
                                    <option value="" i18n="common.selectSecurityQuestion"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="account.security_question_1">
                            <label ia-label translation="common.securityAnswer1"></label>
                            <input class="form-control" ng-model="account.security_answer_1" name="security_answer_1" data-i18n-attr="account.security_question_1 && !registrationForm.security_question_1.$dirty ? {placeholder: 'common.securityAnswer1set'} : {placeholder: 'common.securityAnswer1'} " type="text" ng-required="account.security_question_1 && registrationForm.security_question_1.$dirty">
                            <div ng-show="registrationForm.$submitted" ng-messages="registrationForm.security_answer_1.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.securityAnswer1Required"></span></div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="account.security_question_1">
                            <label ia-label message="tooltips.securityQuestion" translation="common.securityQuestion2"></label>
                            <div class="custom_select" ng-class="{'has-error': registrationForm.$submitted && registrationForm.security_answer_2.$invalid}">
                                <select ng-disabled="account.security_question_1 == undefined" required class="form-control" name="security_question_2" ng-invalid="account.security_question_1 == undefined && account.security_question_2 || account.security_question_1 && account.security_question_2 == undefined" ng-required="account.security_question_2" ng-model="account.security_question_2" ng-options="item.id as item.title for item in results = (globals.settings.security_questions.toArray() | optionsTrans:'title' | integerFilter:{id: account.security_question_1}:true )">
                                    <option value="" i18n="common.selectSecurityQuestion"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="account.security_question_1 && account.security_question_2">
                            <label ia-label translation="common.securityAnswer2"></label>
                            <input class="form-control" ng-model="account.security_answer_2" name="security_answer_2" data-i18n-attr="account.security_question_2 ? {placeholder: 'common.securityAnswer2set'} : {placeholder: 'common.securityAnswer2'} " type="text"       ng-required="account.security_question_1 && account.security_question_2 == undefined && registrationForm.security_question_2.$dirty ||
                                                registrationForm.security_question_1.$dirty && account.security_question_1">
                            <div ng-show="registrationForm.$submitted" ng-messages="registrationForm.security_answer_2.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.securityAnswer2Required"></span></div>
                            </div>
                        </div>
                    </div>

                    <!--Start footer-->
                    <div class="container no-padding full-extend pull-right">

                        <div id="edit-footer" class="container floating-footer">
                            <div class="row leftrow" >
                                <div class="col-md-8">
                                </div>
                                <div class="col-xs-12 col-md-12 col-lg-12">

                                    <div class="success-message member-save-info fade-in fade-message" hidden>
                                        <div class="alert alert-success" i18n="common.saveSuccessfully"></div>
                                    </div>

                                    <div class="save-group">
                                        <button ng-click="reset()" class="btn btn-default btn-lg btn-block btn-cancel btn-padding" i18n="common.cancelAllChanges"></button>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block btn-web btn-save" id="2registration-submit" i18n="common.register"></button>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div id="edit-footer2" class="container floating-footer">
                            <div class="row leftrow" >
                                <div class="col-md-8">
                                </div>
                                <div class="col-xs-12 col-md-12 col-lg-12">

                                    <div class="success-message member-save-info fade-in fade-message" hidden>
                                        <div class="alert alert-success" i18n="common.saveSuccessfully"></div>
                                    </div>

                                    <div class="save-group">
                                        <button ng-click="reset()" class="btn btn-default btn-lg btn-block btn-cancel btn-padding" i18n="common.cancelAllChanges"></button>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block btn-web btn-save" id="registration-submit" i18n="common.register"></button>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!--End footer-->
                    </br>
                </form>
