<div class="popup-login-final popup-decline">
    <div class="modal-body text-center">
        <form role="form">
            <div class="pb-15">
                <h3>&nbsp; <i href="javascript:void(0);" ng-click="cancel()" class="close"></i></h3>

                <div class="form-group">
                    <div class="help-block error" ng-show="error">

                    </div>
                    <label ia-label required class="left"><strong i18n="common.twitterNotification"></strong></label>

                    <div class="input-email">

                    <input class="form-control" name="emergency_channel_3_value" ng-model="account.emergency_channels.emergency_channel2.value" data-i18n-attr="{placeholder: 'common.twitterScreenName'}" type="text" required >

                    </div>

                    <div ng-if="error" class="alert alert-danger">{{error.message}}</div>

                </div>
            </div>
            <p><button type="button" ng-click="cancel()" href="" class="btn btn-theme btn-150 btn-block" i18n="common.ok"></button></p>
        </form>
    </div>
</div>
