<div class="popup-b02-input-email">

    <div class="modal-content">
        <div class="modal-body text-left">
            <h3 class="text-left"><i href="javascript:void(0);" ng-click="cancel();" class="close"></i></h3>
            <section class="content" ng-switch on="modalContent">
                <div class="pb-15 text-center">
                  
                    <p i18n="common.removeECPPartner" data-ecp="{{ PersonName.build(contact.first_name, null , contact.last_name, contact.nationality) || contact.email }} ({{contact.ice_id}})"></p>
                </div>
                <p>
                    <button href="javascript:void(0);" ng-click="ok(contact.ice_id)" class="btn btn-theme btn-150 btn-block" i18n="common.yes"></button>
                </p>
                <p>
                    <button href="javascript:void(0);" ng-click="cancel()" class="btn btn-white btn-150 btn-block" i18n="common.no"></button>
                </p>
            </section>
        </div>
    </div>
</div>