<div class="popup-b02-input-email">

    <div class="modal-content">
        <div class="modal-body text-left">
            <h3 class="text-left"><i href="javascript:void(0);" ng-click="cancel();" class="close"></i></h3>
            <section class="content" ng-switch on="modalContent">
                <div class="center">
               <h3 i18n="common.apiKeyReplaced"></h3>
               <button i18n="common.yesDefinitely" class="btn btn-default btn-cancel btn-lg btn-block btn-cancel" ng-click="renewApiKeyForPartner()"></button>
               <button i18n="common.noGoBack" class="bbtn btn-primary btn-lg btn-block btn-web btn-save" ng-click="cancel();"></button>
                </div>
            </section>
        </div>
    </div>
</div>