<div class="popup-accept">
    <div class="modal-body text-center">
        <div class="pb-15">
            <div class="col-xs-12">
                <div class="img-mobile">
                    <div class="img-person">
                        <ia-avatar avatar="{{ res.photo }}" badge="'icon-account_holder_icon'"></ia-avatar>
                    </div>
                </div>
            </div>
            <p>{{message.message}}</p>

        </div>
        <p><a href="javascript:void(0);" ng-click="ok();" class="btn btn-theme btn-150 btn-block" i18n="common.ok"></a></p>
    </div>
</div>
