<div class="popup-b02-input-email">
    <div class="modal-content">
        <div class="modal-body text-left">
            <section class="content" ng-switch on="modalContent">
                <div ng-switch-default>
                    <h3 class="text-left"><span i18n="common.addContact" data-full-name="{{ PersonName.build(member.first_name, member.middle_name, member.last_name) || member.email }}"></span><i href="javascript:void(0);" ng-click="cancel();" class="close"></i></h3>

                    <div class="bx-white nominate-contact">
                        <div class="row nominate_box">
                            <div ecp-exist member="member" account="account" class="col-md-6" ng-click="slideTo('selfNomination');">
                                <div class="box-person no-background">
                                <span class="icon-nominate">
                                   <i class="account_holder_icon"></i>
                                </span>

                                    <div class="text-nominate">
                                        <h3 i18n="common.nominateMyself"></h3>
                                        <div i18n="common.nominateMyselfDescription"></div>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="fa fa-chevron-circle-right"></a>
                            </div>
                            <div class="col-md-6" ng-click="slideTo('wechatNomination');">
                                <div class="box-person no-backgourd">
                                    <span class="icon-nominate1">
                                        <i class="add_wechat"></i>
                                    </span>
                                    <div class="text-nominate">
                                        <h3 i18n="common.chooseFromWct"></h3>
                                        <div i18n="common.chooseFromWctDescription"></div>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="fa fa-chevron-circle-right"></a>
                            </div>
                            <div class="col-md-6" ng-click="slideTo('listNomination');">
                                <div class="box-person no-backgourd">
                                    <span class="icon-nominate1">
                                       <i class="ecp_icon_list"></i>
                                    </span>

                                    <div class="text-nominate">
                                        <h3 i18n="common.chooseFromList"></h3>
                                        <div i18n="common.chooseFromListDescription"></div>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="fa fa-chevron-circle-right"></a>
                            </div>
                            <div class="col-md-6" ng-click="slideTo('emailNomination');">
                                <div class="box-person no-backgourd">
                                <span class="icon-nominate1">  <i class="add_user"></i>     </span>
                                    <div class="text-nominate">
                                        <h3 i18n="common.nominateNewPerson"></h3>
                                        <div i18n="common.nominateNewPersonDescription">
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="fa fa-chevron-circle-right"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--ecp list-->

                <div ng-switch-when="listNomination">
                    <h3 class="text-left"><span i18n="common.addContact" data-full-name="{{ PersonName.build(member.first_name, member.middle_name, member.last_name) || member.email }}"></span><i href="javascript:void(0);" ng-click="cancel();" class="close"></i></h3>

                    <form role="form" novalidate name="addContactForm" ng-submit="addContactForm.$valid && sendEmailNomination(member.id, contact.email)">
                        <div class="form-group">
                            <label ia-label required message="tooltips.selectEcp" translation="common.selectExistingContact"></label>
                            <div class="custom_select" ng-class="{'has-error': addContactForm.$submitted && addContactForm.contact_list.$invalid}">
                                <ia-contacts enable member="member" ng-model="contact" name="contact_list" required></ia-contacts>
                            </div>
                            <div ng-show="addContactForm.$submitted" ng-messages="addContactForm.contact_list.$error">
                                <div class="alert alert-danger" ng-message="required"><span i18n="errors.emergencyContactRequired"></span></div>
                            </div>
                            <div ng-repeat="error in errors">
                                <div class="alert alert-danger">{{error.message}}</div>
                            </div>
                        </div>
                        <p>
                            <button type="submit" class="btn btn-theme btn-150 btn-block" i18n="common.sendNomination"></button>
                        </p>
                    </form>
                </div>
                <div ng-switch-when="selfNomination">
                    <h3 class="text-left"><span i18n="common.addContact" data-full-name="{{ PersonName.build(member.first_name, member.middle_name, member.last_name) || member.email }}"></span><i href="javascript:void(0);" ng-click="cancel();" class="close"></i></h3>

                    <form role="form" name="FormSelfNominate">
                        <div class="form-group">
                            <p>
                                <button ng-click="nominateSelf(member.id, account.id);" class="btn btn-theme btn-150 btn-block" i18n="common.nominateMyself"></button>
                            </p>
                        </div>
                    </form>
                </div>
                <div ng-switch-when="emailNomination">
                    <h3 class="text-left"><span i18n="common.addContact" data-full-name="{{ PersonName.build(member.first_name, member.middle_name, member.last_name) || member.email }}"></span><i href="javascript:void(0);" ng-click="cancel();" class="close"></i></h3>

                    <form novalidate name="contactNominationForm" role="form" id="form" ng-submit="contactNominationForm.$valid && sendEmailNomination(member.id, email)">
                        <div class="pb-15">
                            <div class="form-group">
                                <label ia-label required message="tooltips.ecpEmail"><strong i18n="common.ecpEmail"></strong></label>

                                <div class="input-email" ng-class="{'has-error': contactNominationForm.$submitted && contactNominationForm.nomination_email.$invalid}">
                                    <input class="form-control"
                                           name="nomination_email"
                                           ng-model="email"
                                           type="email"
                                           data-i18n-attr="{placeholder: 'common.emailAddress'}"
                                           email enable required>
                                </div>
                                <div ng-show="contactNominationForm.$submitted" ng-messages="contactNominationForm.nomination_email.$error">
                                    <div class="alert alert-danger" ng-message="required"><span i18n="errors.emailRequired"></span></div>
                                    <div class="alert alert-danger" ng-message="email"><span i18n="errors.emailFormat"></span></div>
                                </div>
                                <div ng-repeat="error in errors">
                                    <div class="alert alert-danger">{{error.message}}</div>
                                </div>
                            </div>
                            <p>
                                <button class="btn btn-theme btn-150 btn-block" i18n="common.sendNomination"></button>
                            </p>
                        </div>
                    </form>
                </div>
                <div ng-switch-when="wechatNomination">
                    <h3 class="text-left"><i href="javascript:void(0);" ng-click="cancel();" class="close"></i></h3>

                    <div class="wechat-con text-center">
                        <img src="images/weixin_qr.png" alt="">
                        <span i18n="common.scanWithWechat" ></span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
