<div class="popup-b02-input-email">

    <div class="modal-content">
        <div class="modal-body text-left">
            <section class="content">
                <form role="form" novalidate name="nominationSuccessForm">
                    <h1 class="text-center">{{data.email}}</h1>
                    <div class="form-group" i18n="common.thankYouForYourInquiry"></div>
                    <div class="text-center">
                        <button type="button" ng-click="ok()" class="btn btn-primary btn-lg btn-block btn-web" i18n="common.ok"></button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
