<div class="popup-b02-input-email">
    <div class="modal-content">
        <div class="modal-body text-center">
            <section class="content">
                <div class="pb-15">
                    <p ng-if="memberHasTwoContacts(member)" i18n="common.removeContact" data-ecp="{{ PersonName.build(contact.first_name, null, contact.last_name, contact.nationality) || contact.email }}"></p>
                    <p ng-if="!memberHasTwoContacts(member)" i18n="common.removeContactSure" data-ecp="{{ PersonName.build(contact.first_name, null, contact.last_name, contact.nationality) || contact.email }}"></p>
                </div>
                <p>
                    <button href="javascript:void(0);" ng-click="ok()" class="btn btn-theme btn-150 btn-block" i18n="common.yes"></button>
                </p>

                <p>
                    <button href="javascript:void(0);" ng-click="cancel()" class="btn btn-white btn-150 btn-block" i18n="common.no"></button>
                </p>
            </section>
        </div>
    </div>
</div>
