<div id="main-load-content" back-button="base.home">
    <div class="main-wrap">
        <div class="container no-padding">
            <div class="row no-margin">
                <div class="col-xs-1"></div>
                <div class="col-xs-10 mobile-cover">
                    <div class="form-in">
                        <form action="javascript:void(0);" class="panic-sync-confirmation-form" name="PanicSyncConfirmationForm">
                            <div class="form-sub-in">
                                <p i18n="common.syncSuccessful"></p>
                                <p i18n="common.youCanPressPanicButtonMessage"></p>

                                <div class="full-width">
                                    <a ng-click="ok()" class="btn btn-primary btn-lg btn-block btn-web" i18n="common.ok"></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
