
<div class="trigger-panic">
    <div class="back">
        <a class="close" ng-click="cancelPanicAlert()" href=""></a>
    </div>
    <div class="warning">
        <div class=warning-image>
            <a class="cancel-trigger" href="" ng-click="cancelPanicAlert()" i18n="common.cancel"></a>
            <img ng-if="globals.language != 'zh-CN'" src="images/cancel-panic-button.gif" alt=""/>
            <img ng-if="globals.language == 'zh-CN'" src="images/cancel-panic-button-zh.gif" alt=""/>
            <div class="text-center">
                <h2 i18n="common.warning"></h2>
                <p i18n="common.youHaveTriggeredPanicButton" ia-panic-countdown data-timer="10"></p>
            </div>
        </div>
    </div>
</div>
