<div class="trigger-panic col-xs-12" back-button="base.home">
    <div class="back">
        <a class="close" ng-click="close()" href=""></a>
    </div>
    <div class="trigger-panic-success">
        <div class="widget trigger_an_alert text-center">
            <h4 i18n="common.triggerPanicSuccessful"></h4>
            <div>
                <p i18n="common.triggerPanicSuccessfulMessage" data-phone-link="{{triggerAccount.angel.number | removeWhitespace}}" data-phone="{{triggerAccount.angel.number}}"></p>

                <div ng-show="triggerAccount.contacts.length > 0">
                    <div class="divider"><span i18n="common.or"></span></div>
                    <p class="forgot-password-p" i18n="common.youCanCallThemRightNow"></p>
                    <div class="row widget tickets" ng-repeat="contact in triggerAccount.contacts track by $index">
                        <div class="col-xs-6">
                            <h1 class="name-account" person-name email="{{ contact.email }}" first-name="{{ contact.first_name }}" last-name="{{ contact.last_name }}" middle-name="{{ contact.middle_name }}"></h1>
                            <p full-phone-number phonenumber="contact.phone.number"></p>
                            <a href="tel:{{contact.phone.number | removeWhitespace}}" class="btn btn-theme btn-lg-land" i18n="common.call"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
