<div class="popup-b02-input-email">
    <div class="modal-content">
        <div class="modal-body text-center">
            <section class="content">
                <div class="form-in">
                    <form novalidate class="unsync-panic-button-form" name="UnsyncPanicForm">
                        <div class="form-sub-in">
                            <div class="alert alert-danger" ng-repeat="error in errors">{{error.message}}</div>
                            <h2 i18n="common.unsyncPanicFromDevice"></h2>
                            <p i18n="common.unsyncPanicFromDeviceMessage"></p>
                            <p>
                                <button href="javascript:void(0);" ng-click="ok()" class="btn btn-theme btn-150 btn-block" i18n="common.unsyncConfirm"></button>
                            </p>
                            <p>
                                <button href="javascript:void(0);" ng-click="cancel()" class="btn btn-white btn-150 btn-block" i18n="common.cancel"></button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
</div>