<div class="widget trigger_an_alert">
    <div>
        <p i18n="common.contactNumberRequiredMessage"></p>
    </div>
</div>

<div class="form-sub-in">
    <label ia-label required translation="common.enterPhone"></label>

    <div class="row form-section">
        <div class="col-xs-4 no-right-padding">
            <div class="custom_select" ng-class="{'has-error': TriggerAlertForm.$submitted && TriggerAlertForm.phone_code.$invalid}">
                <select name="phone_code"
                        ng-model="alert.phone.code"
                        class="form-control"
                        ng-options="item.id as (item.name + ' ' + item.phonecode) for item in results = (globals.settings.countries.toArray() | optionsTrans:'name' | optionsSort:'name')" required>
                    <option class="hide" value="" i18n="common.alertPhoneCode"></option>
                </select>
            </div>
        </div>
        <div class="col-xs-8 left_10" ng-class="{'has-error': TriggerAlertForm.$submitted && TriggerAlertForm.phone_number.$invalid}">
            <input class="form-control"
                   ng-model="alert.phone.number"
                   type="text"
                   name="phone_number"
                   phone-number
                   phone-code="alert.phone.code"
                   data-i18n-attr="{placeholder: 'common.contactPhone'}" required ng-keydown = "checkLength($event)">
        </div>
    </div>
    <div ng-repeat="error in errors">
        <div class="alert alert-danger">{{error.message}}</div>
    </div>

    <div class="text-center btn-lg-wrap">
        <p><button type="submit" class="btn btn-theme btn-150 block-mobile" i18n="common.alert"></button></p>
    </div>
</div>
